<div class="recebimento-form">
  <% if recebimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recebimento.errors.count, "error") %> prohibited this recebimento from being saved:</h2>

      <ul>
      <% recebimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @pessoa %>
    <nav class="navbar navcenter">
      <ul>
        <li>
          <%= link_to "Cadastro", @pessoa, class: 'icon-previous' %>
        </li>
        <li>
          <%= link_to "Financeiro", financeiro_pessoa_path(@pessoa), class: 'icon-coin-dollar' %>
          <ul>
            <li>
              <%= link_to "Recebimentos", recebimentos_pessoa_path(@pessoa) %>
            </li>
            <li>
              <%= link_to "Reajustes", acompanhamento_reajustes_pessoa_path(@pessoa) %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  <% end %>

  <%= form_with(model: recebimento, local: true) do |form| %>
    <div class="field">
      <% if @acompanhamento %>
        <%= form.hidden_field :acompanhamento_id, value: @acompanhamento.id %>
      <% else %>
        <% if @pessoa %>
          <% acompanhamentos = @pessoa.acompanhamentos %>
        <% else %>
          <% acompanhamentos = usuario_atual.financeiro? ? Acompanhamento.joins(:pessoa).order("pessoas.nome" => :asc, "pessoas.nome_do_meio" => :asc, "pessoas.sobrenome" => :asc) : usuario_atual.profissional.acompanhamentos.por_paciente_em_ordem_alfabetica %>
        <% end %>
        <%= form.label "Acompanhamento" %>
        <%= form.select :acompanhamento_id, acompanhamentos.map { |a| [a.render_info_padrao, a.id] } %>
      <% end %>
    </div>

    <div class="field">
      <%= form.label "Pagante" %>
      <%= form.select :pessoa_pagante_id, Pessoa.all.order(nome: :asc, sobrenome: :asc).map { |pessoa| [pessoa.nome_completo, pessoa.id] }, include_blank: "O próprio" %>
    </div>

    <div class="field">
      <%= form.label "Valor" %>
      <%# <%= form.number_field :valor %1> %>
      <input type="number" value="<%= "#{recebimento.valor / 100},#{(recebimento.valor % 100).to_s.insert(-1, "00")[..1]}" %>" name="recebimento[valor]" id="recebimento[valor]" min=0 step=".1">
    </div>

    <div class="field">
      <%= form.label "Data do pagamento" %>
      <%= form.date_field :data, value: recebimento.data || Date.today %>
    </div>

    <div class="field">
      <%= form.label :pagamento_modalidade_id, "Modalidade de pagamento" %>
      <%= form.select :pagamento_modalidade_id, PagamentoModalidade.all.map { |mod| [mod.modalidade, mod.id] } %>
    </div>

    <% if recebimento.id.nil? && !app_config.clinica_recebimentos_diretos %>
      <div class="field">
        <%= form.label :direto_profissional, "Direto para o profissional" %>
        <%= form.check_box :direto_profissional %>
      </div>
    <% end %>

    <div class="action">
      <%= form.submit "#{recebimento.id ? "Atualizar" : "Adicionar"}" %>
    </div>
  <% end %>
</div>
