<div id="recebimentos-navbar" <%== "hx-swap-oob=\"true\"" if hx_request? %>>
  <nav class="navbar navcenter">
    <form <%= hx_set get: recebimentos_path, target: "#recebimentos-info", swap: "outerHTML", replace_url: true, class: "text-center" %>>
      <label for="de">De</label>
      <input type="date" name="de" id="de" value="<%= @de %>">
      <label for="ate">Até</label>
      <input type="date" name="ate" id="ate" value="<%= @ate %>">

      <div >
        <label for="profissional">Profissional</label>
        <select id="profissional" name="profissional">
          <option value="">TODOS</option>
          <% Profissional.all.each do |profissional| %>
            <option value="<%= profissional.id %>" <%= "selected" unless profissional.id != params[:profissional] %>><%= profissional.descricao_completa %></option>
          <% end %>
        </select>
      </div>

      <div >
        <label for="pessoa">Paciente</label>
        <input type="text" name="pessoa" id="pessoa" value="<%= params[:pessoa] %>">
      </div>

      <div >
        <label for="pagante">Pagante</label>
        <input type="text" name="pagante" id="pagante" value="<%= params[:pagante] %>">
      </div>

      <div >
        <label for="modalidade">Tipo de pagamento</label>
        <select name="modalidade" id="modalidade">
          <option value="">TODOS</option>
          <% PagamentoModalidade.all.each do |pagamento_modalidade| %>
            <option value="<%= pagamento_modalidade.id %>" <%= "selected" unless pagamento_modalidade.id != params[:modalidade] %>><%= pagamento_modalidade.modalidade %></option>
          <% end %>
        </select>
      </div>

      <div>
        <input type="submit" value="Atualizar">
      </div>
    </form>
  </nav>

  <nav class="navbar navcenter" id="formatos-download">
      <ul>
        <%= links_download parameters: @params %>
        <%= links_download "Relatório do mês passado", parameters: @params.merge(de: (Date.current - 1.month).beginning_of_month, ate: (Date.current - 1.month).end_of_month) %>
        <%= links_download "Relatório do ano passado", parameters: @params.merge(de: (Date.current - 1.year).beginning_of_year, ate: (Date.current - 1.year).end_of_year) %>
        <%= links_download "Relatório deste mês", parameters: @params.merge(de: Date.current.beginning_of_month, ate: Date.current.end_of_month) %>
        <%= links_download "Relatório deste ano", parameters: @params.merge(de: Date.current.beginning_of_year, ate: Date.current.end_of_year) %>

        <% if usuario_atual.financeiro? %>
          <li>
            <%= link_to "Adicionar", new_recebimento_path, class: "icon-plus" %>
          </li>
        <% end %>
      </ul>
  </nav>
</div>
