<div id="recebimentos-navbar" <%== "hx-swap-oob=\"true\"" if hx_request? %>>
  <nav class="navbar navcenter">
    <form <%= hx_set get: recebimentos_path, target: "#recebimentos-info", swap: "outerHTML", replace_url: true, class: "text-center" %>>
      <label for="de">De</label>
      <input type="date" name="de" id="de" value="<%= @de %>">
      <label for="ate">Até</label>
      <input type="date" name="ate" id="ate" value="<%= @ate %>">

      <div >
        <label for="profissional">Profissional</label>
        <select id="profissional" name="profissional">
          <option value="">TODOS</option>
          <% Profissional.all.each do |profissional| %>
            <option value="<%= profissional.id %>" <%= "selected" unless profissional.id != params[:profissional] %>><%= profissional.descricao_completa %></option>
          <% end %>
        </select>
      </div>

      <div >
        <label for="pessoa">Paciente</label>
        <input type="text" name="pessoa" id="pessoa" value="<%= params[:pessoa] %>">
      </div>

      <div >
        <label for="pagante">Pagante</label>
        <input type="text" name="pagante" id="pagante" value="<%= params[:pagante] %>">
      </div>

      <div >
        <label for="modalidade">Tipo de pagamento</label>
        <select name="modalidade" id="modalidade">
          <option value="">TODOS</option>
          <% PagamentoModalidade.all.each do |pagamento_modalidade| %>
            <option value="<%= pagamento_modalidade.id %>" <%= "selected" unless pagamento_modalidade.id != params[:modalidade] %>><%= pagamento_modalidade.modalidade %></option>
          <% end %>
        </select>
      </div>

      <div>
        <input type="submit" value="Atualizar">
      </div>
    </form>
  </nav>

  <nav class="navbar navcenter" id="formatos-download">
    <ul>
      <li>
        <%= link_to "Baixar relatório", "javascript:void(0);", class: 'icon-download3' %>
        <ul>
          <li>
            <%= link_to "CSV", recebimentos_path(@params.merge(format: :csv)), class: 'icon-table2' %>
          </li>
          <li>
            <%= link_to "Excel", recebimentos_path(@params.merge(format: :xlsx)), class: 'icon-file-excel' %>
          </li>
          <li>
            <%= link_to "PDF", recebimentos_path(@params.merge(format: :pdf)), class: "icon-file-pdf", target: :blank %>
          </li>
          <li>
            <%= link_to "Recibos (markdown)", recebimentos_path(@params.merge(format: :zip)), class: 'icon-file-zip' %>
          </li>
          <li>
            <%= link_to "Recibos (PDF)", recebimentos_path(@params.merge(format: :zip, filetype: :pdf)), class: "icon-file-zip" %>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to "Relatório do mês atual", "javascript:void(0);", class: 'icon-download3' %>
        <ul>
          <li>
            <%= link_to "CSV", recebimentos_path(@params.merge(format: :csv, de: Date.today.beginning_of_month, ate: Date.today.end_of_month)), class: 'icon-table2' %>
          </li>
          <li>
            <%= link_to "Excel", recebimentos_path(@params.merge(format: :xlsx, de: Date.today.beginning_of_month, ate: Date.today.end_of_month)), class: 'icon-file-excel' %>
          </li>
          <li>
            <%= link_to "Recibos (markdown)", recebimentos_path(@params.merge format: :zip, de: Date.today.beginning_of_month, ate: Date.today.end_of_month), class: 'icon-file-zip' %>
            <%= link_to "Recibos (PDF)", recebimentos_path(@params.merge format: :zip, de: Date.today.beginning_of_month, ate: Date.today.end_of_month, filetype: :pdf), class: 'icon-file-zip' %>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to "Relatório do mês passado", "javascript:void(0);", class: 'icon-download3' %>
        <ul>
          <li>
            <%= link_to "CSV", recebimentos_path(@params.merge format: :csv, de: (Date.today - 1.month).beginning_of_month, ate: (Date.today - 1.month).end_of_month), class: 'icon-table2' %>
          </li>
          <li>
            <%= link_to "Excel", recebimentos_path(@params.merge format: :xlsx, de: (Date.today - 1.month).beginning_of_month, ate: (Date.today - 1.month).end_of_month), class: 'icon-file-excel' %>
          </li>
          <li>
            <%= link_to "Recibos (markdown)", recebimentos_path(@params.merge format: :zip, de: (Date.today - 1.month).beginning_of_month, ate: (Date.today - 1.month).end_of_month), class: 'icon-file-zip' %>
            <%= link_to "Recibos (PDF)", recebimentos_path(@params.merge format: :zip, de: (Date.today - 1.month).beginning_of_month, ate: (Date.today - 1.month).end_of_month, filetype: :pdf), class: 'icon-file-zip' %>
          </li>
        </ul>
      </li>

      <% if usuario_atual.financeiro? %>
        <li>
          <%= link_to "adicionar", new_recebimento_path, { class: "btn-dinheiro icon-plus" } %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
