<tr>
  <td><%= recebimento.beneficiario.nome_abreviado %></td>
  <td><%= recebimento.pagante.nome_abreviado %><br>CPF <%= recebimento.pagante.render_cpf %></td>
  <td style="text-align:center;"><%= render_data_brasil recebimento.data %></td>
  <td class="dinheiro"><%= render_dinheiro_centavos recebimento.valor %></td>
  <td style="text-align:center;"><%= recebimento.modalidade %></td>
  <td style="text-align:center;"><%= recebimento.profissional.descricao_completa %></td>
  <td style="text-align:center;"><%= recebimento.acompanhamento.tipo.upcase %></td>
  <td style="text-align:center;">
    <%= link_to "Mostrar", recebimento_url(recebimento) unless !(usuario_atual.financeiro? || usuario_atual.profissional == @acompanhamento&.profissional) %>
    <br>
    <%= link_to "Editar", edit_recebimento_url(recebimento) unless !(usuario_atual.financeiro? || usuario_atual.profissional == @acompanhamento&.profissional) %>
    <hr>
      <%= link_to "Recibo (MD)", recebimento_path(recebimento, format: :md), {target: :blank } %>
      <br>
      <%= link_to "Recibo (PDF)", recebimento_path(recebimento, format: :pdf), {target: :blank} %>
    <hr>
    <%#= link_to "Excluir", recebimento_path(recebimento), method: :delete, data: { confirm: "Tem certeza?" } %>
    <% if usuario_atual.financeiro? || usuario_atual.profissional == @acompanhamento&.profissional %>
      <a href="javascript:void(0);" hx-confirm="Tem certeza?" rel="nofollow" hx-delete="<%= recebimento_path(recebimento, authenticity_token: form_authenticity_token.to_s, ajax: true) %>" hx-swap="outerHTML" hx-target="#tabela-recebimentos">Excluir</a>
    <% end %>
  </td>
</tr>
