<table>
  <caption>
    <% ultima_data = defined?(ultima_data) && !ultima_data.nil? ? ultima_data : Date.today %>
    Cobrança pendente até
    <%= render_data_brasil ultima_data %>
    <%= ultima_data.end_of_month == (Date.today - 1.month).end_of_month ? "(mês passado)" : "" %>
    <%= if ultima_data == Date.today then "(hoje)" end %>

    </caption>
    </thead>
    <tr>
      <th>Paciente</th>
      <th>Serviço</th>
      <th>Profissional</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
      <% total = {
        atendimentos: 0,
        recebimentos: 0,
        cobrar: 0,
      }
    %>
  <% Acompanhamento.por_paciente_em_ordem_alfabetica.each do |acompanhamento| %>
    <% pessoa_com_quem_falar = acompanhamento.pessoa_responsavel || acompanhamento.pessoa %>
    <% valor_a_cobrar = acompanhamento.valor_a_cobrar(..ultima_data) %>
    <% mensagem_cobranca = "" %>
    <% mensagem_cobranca_dados = {
      inicio: "Olá, #{pessoa_com_quem_falar.nome_chamada}, tudo bem?",
      meio: "",
      data: "",
      valor: "",
      prazo: "",
      finalizacao: "",
    } %>

    <% if valor_a_cobrar > 0 %>
      <% mensagem_cobranca_pessoa_acompanhada = "" %>
      <% if acompanhamento.pessoa_responsavel && acompanhamento.pessoa_responsavel.id != acompanhamento.pessoa.id %>
        <% mensagem_cobranca_pessoa_acompanhada = "de #{acompanhamento.pessoa.nome_chamada}" %>
      <% end %>

      <% if acompanhamento.profissional == usuario_atual.profissional %>
        <% mensagem_cobranca_dados[:meio] = "Informo que o valor pendente para os atendimentos #{mensagem_cobranca_pessoa_acompanhada}" %>
      <% else %>
        <% mensagem_cobranca_dados[:meio] = "Sou #{usuario_atual.profissional.nome}, do espaço #{nome_da_clinica}. Informo que o valor pendente referente aos atendimentos #{mensagem_cobranca_pessoa_acompanhada} realizados pel#{acompanhamento.profissional.no_feminino ? "a" : "o"} #{acompanhamento.profissional.funcao.downcase} #{acompanhamento.profissional.nome}" %>
      <% end %>

      <% mensagem_cobranca_dados[:data] = "até o dia #{render_data_brasil ultima_data}" if ultima_data != Date.current %>

      <% mensagem_cobranca_dados[:valor] = "é de #{render_dinheiro_centavos valor_a_cobrar}" %>

      <% mensagem_cobranca = mensagem_cobranca_dados.values.join(" ").gsub(/\s{2,}/, " ") %>

      <tr id="<%= dom_id(acompanhamento) %>_cobranca_<%= ultima_data %>">
        <td class="center">
          <%= link_to acompanhamento.pessoa.nome_abreviado, acompanhamento.pessoa %>
          <%= link_to acompanhamento.pessoa_responsavel.nome_abreviado.insert(0, "(resp.: ").insert(-1, ")"), acompanhamento.pessoa_responsavel unless acompanhamento.pessoa_responsavel.blank? %>
        </td>
        <td>
          <%= acompanhamento.tipo.upcase %>
        </td>
        <td>
          <%= acompanhamento.profissional.descricao_completa %>
        </td>
        <td class="dinheiro">
          <%= render_dinheiro_centavos valor_a_cobrar %>
        </td>
        <td>
          <ul style="list-style:none;padding:0em;">
            <li>
              <%= link_to "Whatsapp", whatsapp_url(pessoa_com_quem_falar.render_fone_link, mensagem_cobranca), class: "icon-whatsapp", target: :blank %>
            </li>
            <li>
              <%= mail_to "#{(acompanhamento.pessoa_responsavel || acompanhamento.pessoa).email}", "E-mail", class: "icon-mail", subject: "Fechamento de #{acompanhamento.tipo} até #{render_data_brasil ultima_data}" %>
            </li>
            <li>
              <%= link_to "Acompanhar", acompanhamento, class: "icon-next" %>
            </li>
            <li>
              <details>
                <summary>
                  Mensagem para enviar
                </summary>
                <textarea><%= mensagem_cobranca %></textarea>
              </details>
            </li>
          </ul>
        </td>
      </tr>
      <%# <% total[:atendimentos] += soma_atendimentos %1> %>
      <%# <% total[:recebimentos] += soma_recebimentos %1> %>
      <% total[:cobrar] += valor_a_cobrar || 0 %>
    <% end %>
  <% end %>
  <tr>
    <td colspan="3" class="resultado">Total</td>
    <td class="dinheiro resultado">
      <%# <%= render_dinheiro_centavos total[:atendimentos] - total[:recebimentos] %1> %>
      <%= render_dinheiro_centavos total[:cobrar] %>
    </td>
    <td></td>
  </tr>
    </tbody>
</table>
