<td>
  <select name="recebimento[acompanhamento_id]">
    <% Acompanhamento.all.each do |a| %>
      <option value="<%= a.id %>"><%= a.render_info_para_profissional %></option>
    <% end %>
  </select>
</td>

<td>
  <select name="recebimento[pessoa_pagante_id]">
    <option value="">[Deixe assim se o pagante for o beneficiário]</option>
    <% Pessoa.order(nome: :asc, nome_do_meio: :asc, sobrenome: :asc).each do |p| %>
      <option value="<%= p.id %>">
      <%= p.nome_completo %> -
      CPF <%= p.render_cpf %>
      </option>
    <% end %>
  </select>
</td>

<td>
  <input type="date" value="<%= Date.today %>" name="recebimento[data]">
</td>

<td>
  <input type="number">
</td>
<td>
  <select name="recebimento[modalidade_id]">
    <% PagamentoModalidade.all.each do |pag| %>
      <option value="<%= pag.id %>">
        <%= pag.modalidade %>
      </option>
    <% end %>
  </select>
</td>

<td>
  Pagamento direto
  <input type="checkbox" name="recebimento[direto_profissional]">
</td>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
<input type="hidden" name="ajax" value="1">
<td>-</td>
<td>
  <button hx-post="<%= recebimentos_path(Recebimento.new) %>" hx-include="closest tr">
    Confirmar
  </button>
  <button
      hx-get="recebimentos/inline-adicionar"
      hx-target="#recebimento-adicionar">
    Cancelar
  </button>
