<td>
  <select name="acompanhamentos_de" style="max-width:10em;min-width:15em;font-size:.9em;" <%= hx_set get: select_acompanhamento_recebimentos_path(table: true), target: "#select_acompanhamento", swap: "outerHTML" %>>
    <option value="">[Escolha]</option>
    <% pessoas = usuario_atual.financeiro? ? Pessoa.all : usuario_atual.profissional.pacientes %>
    <% pessoas.em_ordem_alfabetica.each do |pessoa| %>
      <option value="<%= pessoa.id %>"><%= pessoa.nome_completo %> (<%= pessoa.render_idade %>)</option>
    <% end %>
  </select>
  <select id="select_acompanhamento" style="max-width:10em;min-width:10em;font-size:.9em;" name="recebimento[acompanhamento_id]">
  </select>
</td>

<td>
  <select name="recebimento[pessoa_pagante_id]" style="max-width:15em;min-width:15em;font-size:.85em;">
    <option value="">[Deixe assim se o pagante for o beneficiário]</option>
    <% Pessoa.em_ordem_alfabetica.each do |p| %>
      <option value="<%= p.id %>">
      <%= p.nome_completo %> -
      CPF <%= p.render_cpf %>
      </option>
    <% end %>
  </select>
</td>

<td>
  <input type="date" value="<%= Date.today %>" name="recebimento[data]">
</td>

<td>
  <input type="text" name="recebimento[valor]" value="0">
</td>
<td>
  <select name="recebimento[pagamento_modalidade_id]">
    <% PagamentoModalidade.all.each do |pag| %>
      <option value="<%= pag.id %>">
      <%= pag.modalidade %>
      </option>
    <% end %>
  </select>
</td>

<td>
  Pagamento direto
  <input type="checkbox" name="recebimento[direto_profissional]">
</td>

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
<input type="hidden" name="ajax" value="1">

<td>-</td>

<td>
  <button <%= hx_set post: recebimentos_path(@hx_params), include: "closest tr", target: "#recebimentos-info", swap: "outerHTML", select: "#recebimentos-info" %>>
    Confirmar
  </button>
  <button <%= hx_set get: inline_adicionar_recebimentos_path(@hx_params), target: "#recebimento-adicionar" %>>
    Cancelar
  </button>
</td>
