<%= titulo "Recebimentos" %>

<h1>Recebimentos - <%= render_data_brasil @de %> a <%= render_data_brasil @ate %></h1>

<div class="form-g">
  <%= form_with url: recebimentos_path, method: :get, local: true do |f| %>
    <%= f.label :de %>
    <%= f.date_field :de, value: @de %>
    <%= f.label :ate, "Até" %>
    <%= f.date_field :ate, value: @ate %>
    <%= f.submit "Carregar" %>
  <% end %>
</div>

<p>Baixar relatório
<%= link_to "CSV", recebimentos_path(format: :csv, de: @de, ate: @ate) %>
|
<%= link_to "Excel", recebimentos_path(format: :xlsx, de: @de, ate: @ate) %>
|
<%= link_to "Recibos (markdown)", recebimentos_path(format: :zip, de: @de, ate: @ate) %>
</p>

<p>Relatório do mês atual
<%= link_to "CSV", recebimentos_path(format: :csv, de: Date.today.beginning_of_month, ate: Date.today.end_of_month) %>
|
<%= link_to "Excel", recebimentos_path(format: :xlsx, de: Date.today.beginning_of_month, ate: Date.today.end_of_month) %>
|
<%= link_to "Recibos (markdown)", recebimentos_path(format: :zip, de: Date.today.beginning_of_month, ate: Date.today.end_of_month) %>
</p>

<p>Relatório do mês passado
<%= link_to "CSV", recebimentos_path(format: :csv, de: (Date.today - 1.month).beginning_of_month, ate: (Date.today - 1.month).end_of_month) %>
|
<%= link_to "Excel", recebimentos_path(format: :xlsx, de: (Date.today - 1.month).beginning_of_month, ate: (Date.today - 1.month).end_of_month) %>
|
<%= link_to "Recibos (markdown)", recebimentos_path(format: :zip, de: (Date.today - 1.month).beginning_of_month, ate: (Date.today - 1.month).end_of_month) %>
</p>

<%= link_to "+ recebimento", new_recebimento_path, { class: "btn-dinheiro" } %>

<p>
  Recebimentos do período:
  <% @total_mes = @recebimentos.sum(:valor) %>
  <%= render_dinheiro_centavos @total_mes %>
</p>

<%= render "valores-cobrar-container", pessoas: @pessoas, atendimento_valores: @atendimento_valores %>

<%= render 'recebimentos/tabela', recebimentos: @recebimentos, de: @de, ate: @ate %>
