<% titulo "Recebimentos" %>

<h1 id="recebimentos-titulo">Recebimentos - <%= render_data_brasil @de %> a <%= render_data_brasil @ate %></h1>

<%= render "financeiro/navbar" %>
<%= render "index-navbar" %>

<br>

<%= render "index-recebimentos-do-periodo" %>

<%= render 'recebimentos-info', recebimentos: @recebimentos, pessoas: @pessoas, de: @de, ate: @ate, atendimento_valores: @atendimento_valores %>
