<p style="color: green"><%= notice %></p>

<%= render @acompanhamento_reajuste_motivo %>

<div>
  <%= link_to "Edit this acompanhamento reajuste motivo", edit_acompanhamento_reajuste_motivo_path(@acompanhamento_reajuste_motivo) %> |
  <%= link_to "Back to acompanhamento reajuste motivos", acompanhamento_reajuste_motivos_path %>

  <%= button_to "Destroy this acompanhamento reajuste motivo", @acompanhamento_reajuste_motivo, method: :delete %>
</div>
