<form <%== hx_set post: acompanhamento_horarios_path(ajax: true), target: "#acompanhamento-horarios" %>>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">

  <% if acompanhamento_horario.acompanhamento.nil? %>
    <label for="acompanhamento_horario[acompanhamento_id]">Acompanhamento</label>
    <select id="acompanhamento_horario[acompanhamento_id]" name="acompanhamento_horario[acompanhamento_id]">
      <% Acompanhamento.por_paciente_em_ordem_alfabetica.each do |acompanhamento| %>
        <option value="<%= acompanhamento.id %>"<%== if acompanhamento_horario.acompanhamento_id == acompanhamento.id then "selected" end %>><%= acompanhamento.render_info_para_profissional_alt %></option>
      <% end %>
    </select>
    <br>
  <% else %>
    <input type="hidden" name="acompanhamento_horario[acompanhamento_id]" value="<%= acompanhamento_horario.acompanhamento_id %>">
  <% end %>


  <% ultimo_atendimento = acompanhamento_horario.acompanhamento.atendimentos.em_ordem.last %>
  <label for="acompanhamento_horario[semana_dia_id]">Dia da semana</label>
  <select id="acompanhamento_horario[semana_dia_id]" name="acompanhamento_horario[semana_dia_id]">
    <%= SemanaDia.all.each do |dia| %>
      <option value="<%= dia.id %>"<%== if !ultimo_atendimento.nil? && ultimo_atendimento.data.strftime("%w").to_i == dia.id then "selected" end %>><%= dia.nome %></option>
    <% end %>
  </select>

  <br>
  <label for="acompanhamento_horario[horario]">Horário (início)</label>
  <input type="time" name="acompanhamento_horario[horario]" id="acompanhamento_horario[horario]" value="<%= if !ultimo_atendimento.nil? then ultimo_atendimento.horario.strftime("%H:%M") end %>">

  <br>
  <label for="acompanhamento_horario[horario_fim]">Horário (fim)</label>
  <input type="time" name="acompanhamento_horario[horario_fim]" id="acompanhamento_horario[horario_fim]" value="<%= if !ultimo_atendimento.nil? then ultimo_atendimento.horario_fim.strftime("%H:%M") end %>">

  <button type="submit">
    Registrar
  </button>
  <button <%==  hx_set get: "/", target: "#acompanhamento-horario-new"%> type="cancel">
    Cancelar
  </button>
</form>
