<% if profissional != nil %>
  <% pessoa = profissional.pessoa %>
  <%= link_to profissional, class: "pessoa-card" + " " + (profissional.feminino ? "feminino" : "masculino") do %>
    <div>
      <h2 class="icon-user"><%= profissional.nome_abreviado %></h2>

      <h3 class="icon-profile">
        <%= profissional.funcao %>
        <%= profissional.documento %>
      </h3>
      <!-- informações -->
      <p class="icon-drawer"><%= deixar_no_plural profissional.acompanhamentos.em_andamento.count, "acompanhamento", "acompanhamentos" %> em andamento</p>
      <p class="icon-mail"><%= pessoa.email ? pessoa.email : "Não definido" %></p>
      <p class="icon-phone"> <%= (pessoa.fone_cod_pais || pessoa.fone_cod_area || pessoa.fone_num) ? pessoa.render_fone : "Não definido" %> </p>
    </div>
  <% end %>
<% end %>
