<% dias_da_semana = dias_da_semana || Date.current.all_week %>
<% id = "#{dom_id profissional}_agenda" %>
<% pode_deletar = pode_deletar || false %>
<% mostrar_pacientes = usuario_atual&.secretaria? || usuario_atual == profissional.usuario %>

<div id="<%= id %>">
  <table>
    <caption>
      Agenda
      <%== "<br>" * 2 %>
      <%= hx_form get: agenda_profissional_path, target: "##{id}", select: "##{id}" do %>
        <input type="date" id="start_date" name="start_date" value="<%= dias_da_semana.first %>">
        <input type="submit" value="Verificar semana" style="font-size:1rem;">
      <% end %>
    </caption>
    <thead>
      <tr>
        <th width="10%"></th>
        <% dias_da_semana.each do |dia| %>
          <th>
            <%= SemanaDia.find(dia.wday).nome[..2] %>
            <br>
            <%= render_data_brasil dia %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          Agenda disponível
        </th>
        <% dias_da_semana.each do |dia| %>
          <td>
            <% agenda = profissional.agenda(dia)[dia] %>
            <% atendimentos_do_dia = profissional.atendimentos.do_periodo(dia) %>
            <% agenda.each do |horario| %>
              <% unless horario[:de_folga] %>
                <% disponivel = horario[:folga].blank? && horario[:atendendo].blank? %>
                <% color = disponivel ? "green"  : "red" %>
                <% style = {
                  "border-radius" => "1em",
                  "padding" => "1em",
                  "text-align" => "center",
                  "color" => "var(--doc-#{color}-light)",
                  "background-color" => "var(--doc-#{color}-dark)",
                  "cursor" => "default",
                  "position" => "relative",
                } %>

              <p>
              <div style="<%= style.map { |k,v| "#{k}:#{v}"}.join(";") %>">
                <b><u><%= render_hora_brasil horario[:horario] %></b></u>
                  <%= disponivel ? "Disponível" : "Indisponível" %>

                  <% atendimentos_do_horario = atendimentos_do_dia.where(horario: horario[:horario]) %>
                  <% if mostrar_pacientes && atendimentos_do_horario.count > 0 %>
                    <% hstyle = {
                      position: "absolute",
                      "background-color" => "var(--main-color)",
                      top: "-.5em",
                      left: "-.5em",
                      padding: ".3em",
                      "border-radius" => ".3em",
                      color: "var(--main-light-color",
                    }.map { |k, v| "#{k}:#{v}" }.join(";") %>
                  <% atendimentos_do_horario.each do |atendimento| %>
                    <%= link_to atendimento.paciente.nome_chamada, atendimento.acompanhamento, style: hstyle %>
                  <% end %>
                <% end %>

                <% if horario[:reservado].count > 0 %>
                  <div class="horario-reservado">
                    Reservado
                    <% if mostrar_pacientes %>
                      <div class="agenda-modal-acompanhamento">
                        <% horario[:reservado].each_with_index do |acomp, index| %>
                          <%== "<hr>" if index > 0 %>
                          <%= link_to acomp.acompanhamento do %>
                            <%= acomp.pessoa.nome_abreviado %>
                            <%= acomp.pessoa.idade_anos&.to_s&.insert(0, "[")&.insert(-1, "a]") %>
                            <%= acomp.pessoa_responsavel&.nome_abreviado&.insert(0, " (resp.: ")&.insert(-1, ")") %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <%# <%= "<span style=\"background-color:orange;color:black;padding:.1em;position:absolute;border-radius:.3em;top:-.5em;right:.1em;\">Reservado</span>".html_safe if horario[:reservado].count > 0 %1> %>
              </div>
              </p>
            <% end %>
          <% end %>
          <%# <%= profissional.agenda(dia)[dia] %1> %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
