<% titulo "#{@profissional.nome_abreviado} - Acompanhamentos" %>
<h1 id="main-title"><%= @profissional.descricao_completa %> - Acompanhamentos</h1>
<%= render "navbar", profissional: @profissional %>

<nav class="navbar navcenter" style="padding:.5em;">
  <p>Filtrar</p>
  <%= hx_form get: acompanhamentos_profissional_path, target: "#profissional-acompanhamentos", select: "#profissional-acompanhamentos", swap: "outerHTML", trigger: "change", replace_url: true do %>
    <div>
      <label for="tipo">Tipo</label>
      <select name="tipo" id="tipo">
        <option value="">TODOS</option>
        <% AcompanhamentoTipo.all.each do |tipo| %>
          <option value="<%= tipo.id %>" <%= "selected" unless params[:tipo] != tipo.id %>><%= tipo.tipo.upcase %></option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="status">Status</label>
      <select name="status" id="status">
        <option value="">TODOS</option>
        <option value="em_andamento" <%= "selected" unless params[:status]&.to_sym != :em_andamento %>>EM ANDAMENTO</option>
        <option value="finalizado" <%= "selected" unless params[:status]&.to_sym != :finalizado %>>FINALIZADOS</option>
        <option value="suspenso" <%= "selected" unless params[:status]&.to_sym != :suspenso %>>SUSPENSOS</option>
      </select>
    </div>

    <% if usuario_atual.secretaria? %>
      <div>
        <label for="profissional">Profissional</label>
        <select name="profissional" id="profissional">
          <option value="">TODOS</option>
          <% Profissional.all.each do |profissional| %>
            <option value="<%= profissional.id %>" <%= "selected" unless profissional.id != params[:profissional] %>><%= profissional.descricao_completa %></option>
          <% end %>
        </select>
      </div>
    <% end %>

    <div>
      <label for="paciente">Paciente</label>
      <input type="text" name="paciente" id="paciente" value="<%= params[:paciente] %>" style="margin:0;">
    </div>
  <% end %>
</nav>

<br>

<div id="profissional-acompanhamentos">
  <div class="acompanhamentos-container">
    <% @acompanhamentos.each do |acompanhamento| %>
      <%= render "acompanhamentos/card", acompanhamento: acompanhamento %>
    <% end %>
  </div>

  <div id="replace" style="margin:auto;text-align:center;">
    <% if @pagy && @pagy.page < @pagy.pages %>
      <button <%= hx_set get: acompanhamentos_profissional_path(@params.merge(page: @pagy.page + 1)), target: "#replace", swap: "outerHTML", select: "#profissional-acompanhamentos" %>>
        Carregar mais
      </button>
    <% end %>
  </div>
</div>
