<% titulo "#{@profissional.nome_abreviado} - Repasses" %>

<h1>
  Repasses financeiros de
  <%= @profissional.descricao_completa %>
</h1>

<%= render "navbar", profissional: @profissional %>
<%= render "financeiro-navbar", profissional: @profissional %>

<nav class="navbar navcenter">
  <% repasses_tabela_id = "#{dom_id @profissional}_repasses_tabela" %>
  <%= hx_form get: financeiro_repasses_profissional_path, target: "##{repasses_tabela_id}", select: "##{repasses_tabela_id}", swap: "outerHTML", replace_url: true, trigger: "change" do %>
    <label for="de">De</label>
    <input type="date" name="de" id="de" value="<%= @de %>">
    <label for="ate">Até</label>
    <input type="date" name="ate" id="ate" value="<%= @ate %>">

    <p class="htmx-indicator text-center">Requisitando...</p>
  <% end %>
</nav>

<nav class="navbar navcenter" id="navbar-downloads" hx-swap-oob="true">
  <ul>
    <li>
      <%= link_to "CSV", financeiro_repasses_profissional_path(@params.merge format: :csv), class: "icon-table" %>
    </li>

    <li>
      <%= link_to "Excel", financeiro_repasses_profissional_path(@params.merge format: :xlsx), class: "icon-file-excel" %>
    </li>
  </ul>
</nav>

<br>

<%= render "financeiro_repasses_tabela", profissional_financeiro_repasses: @profissional_financeiro_repasses, profissional: @profissional %>
