<% titulo "#{@profissional.funcao} #{@profissional.nome_abreviado}" %>
<h1 class="text-center">
  <%= @profissional.nome_completo %><br>
</h1>
<h2 class="text-center">
  <%= @profissional.funcao %> <%= @profissional.documento %>
</h2>

<% if !usuario_atual.nil? %>
  <%= render "navbar", profissional: @profissional %>
<% end %>

<div class="grid-2">
  <div class="profissional-bio documento">
    <div class="profissional-info" style="border-style:solid;border-color:var(--main-color);border-width:.1em;border-radius:.5em;padding:.3em;">
      <p>
      <%= phone_to @profissional.render_fone_link, @profissional.render_fone, class: "icon-phone" %>
      <%= link_to "", @profissional.pessoa.render_whatsapp_link, class: "icon-whatsapp" unless !@profissional.pessoa.usa_whatsapp? %>
      <%= link_to "", @profissional.pessoa.render_telegram_link, class: "icon-telegram" unless !@profissional.pessoa.usa_telegram? %>
      </p>
      <p class="text-center">
      <%= mail_to @profissional.email, class: "icon-mail" %>
      </p>
    </div>
    <% if @profissional.bio %>
      <h2>Sobre o profissional</h2>
      <%== markdown_to_html @profissional.bio %>
    <% else %>
      <p>Biografia não disponível.</p>
    <% end %>

    <hr>

    <% if @profissional.pessoa.bio %>
      <%== markdown_to_html @profissional.pessoa.bio %>
    <% end %>
  </div>

  <%= render 'tabela-agenda', profissional: @profissional %>
</div>

<% if usuario_atual&.secretaria? || usuario_atual&.profissional == @profissional %>
  <div class="profissional-agenda">
    <h3>Atualizar agenda</h3>
    <% dias_da_semana = SemanaDia.all %>

    <div id="profissional-agenda-horarios-disponiveis">
      <form action="<%= profissional_horarios_path %>" method="post">
        <input type="hidden" value="<%= form_authenticity_token.to_s %>" name="authenticity_token">
        <input type="hidden" value="<%= @profissional.id %>" name="profissional_horario[profissional_id]">

        <div class="field">
          <label for="profissional_horario[semana_dia_id]">
            Dia da semana
          </label>
          <select name="profissional_horario[semana_dia_id]">
            <% SemanaDia.all.each do |semana_dia| %>
              <option value="<%= semana_dia.id %>"><%= semana_dia.nome %></option>
            <% end %>
          </select>

          <label for="profissional_horario[horario]">
            Horário
          </label>
          <input type="time" name="profissional_horario[horario]">
        </div>

        <input type="submit" value="Registrar horário">
      </form>
      <hr>
    </div>

    <div class="profissional-acompanhamentos">
      <h3>Casos</h3>
      <p>
      <%= pluralize(@profissional.acompanhamentos.count, 'caso', plural: 'casos') %>,
      <%= @profissional.acompanhamentos.em_andamento.count %> em andamento.
      <%= link_to "Ver mais", acompanhamentos_profissional_path %>
      </p>
      <%= render 'acompanhamentos-resumo', profissional: @profissional %>
    </div>
  <% end %>

  </div>
