<% titulo "Entrar" %>
<h1>Entrar</h1>

<p>
Entrando com o endereço
<%= request.remote_ip %>.
</p>
<%= form_with url: sessoes_path, action: :new, local: true, autocomplete: 'on' do |form| %>
  <div class="field">
    <%= form.label "Nome de usuário" %>
    <%= form.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label "Senha" %>
    <%= form.password_field :password, autocomplete: 'on' %>
  </div>

  <div class="action">
    <%= form.submit "Entrar" %>
  </div>
<% end %>
