<h1>Histórico familiar</h1>

<dt>Há algum antecedente de transtorno mental na família?</dt>
<dd><%==  familia_historico.antecedentes_doenca_mental %></dd>

<dt>Há algum antecedente de dependência química na família?</dt>
<dd><%==  familia_historico.antecedentes_dependencia_quimica %></dd>

<h1>Ambiente familiar</h1>

<dt>Quais são as condições econômicas do ambiente familiar?</dt>
<dd><%==  familia_historico.ambiente_familiar_condicoes_economicas %></dd>

<dt>A criança está ciente das condiçẽos econômicas da família?</dt>
<dd><%= sim_ou_nao familia_historico.ambiente_familiar_pessoa_consciente_situacao_economica %></dd>

<dt>Quais as atitudes da criança diante da situação econômica da família?</dt>
<dd><%==  familia_historico.ambiente_familiar_atitude_pessoa_situacao_economica %></dd>

<dt>Quantos residentes há na casa da criança?</dt>
<dd><%==  familia_historico.ambiente_familiar_residentes_casa %></dd>

<dt>Como é o relacionamento dos pais da criança?</dt>
<dd><%==  familia_historico.ambiente_familiar_relacionamento_pais %></dd>

<dt>Como é o relacionamento entre pais e filhos no ambiente familiar?</dt>
<dd><%==  familia_historico.ambiente_familiar_pais_filhos %></dd>

<dt>Há outras considerações sobre o histórico ou ambiente familiar da criança?</dt>
<dd><%==  familia_historico.outras_consideracoes %></dd>

