<h1>Psicomotricidade</h1>

<dt>Com quantos meses a criança sorriu?</dt>
<dd><%= deixar_no_plural psicomotricidade.sorriu_meses %></dd>

<dt>Com quantos meses a criança se dirigiu atentamente às pessoas?</dt>
<dd><%= deixar_no_plural psicomotricidade.dirigir_ativamente_pessoas_meses %></dd>

<dt>Com quantos meses a criança ergueu a cabeça?</dt>
<dd><%= deixar_no_plural psicomotricidade.ergueu_cabeca_meses %></dd>

<dt>Com quantos meses a criança sentou?</dt>
<dd><%= deixar_no_plural psicomotricidade.sentou_meses %></dd>

<dt>Com quantos meses a criança engatinhou?</dt>
<dd><%= deixar_no_plural psicomotricidade.engatinhou_meses %></dd>

<dt>Com quantos meses a criança andou?</dt>
<dd><%= deixar_no_plural psicomotricidade.andou_meses %></dd>

<dt>Com quantos meses começaram a surgir os primeiros dentes?</dt>
<dd><%= deixar_no_plural psicomotricidade.denticao_meses %></dd>

<dt>A criança é canhota?</dt>
<dd><%= sim_ou_nao psicomotricidade.canhoto %></dd>

<dt>Com quantos meses a criança teve controle do esfíncter (cocô) durante o dia?</dt>
<dd><%= psicomotricidade.controle_esfincter_diurno_meses %></dd>

<dt>Com quantos meses a criança teve controle do esfíncter (cocô) durante a noite?</dt>
<dd><%= psicomotricidade.controle_esfincter_noturno_meses %></dd>

<dt>Com quantos meses a criança teve controle vesical (xixi) durante o dia?</dt>
<dd><%= psicomotricidade.controle_vesical_diurno_meses %></dd>

<dt>Com quantos meses a criança teve controle vesical (xixi) durante a noite?</dt>
<dd><%= psicomotricidade.controle_vesical_noturno_meses %></dd>

<dt>Como foi ensinado o controle do esfíncter (cocô)?</dt>
<dd><%= markdown_to_html psicomotricidade.ensino_controle_esfincter %></dd>

<dt>Como era a atitude da criança diante da enurese (xixi na cama)?</dt>
<dd><%= markdown_to_html psicomotricidade.atitude_enurese %></dd>

<dt>A criança precisa de ajuda para usar o banheiro?</dt>
<dd><%= sim_ou_nao psicomotricidade.precisa_ajuda_banheiro %></dd>

<dt>A criança toma banho sozinha?</dt>
<dd><%= sim_ou_nao psicomotricidade.toma_banho_sozinho %></dd>

<dt>A criança se veste sozinha?</dt>
<dd><%= sim_ou_nao psicomotricidade.veste_sozinho %></dd>

<dt>A criança caía muito?</dt>
<dd><%= sim_ou_nao psicomotricidade.caia_muito %></dd>

<dt>A criança tem conhecimento de lateralidade (esquerdo e direito)?</dt>
<dd><%= sim_ou_nao psicomotricidade.conhecimento_lateralidade %></dd>

<dt>Outras considerações sobre a psicomotricidade</dt>
<dd><%= markdown_to_html psicomotricidade.outras_consideracoes%></dd>
