<h1>Comunicação</h1>

<dt>Quais foram as primeiras sílabas da criança?</dt>
<dd><%==  comunicacao.primeiras_silabas %></dd>

<dt>Quais foram as primeiras palavras da criança?</dt>
<dd><%==  comunicacao.primeiras_palavras %></dd>

<dt>Quais foram as primeiras frases da criança</dt>
<dd><%==  comunicacao.primeiras_frases %></dd>

<dt>A criança usa o pronome "eu" para se referir a si mesma?</dt>
<dd><%= sim_ou_nao comunicacao.uso_eu %></dd>

<dt>A criança demonstra entender o que é dito para ela?</dt>
<dd><%= sim_ou_nao comunicacao.entendimento %></dd>

<dt>Quais são as atitudes da criança ao expressar seus desejos?</dt>
<dd><%==  comunicacao.atitudes_expressar_desejo %></dd>

<dt>A criança possui algum distúrbio da fala?</dt>
<dd><%= sim_ou_nao comunicacao.disturbio_fala %></dd>

<dt>A criança relata situações que vive?</dt>
<dd><%= sim_ou_nao comunicacao.relata_situacoes %></dd>

<dt>Quais são as línguas ouvidas em casa pela criança?</dt>
<dd><%==  comunicacao.linguas_ouvidas_casa %></dd>

<dt>Outras considerações em relação à comunicação</dt>
<dd><%==  comunicacao.outras_consideracoes%></dd>

