<h1>Manipulação</h1>

<dt>A criança usou chupeta?</dt>
<dd><%= sim_ou_nao manipulacao.chupeta_usou %></dd>

<dt>Por quanto tempo a criança usou chupeta?</dt>
<dd><%= deixar_no_plural manipulacao.chupeta_usou_meses %></dd>

<dt>Como foi a retirada da chupeta?</dt>
<dd><%==  manipulacao.chupeta_relato_retirada %></dd>

<dt>A criança chupou dedo?</dt>
<dd><%= sim_ou_nao manipulacao.chupou_dedo %></dd>

<dt>Por quanto tempo a criança chupou os dedos?</dt>
<dd><%= deixar_no_plural manipulacao.chupou_dedo_meses %></dd>

<dt>Como foi a retirada da chupeta?</dt>
<dd><%==  manipulacao.chupou_dedo_relato_retirada %></dd>

<dt>A criança roe unhas?</dt>
<dd><%= sim_ou_nao manipulacao.roe_unhas %></dd>

<dt>A criança arranca os próprios cabelos?</dt>
<dd><%= sim_ou_nao manipulacao.arranca_cabelos %></dd>

<dt>Outras considerações importantes sobre a manipulação de objetos</dt>
<dd><%==  manipulacao.outros %></dd>

<dt>Atitudes tomadas pelos responsáveis em relação às manipulações relatadas</dt>
<dd><%==  manipulacao.atitudes_tomadas_responsaveis %></dd>

