<h1>Socioafetividade</h1>

<dt>A criança faz amizades com facilidade?</dt>
<dd><%= sim_ou_nao socioafetividade.amizade_facil %></dd>

<dt>A criança prefere brincar com amigos?</dt>
<dd><%= sim_ou_nao socioafetividade.prefere_brincar_com_amigos %></dd>

<dt>A criança prefere brincar com crianças menores?</dt>
<dd><%= sim_ou_nao socioafetividade.prefere_brincar_com_criancas_menores %></dd>

<dt>A criança gosta de visitas?</dt>
<dd><%= sim_ou_nao socioafetividade.gosta_visitas %></dd>

<dt>Quais são as atividades preferidas da criança?</dt>
<dd><%== socioafetividade.atividades_preferidas %></dd>

<dt>No geral, como é o comportamento socioafetivo da criança?</dt>
<dd><%==  socioafetividade.comportamento_descricao %></dd>

<dt>A criança tende a dirigir os outros?</dt>
<dd><%= sim_ou_nao socioafetividade.tendencia_dirigir_outros %></dd>

<dt>Quais são os tiques da criança?</dt>
<dd><%==  socioafetividade.tiques %></dd>

<dt>Como é o humor da criança?</dt>
<dd><%==  socioafetividade.humor %></dd>

<dt>A criança ri ou chora com facilidade?</dt>
<dd><%= sim_ou_nao socioafetividade.rir_chorar_facilmente %></dd>

<dt>A criança expressa o que ela deseja?</dt>
<dd><%= sim_ou_nao socioafetividade.expressa_desejos %></dd>

<dt>A criança tende a se isolar ou a ficar inativa?</dt>
<dd><%= sim_ou_nao socioafetividade.tendencia_isolamento_inatividade %></dd>

<dt>A criança repete gestos, gritos ou palavras sem motivo aparente?</dt>
<dd><%= sim_ou_nao socioafetividade.repeticao_gestos_gritos_palavras %></dd>

<dt>A criança é carinhosa?</dt>
<dd><%= sim_ou_nao socioafetividade.carinhoso %></dd>

<dt>Quais são os comportamentos adequados da criança?</dt>
<dd><%==  socioafetividade.comportamentos_adequados %></dd>

<dt>Quais são os comportamentos inadequados da criança?</dt>
<dd><%==  socioafetividade.comportamentos_inadequados %></dd>

<dt>Outras considerações sobre a socioafetividade da criança</dt>
<dd><%==  socioafetividade.outras_consideracoes %></dd>

