<% cl = "tabela-infantojuvenil-anamnese-gestacao" %>
<% caminho_ajax = infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>
<tr class="<%= cl %>">
  <th class="big-header" colspan="100%">Gestação e nascimento</th>
</tr>

<% dict_select = {
    desejada: "A gestação foi desejada?",
} %>

<% dict_number = {
} %>

<% dict_text = {
} %>

<% dict_textarea = {
} %>

<% dict_select.each do |k,v| %>
  <%= hx_tr_select patch: caminho_ajax, name: "gestacao[#{k}]", th: (h v), id: "#{id = "#{cl}-#{k}"}", select: "##{id}", target: "##{id}", swap: "outerHTML", value: gestacao.attributes[k.to_s], html_class: cl %>
<% end %>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-idade-mae" %>
  <th>Idade da mãe</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese) %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-trigger="change delay:500ms">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="number" name="gestacao[idade_mae]" value="<%= gestacao.idade_mae %>">
        anos
      </form>
    <% else %>
      <%= deixar_no_plural gestacao.idade_mae, 'ano', 'anos' %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-idade-pai" %>
  <th>Idade do pai</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese) %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-trigger="change delay:500ms">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="number" name="gestacao[idade_pai]" value="<%= gestacao.idade_pai %>">
        anos
      </form>
    <% else %>
      <%= deixar_no_plural gestacao.idade_pai, 'ano', 'anos' %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-irmaos-mais-velhos" %>
  <th>Irmãos mais velhos</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese) %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-trigger="change delay:500ms">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="number" name="gestacao[irmaos_mais_velhos]" value="<%= gestacao.irmaos_mais_velhos %>">
        <%= gestacao.irmaos_mais_velhos != 1 ? "irmãos/irmãs" : "irmão/irmã" %>
      </form>
    <% else %>
      <%= deixar_no_plural gestacao.irmaos_mais_velhos, 'irmão/irmã', 'irmãos/irmãs' %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-irmaos-mais-novos" %>
  <th>Irmãos mais novos</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese) %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-trigger="change delay:500ms">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="number" name="gestacao[irmaos_mais_novos]" value="<%= gestacao.irmaos_mais_novos %>">
        <%= gestacao.irmaos_mais_novos != 1 ? "irmãos/irmãs" : "irmão/irmã" %>
      </form>
    <% else %>
      <%= deixar_no_plural gestacao.irmaos_mais_novos, 'irmão/irmã', 'irmãos/irmãs' %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-anterior-meses" %>
  <th>Com quantos meses após a gestação anterior a criança foi concebida?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese) %>" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="change delay:500ms">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="number" name="gestacao[gestacao_anterior_meses]" value="<%= gestacao.gestacao_anterior_meses %>">
      </form>
      (<%= render_tempo_meses_resumido gestacao.gestacao_anterior_meses %>)
    <% else %>
      <%= deixar_no_plural gestacao.gestacao_anterior_meses %>
      (<%= render_tempo_meses_resumido gestacao.gestacao_anterior_meses %>)
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-abortos-anteriores" %>
  <th>Abortos anteriores (espontâneos e/ou intencionais)</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="change delay:500ms">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="number" name="gestacao[abortos_anteriores]" value="<%= gestacao.abortos_anteriores %>">
      </form>
    <% else %>
      <%= deixar_no_plural gestacao.abortos_anteriores %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-data-pre-natal" %>
  <th>Data do pré-natal</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <input type="date" name="gestacao[data_pre_natal]" value="<%= gestacao.data_pre_natal %>" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="change delay:1000ms">
    <% else %>
      <%= gestacao.data_pre_natal ? render_data_brasil(gestacao.data_pre_natal) : "Não informada" %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-mae-saude"%>
  <th>Como era a saúde da mãe durante a gestação?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[mae_saude]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.mae_saude %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.mae_saude %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "tabela-infantojuvenil-anamnese-mae-sensacoes" %>
  <th>Quais foram as sensações sentidas pela mãe durante a gestação?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[mae_sensacoes]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.mae_sensacoes %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.mae_sensacoes %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "tabela-infantojuvenil-anamnese-mae-internacoes" %>
  <th>Houve internações da mãe durante a gravidez?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[mae_internacoes]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.mae_internacoes %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.mae_internacoes %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-mae-enjoos" %>
  <th>A mãe sentiu enjoos?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[mae_enjoos]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.mae_enjoos %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.mae_enjoos %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-mae-vomitos" %>
  <th>A mãe vomitou durante a gravidez?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[mae_vomitos]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.mae_vomitos %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.mae_vomitos %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-mae-diabetes" %>
  <th>A mãe teve diabetes durante a gravidez?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, ajax:true) %>" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="change delay:250ms">
        <input name="authenticity_token" value="<%= form_authenticity_token.to_s %>" type="hidden">
        <select name="gestacao[mae_diabetes]">
          <option <%== if gestacao.desejada.nil? then "selected" end %> value="">Não informado</option>
          <option <%== !gestacao.mae_diabetes.nil? && gestacao.mae_diabetes != 0 ? "selected" : "" %> value="1">Sim</option>
          <option <%== !gestacao.mae_diabetes.nil? && gestacao.mae_diabetes == 0 ? "selected" : "" %> value="0">Não</option>
        </select>
      </form>
    <% else %>
      <%== sim_ou_nao gestacao.mae_diabetes %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-mae-traumatismos" %>
  <th>A mãe sofreu traumatismos durante a gravidez?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, ajax:true) %>" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="change delay:250ms">
        <input name="authenticity_token" value="<%= form_authenticity_token.to_s %>" type="hidden">
        <select name="gestacao[mae_diabetes]">
          <option value="" <%== gestacao.mae_diabetes.nil? ? "selected" : "" %>>Não informado</option>
          <option <%== !gestacao.mae_diabetes.nil? && gestacao.mae_diabetes != 0 ? "selected" : "" %> value="1">Sim</option>
          <option <%== gestacao.mae_diabetes == 0 ? "selected" : "" %> value="0">Não</option>
        </select>
      </form>
    <% else %>
      <%== sim_ou_nao gestacao.mae_traumatismo %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-mae-convulsoes" %>
  <th>A mãe teve convulsões durante a gravidez?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <form hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, ajax:true) %>" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="change delay:250ms">
        <input name="authenticity_token" value="<%= form_authenticity_token.to_s %>" type="hidden">
        <select name="gestacao[mae_diabetes]">
          <option value="" <%== gestacao.mae_diabetes.nil? ? "selected" : "" %>>Não informado</option>
          <option <%== !gestacao.mae_diabetes.nil? && gestacao.mae_diabetes != 0 ? "selected" : "" %> value="1">Sim</option>
          <option <%== gestacao.mae_diabetes == 0 ? "selected" : "" %> value="0">Não</option>
        </select>
      </form>
    <% else %>
      <%== sim_ou_nao gestacao.mae_convulsoes %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-mae-medicamentos" %>
  <th>A mãe chegou a tomar medicamentos durante a gravidez?</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[mae_medicamentos]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.mae_medicamentos %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.mae_medicamentos %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-parto-local" %>
  <th>Local do parto</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <select name="gestacao[parto_local_id]" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML">
        <option value="">Sem informação</option>
        <% PartoLocal.all.each do |parto_local| %>
          <option <%= if parto_local.id == gestacao.parto_local_id then "selected" end %> value="<%= parto_local.id %>"><%= parto_local.local %></option>
        <% end %>
      </select>
    <% else %>
      <%= gestacao.local_do_parto %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-parto-tipo" %>
  <th>Tipo de parto</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <select name="gestacao[parto_tipo_id]" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML">
        <option value="">Sem informação</option>
        <% PartoTipo.all.each do |parto_tipo| %>
          <option <%= if parto_tipo.id == gestacao.parto_tipo_id then "selected" end %> value="<%= parto_tipo.id %>"><%= parto_tipo.tipo %></option>
        <% end %>
      </select>
    <% else %>
      <%= gestacao.tipo_de_parto %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-nascimento-peso" %>
  <th>Peso da criança ao nascer (g)</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <input type="number" name="gestacao[nascimento_peso_g]" value="<%= gestacao.nascimento_peso_g %>" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="keyup delay:500ms">
    <% else %>
      <%= numero_com_medida gestacao.nascimento_peso_g, 'g' %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-nascimento-comprimento" %>
  <th>Comprimento da criança ao nascer (cm)</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <input type="number" name="gestacao[nascimento_comprimento_cm]" value="<%= gestacao.nascimento_comprimento_cm %>" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="keyup delay:500ms">
    <% else %>
      <%= numero_com_medida gestacao.nascimento_comprimento_cm, 'g' %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-duracao-gestacao" %>
  <th>Duração da gestação (semanas)</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <input type="number" name="gestacao[gestacao_semanas]" value="<%= gestacao.gestacao_semanas %>" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" hx-trigger="keyup delay:500ms">
    <% else %>
      <%= numero_com_medida gestacao.nascimento_peso_g, 'g' %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-crianca-condicoes" %>
  <th>Condições da criança ao nascer</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[nascimento_crianca_condicoes]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.nascimento_crianca_condicoes %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.nascimento_crianca_condicoes %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-nascimento-reacao-mae" %>
  <th>Reação da mãe ao nascimento da criança</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[nascimento_reacao_mae]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.nascimento_reacao_mae %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.nascimento_reacao_mae %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-nascimento-reacao-pai" %>
  <th>Reação do pai ao nascimento da criança</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[nascimento_reacao_pai]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.nascimento_reacao_pai %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.nascimento_reacao_pai %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-nascimento-reacao-irmaos" %>
  <th>Reação dos irmãos ao nascimento da criança</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[nascimento_reacao_irmaos]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.nascimento_reacao_irmaos %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.nascimento_reacao_irmaos %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-desenvolvimento-parto" %>
  <th>Desenvolvimento do parto</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[desenvolvimento_parto]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.desenvolvimento_parto %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.desenvolvimento_parto %>
    <% end %>
  </td>
</tr>

<tr class="<%= cl %>">
  <% curr_id = "#{cl}-outras_consideracoes" %>
  <th>Outras considerações sobre a gestação e o parto</th>
  <td id="<%= curr_id %>">
    <% if @usuario %>
      <textarea name="gestacao[outras_consideracoes]" cols="50" rows="10" hx-patch="<%= infantojuvenil_anamnese_path(gestacao.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s ) %>" hx-target="#<%= curr_id %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" placeholder="Descreva..."><%= gestacao.outras_consideracoes %></textarea>
    <% else %>
      <%== markdown_to_html gestacao.outras_consideracoes %>
    <% end %>
  </td>
</tr>
