<% cl = 'tabela-infantojuvenil-anamnese-saude-historico' %>
<% usuario = usuario_atual == saude_historico.infantojuvenil_anamnese.profissional.usuario %>
<% caminho_ajax = infantojuvenil_anamnese_path(saude_historico.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>

<tr class='<%= cl %>'>
  <th colspan="100%">
    Histórico de saúde
  </th>
</tr>

<% if usuario %>

  <% dict_select = {
    :acompanhamento_medico => "A criança está em acompanhamento médico?",
    :acidente_sofrido => "A criança sofreu algum acidente?",
  } %>

<% dict_number = {
} %>
<% dict_text = {
} %>
<% dict_textarea = {
  :doencas => "A criança possui alguma doença?",
  :doenca_grave_e_evolucao => "A criança possui alguma doença grave? Se sim, relate a evolução dela",
  :medicamentos => "Quais medicamentos a criança toma?",
  :visao => "Como é a visão da criança?",
  :audicao => "Como é a audição da criança?",
  :inteligencia => "Como é a inteligência da criança?",
  :acidente_consequencias => "Quais as consequências do(s) acidente(s) sofrido(s) pela criança?",
  :outras_consideracoes => "Outras considerações"
} %>

<% dict_select.each do |k,v| %>
  <%== hx_tr_select patch: caminho_ajax, name: "saude_historico[#{k}]", th: (html_escape v), id: "#{id = "#{cl}-#{k}"}", select: "##{id}", target: "##{id}", swap: "outerHTML", value: saude_historico.attributes[k.to_s], html_class: cl %>
<% end %>

<% dict_number.each do |k,v| %>
  <%== hx_tr_number patch: caminho_ajax, name: "saude_historico[#{k}]", th: (h v), value: (html_escape saude_historico.attributes[k]), id: "#{id = "#{cl}-#{k}"}", target: "##{id}", select: "##{id}", swap: "outerHTML", html_class: cl %>
<% end %>

<% dict_text.each do |k,v| %>
  <%== hx_tr_text patch: caminho_ajax, name: "saude_historico[#{k}]", th: (h v), value: (html_escape saude_historico.attributes[k]), id: "#{id = "#{cl}-#{k}"}", target: "##{id}", select: "##{id}", swap: "outerHTML", placeholder: "Descreva...", html_class: cl %>
<% end %>

<% dict_textarea.each do |k,v| %>
  <%== hx_tr_textarea patch: caminho_ajax, name: "saude_historico[#{k}]", th: (h v), texto: saude_historico.attributes[k.to_s], placeholder: v, html_class: cl %>
<% end %>

<% else %>

<tr class='<%= cl %>'>
  <th>Histórico de doenças</th>
  <td><%== markdown_to_html saude_historico.doencas %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança possui histórico de doença grave? Se sim, descreva a evolução</th>
  <td><%== markdown_to_html saude_historico.doenca_grave_e_evolucao %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança tem acompanhamento médico?</th>
  <td><%= sim_ou_nao saude_historico.acompanhamento_medico %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança usa medicamentos?</th>
  <td><%== markdown_to_html saude_historico.medicamentos %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança possui algum problema de visão?</th>
  <td><%== markdown_to_html saude_historico.visao %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança possui algum problema de audição?</th>
  <td><%== markdown_to_html saude_historico.audicao %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança sofreu algum acidente?</th>
  <td><%= sim_ou_nao saude_historico.acidente_sofrido %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Se houve acidente, quais foram as consequências?</th>
  <td><%== markdown_to_html saude_historico.acidente_consequencias %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Outras considerações em relação à saúde da criança</th>
  <td><%== markdown_to_html saude_historico.outras_consideracoes, "Nenhuma" %></td>
</tr>
<% end %>
