<% cl = 'tabela-infantojuvenil-anamnese-escola-historico' %>
<% usuario = usuario_atual == escola_historico.infantojuvenil_anamnese.profissional.usuario %>
<% caminho_ajax = infantojuvenil_anamnese_path(escola_historico.infantojuvenil_anamnese, authenticity_token: form_authenticity_token.to_s) %>

<tr class='<%= cl %>'>
  <th colspan="100%">
    Histórico escolar
  </th>
</tr>

<% if usuario %>

<% dict_select = {
} %>

<% dict_number = {
  :idade_entrada_anos => "Com quantos anos a criança entrou na escola?",
} %>
<% dict_text = {
  :atividades_extras => "De quais atividades extracurriculares a criança participa?",
} %>
<% dict_textarea = {
  :aproveitamento => "Como é o aproveitamento escolar da criança?",
  :dificuldades => "Quais são as dificuldades escolares da criança?",
  :mudancas => "Quais as principais mudanças percebidas na vida escolar?",
  :atitudes_paciente_vida_escolar => "Quais são as atitudes da criança no seu contexto escolar?",
  :atitudes_pais_dificuldades => "Quais as atitudes dos pais frente às dificuldades escolares da criança?",
  :participacao_pais => "Como é a participação dos pais na vida escolar da criança?",
  :outras_consideracoes => "Outras considerações sobre a vida escolar da criança",
} %>

<% dict_select.each do |k,v| %>
  <%== hx_tr_select html_class: "sim", patch: caminho_ajax, name: "escola_historico[#{k}]", th: (html_escape v), id: "#{id = "#{cl}-#{k}"}", select: "##{id}", target: "##{id}", swap: "outerHTML", value: escola_historico.attributes[k.to_s] %>
<% end %>

<%== hx_tr_select patch: caminho_ajax, name: "escola_historico[escola_tipo_id]", th: "A criança estuda em que tipo de escola?", id: "#{id = "#{cl}-escola_historico"}", select: "##{id}", target: "##{id}", swap: "outerHTML", value: escola_historico.escola_tipo_id, options: EscolaTipo.all.map{|tipo| [tipo.tipo,tipo.id]}, value: escola_historico.escola_tipo_id, blank: true %>

<% dict_number.each do |k,v| %>
  <%== hx_tr_number patch: caminho_ajax, name: "escola_historico[#{k}]", th: (h v), value: (html_escape escola_historico.attributes[k.to_s]), id: "#{id = "#{cl}-#{k}"}", target: "##{id}", select: "##{id}", swap: "outerHTML", html_class: cl %>
<% end %>

<% dict_text.each do |k,v| %>
  <%== hx_tr_text patch: caminho_ajax, name: "escola_historico[#{k}]", th: (h v), value: (html_escape escola_historico.attributes[k.to_s]), id: "#{id = "#{cl}-#{k}"}", target: "##{id}", select: "##{id}", swap: "outerHTML", placeholder: "Descreva...", html_class: cl %>
<% end %>

<% dict_textarea.each do |k,v| %>
  <%== hx_tr_textarea patch: caminho_ajax, name: "escola_historico[#{k}]", th: (h v), texto: escola_historico.attributes[k.to_s], placeholder: v, html_class: cl %>
<% end %>


<% else %>

<tr class='<%= cl %>'>
  <th>Em qual tipo de escola a criança estuda?</th>
  <td><%= escola_historico.tipo_de_escola %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Com quantos anos a criança entrou na escola?</th>
  <td><%= pluralize(escola_historico.idade_entrada_anos, 'ano', 'anos') %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Como é o aproveitamento escolar desta criança?</th>
  <td><%== markdown_to_html escola_historico.aproveitamento %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Quais dificuldades a criança tem na escola?</th>
  <td><%== markdown_to_html escola_historico.dificuldades %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Quais foram as mudanças percebidas na criança durante o período escolar?</th>
  <td><%== markdown_to_html escola_historico.mudancas %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Quais são as atitudes da criança com a vida escolar?</th>
  <td><%== markdown_to_html escola_historico.atitudes_paciente_vida_escolar %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Quais as atitudes dos pais em relação às dificuldades da criança na escola?</th>
  <td><%== markdown_to_html escola_historico.atitudes_pais_dificuldades %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Como é a participação dos pais na vida escolar da criança?</th>
  <td><%== markdown_to_html escola_historico.participacao_pais %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Quais são as atividades extracurriculares da criança?</th>
  <td><%== markdown_to_html escola_historico.atividades_extras %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Há alguma outra consideração sobre a vida escolar da criança?</th>
  <td><%== markdown_to_html escola_historico.outras_consideracoes, "Não" %></td>
</tr>
<% end %>
