<% cl = 'tabela-infantojuvenil-anamnese-manipulacao' %>
<% usuario = usuario_atual == manipulacao.infantojuvenil_anamnese.profissional.usuario %>
<% caminho_ajax = infantojuvenil_anamnese_path(manipulacao.infantojuvenil_anamnese, ajax: true, authenticity_token: form_authenticity_token.to_s) %>

<tr class='<%= cl %>'>
  <th colspan="100%">
    Manipulação de objetos
  </th>
</tr>

<% if usuario %>

  <% dict_select = {
    :chupeta_usou => "A criança usa ou usou chupeta?",
    :chupou_dedo => "A criança chupa ou chupou dedo?",
    :roi_unhas => "A criança rói unhas?",
    :arranca_cabelos => "A criança arranca cabelos?"
  } %>

<% dict_number = {
  :chupeta_usou_meses => "Até quantos meses a criança usou chupeta?",
  :chupou_dedo_meses => "Até quantos meses a criança chupou dedo?",
} %>

<% dict_text = {
} %>

<% dict_textarea = {
  :chupeta_relato_retirada => "Relate como foi a retirada da chupeta da criança",
  :chupou_dedo_relato_retirada => "Relate como a criança deixou de chupar dedo",
  :outros => "Quais outras manipulações da criança são dignas de citação?",
  :atitudes_tomadas_responsaveis => "O que os pais ou responsáveis fazem em relação a estas manipulações?",
  :outras_consideracoes => "Outras considerações",
} %>


<% dict_select.each do |k,v| %>
  <%== hx_tr_select patch: caminho_ajax, name: "manipulacao[#{k}]", th: (html_escape v), id: "#{id = "#{cl}-#{k}"}", select: "##{id}", target: "##{id}", swap: "outerHTML", value: manipulacao.attributes[k.to_s], html_class: cl %>
<% end %>

<% dict_number.each do |k,v| %>
  <%== hx_tr_number patch: caminho_ajax, name: "manipulacao[#{k}]", th: (h v), value: (html_escape manipulacao.attributes[k]), id: "#{id = "#{cl}-#{k}"}", target: "##{id}", select: "##{id}", swap: "outerHTML", html_class: cl %>
<% end %>

<% dict_text.each do |k,v| %>
  <%== hx_tr_text patch: caminho_ajax, name: "manipulacao[#{k}]", th: (h v), value: (html_escape manipulacao.attributes[k]), id: "#{id = "#{cl}-#{k}"}", target: "##{id}", select: "##{id}", swap: "outerHTML", placeholder: "Descreva...", html_class: cl %>
<% end %>

<% dict_textarea.each do |k,v| %>
  <%== hx_tr_textarea patch: caminho_ajax, name: "manipulacao[#{k}]", th: (h v), texto: manipulacao.attributes[k.to_s], placeholder: v, html_class: cl %>
<% end %>

<% else %>
<tr class='<%= cl %>'>
  <th>A criança usou chupeta?</th>
  <td><%= sim_ou_nao manipulacao.chupeta_usou %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Por quanto tempo a criança usou chupeta?</th>
  <td><%= deixar_no_plural manipulacao.chupeta_usou_meses, 'mês', 'meses' %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Como foi a retirada da chupeta?</th>
  <td><%== markdown_to_html manipulacao.chupeta_relato_retirada, "Não há informação" %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança chupou dedo?</th>
  <td><%= sim_ou_nao manipulacao.chupou_dedo %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Por quanto tempo a criança chupou os dedos?</th>
  <td><%= deixar_no_plural manipulacao.chupou_dedo_meses, 'mês', 'meses' %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Como foi a retirada da chupeta?</th>
  <td><%== markdown_to_html manipulacao.chupou_dedo_relato_retirada, "Não há informação" %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança roe unhas?</th>
  <td><%= sim_ou_nao manipulacao.roi_unhas %></td>
</tr>

<tr class='<%= cl %>'>
  <th>A criança arranca os próprios cabelos?</th>
  <td><%= sim_ou_nao manipulacao.arranca_cabelos %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Outras considerações importantes sobre a manipulação de objetos</th>
  <td><%== markdown_to_html manipulacao.outros, "Nenhuma" %></td>
</tr>

<tr class='<%= cl %>'>
  <th>Atitudes tomadas pelos responsáveis em relação às manipulações relatadas</th>
  <td><%== markdown_to_html manipulacao.atitudes_tomadas_responsaveis, "Nenhuma" %></td>
</tr>
<% end %>
