<!-- joga tudo pra HTMX, meu bom -->
<thead id="tabela-dados-principais">
  <tr>
    <th colspan="100%">Dados principais</th>
  </tr>

  <tr>
    <% curr_id = "tabela-dados-principais-atendimento" %>
    <th width="20%">Dados pessoais</th>
    <td id="<%= curr_id %>">
      <form hx-patch="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-select="#tabela-dados-principais-atendimento" hx-target="#tabela-dados-principais-atendimento" hx-swap="outerHTML">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <div class="field">
          <label for="pessoa_id">Pessoa</label>
          <select name="infantojuvenil_anamnese[pessoa_id]" id="infantojuvenil_anamnese[pessoa_id]">
            <% Pessoa.em_ordem_alfabetica.joins(:acompanhamentos).where(acompanhamentos: {menor_de_idade: 1..}).each do |pessoa| %>
              <% primeiro_parente = pessoa.parentescos_registrados.parentes.first %>
              <option value="<%= pessoa.id %>" <%== "selected" if pessoa.id == infantojuvenil_anamnese.pessoa.id %>><%= pessoa.nome_completo %> <%= primeiro_parente&.parentesco&.upcase&.insert(0, "(")&.insert(-1, ": ")&.insert(-1, primeiro_parente&.parente&.nome_abreviado)&.insert(-1, ")") %></option>
            <% end %>
          </select>
        </div>

        <div class="field">
          <label for="infantojuvenil_anamnese[pessoa_responsavel_id]">Responsável</label>
          <select name="infantojuvenil_anamnese[pessoa_responsavel_id]" id="infantojuvenil_anamnese[pessoa_responsavel_id]">
            <% Pessoa.em_ordem_alfabetica.each do |pessoa| %>
              <option value="<%= pessoa.id %>" <%== "selected" if pessoa.id == infantojuvenil_anamnese.pessoa_responsavel.id %>><%= pessoa.nome_completo %></option>
            <% end %>
          </select>
        </div>

        <div class="field">
          <label for="infantojuvenil_anamnese[acompanhamento_tipo_id]">Serviço procurado</label>
          <select name="infantojuvenil_anamnese[acompanhamento_tipo_id]" id="infantojuvenil_anamnese[acompanhamento_tipo_id]">
            <% AcompanhamentoTipo.all.each do |tipo| %>
              <option value="<%= tipo.id %>" <%== "selected" if tipo.id == infantojuvenil_anamnese.acompanhamento_tipo_id %>><%= tipo.tipo.upcase %></option>
            <% end %>
          </select>
        </div>

        <div class="field">
          <label for="infantojuvenil_anamnese[data]">Data</label>
          <input type="date" name="infantojuvenil_anamnese[data]" value="<%= infantojuvenil_anamnese.data %>" id="infantojuvenil_anamnese[data]">
        </div>

        <button>Confirmar</button>
        <button hx-get="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-target="#tabela-dados-principais-atendimento" hx-swap="outerHTML" hx-select="#tabela-dados-principais-atendimento">Cancelar</button>
      </form>
    </td>
  </tr>

  <tr>
    <% curr_id = "tabela-dados-principais-data-nascimento" %>
    <th>Data de nascimento</th>
    <td id="tabela-dados-principais-data-nascimento">
      <% if usuario_atual == infantojuvenil_anamnese.profissional.usuario %>
      <input type="date" value="<%= infantojuvenil_anamnese.pessoa.data_nascimento %>" name="pessoa[data_nascimento]" hx-patch="<%= pessoa_path(infantojuvenil_anamnese.pessoa, authenticity_token: form_authenticity_token.to_s) %>" hx-trigger="change" hx-target="#tabela-dados-principais">
      <% else %>
        <%= render_data_brasil infantojuvenil_anamnese.pessoa.data_nascimento %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Idade na anamnese</th>
    <td><%= infantojuvenil_anamnese.pessoa.render_idade(infantojuvenil_anamnese.data) %></td>
  </tr>

  <tr>
    <th>Sexo</th>
    <td>
      <% if @usuario %>
        <select name="pessoa[feminino]" hx-put="<%= pessoa_path(infantojuvenil_anamnese.pessoa, authenticity_token: form_authenticity_token.to_s) %>">
          <option <%= !infantojuvenil_anamnese.pessoa.feminino? ? "selected='selected'" : "" %> value="false">Masculino</option>
          <option <%= infantojuvenil_anamnese.pessoa.feminino? ? "selected='selected'" : "" %> value="true">Feminino</option>
        </select>
      <% else %>
        <%= infantojuvenil_anamnese.pessoa.render_sexo %>
      <% end %>
    </td>
  </tr>

  <tr>
    <% curr_id = "tabela-dados-principais-motivo" %>
    <th>Motivo específico da consulta</th>
    <td id="tabela-dados-principais-motivo">
      <form hx-patch="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-select="#tabela-dados-principais-motivo" hx-swap="outerHTML" hx-target="#tabela-dados-principais-motivo">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <textarea name="infantojuvenil_anamnese[motivo_consulta]" autofocus cols="50" rows="10"><%== infantojuvenil_anamnese.motivo_consulta %></textarea>
        <br>
        <button>Confirmar</button>
        <button hx-get="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-select="#tabela-dados-principais-motivo" hx-target="#tabela-dados-principais-motivo" hx-swap="outerHTML">
          Cancelar
        </button>
      </form>
    </td>
  </tr>

  <tr>
    <% curr_id = "tabela-dados-principais-diagnostico-preliminar" %>
    <th>Hipótese diagnóstica</th>
    <td id="<%= curr_id %>">
      <form hx-patch="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="text" name="infantojuvenil_anamnese[diagnostico_preliminar]" value="<%= infantojuvenil_anamnese.diagnostico_preliminar %>" placeholder="Informe o diagnóstico preliminar">
        <button>Confirmar</button>
        <button hx-get="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>" hx-target="#<%= curr_id %>">
          Cancelar
        </button>
      </form>
    </td>
  </tr>

  <tr>
    <% curr_id = "tabela-dados-principais-plano-tratamento" %>
    <th>Plano de tratamento</th>
    <td id="<%= curr_id %>">
      <form hx-patch="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-select="#<%= curr_id %>" hx-swap="outerHTML" hx-target="#<%= curr_id %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="text" name="infantojuvenil_anamnese[plano_tratamento]" value="<%= infantojuvenil_anamnese.plano_tratamento %>">
        <button>Confirmar</button>
        <button hx-get="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>">Cancelar</button>
      </form>
    </td>
  </tr>

  <tr>
    <% curr_id = "tabela-dados-principais-prognostico" %>
    <th>Prognóstico</th>
    <td id="<%= curr_id %>">
      <form hx-patch="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
        <input type="text" name="infantojuvenil_anamnese[prognostico]" value="<%= infantojuvenil_anamnese.prognostico %>">
        <button>Confirmar</button>
        <button hx-get="<%= infantojuvenil_anamnese_path(infantojuvenil_anamnese) %>" hx-target="#<%= curr_id %>" hx-swap="outerHTML" hx-select="#<%= curr_id %>">Cancelar</button>
      </form>
    </td>
  </tr>
</thead>
