<div id="<%= dom_id grupo_atendimento %>">
  <p>
    <strong>Grupo:</strong>
    <%= grupo_atendimento.grupo_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= grupo_atendimento.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= grupo_atendimento.horario %>
  </p>

  <p>
    <strong>Horario fim:</strong>
    <%= grupo_atendimento.horario_fim %>
  </p>

  <p>
    <strong>Modalidade:</strong>
    <%= grupo_atendimento.modalidade_id %>
  </p>

  <p>
    <strong>Atendimento local:</strong>
    <%= grupo_atendimento.atendimento_local_id %>
  </p>

  <p>
    <strong>Anotacoes:</strong>
    <%= grupo_atendimento.anotacoes %>
  </p>

  <p>
    <strong>Avancos:</strong>
    <%= grupo_atendimento.avancos %>
  </p>

  <p>
    <strong>Limitacoes:</strong>
    <%= grupo_atendimento.limitacoes %>
  </p>

</div>
