<table>
  <caption><%= table_name %></caption>
  <% klass = eval("#{table_name.classify}") %>
  <thead>
    <tr>
      <% klass.column_names.excluding("password_digest").each do |column_name| %>
        <th>
          <%# <%= klass.foreign_keys.include?(column_name) ? klass.association_names[column_name] : column_name %1> %>
          <%= klass.foreign_keys.include?(column_name) ? klass.foreign_key_associations[column_name] : column_name %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% klass.all.each do |element| %>
      <tr>
        <% element.attributes.except!("password_digest").each do |k,v| %>
          <td>
            <% if element.foreign_keys.include?(k) %>
              <% assoc = element.belongs_to_from_foreign_key k %>
              <% if assoc.class == Array %>
                <%= assoc.count == 0 ? "-" : assoc %>
              <% else %>
                <%= link_to(assoc.default_display, admin_root_path(table: assoc.class.to_s.pluralize.underscore)) %>
              <% end %>
            <% else %>
              <% case v.class.to_s %>
              <% when "String" %>
                <%= v.length > 100 ? "#{v.split(" ")[..20].join(" ")}..." : v %>
              <% when "Integer" %>
                <p style="text-align:right;"><%= v %></p>
              <% when "TrueClass" %>
                <p style="text-align:center;"><%= v ? check_symbol : "&#x274C" %></p>
              <% when "NilClass" %>
                <p style="text-align:center;color:var(--doc-light-color);">N/A</p>
              <% else %>
                <%= v %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

