<% titulo "Painel administrativo: #{@table_name}" %>
<h1>Painel administrativo</h1>
<h2>
  <%= @table_name&.gsub("_", " ")&.upcase || "Escolha o painel para editar" %>
</h2>

<h3>Administração de Base de dados - Informações</h3>

<div class="grid-3" style="grid-template-columns: 1fr 3fr 1fr;">
  <div>
    <nav class="navbar navleft">
      <ul>
        <% AdminController.paths.to_a.sort.each do |m| %>
          <li>
            <%= link_to admin_root_path(table: m) do %>
              <%= path_descriptions[m.to_sym] || m.classify %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div style="max-height:75vh;overflow:scroll;">
    <% if @table_name %>
      <% if params[:new].blank? %>
        <%= render "admin/table-display", table_name: @table_name %>
      <% else %>
        <%= render "admin/new-element", table_name: @table_name %>
      <% end %>
    <% end %>
  </div>

  <div style="max-height:75vh;overflow:scroll;">
    <% if @table_name %>
      <%= render "admin/associations-display", table_name: @table_name %>
    <% end %>
  </div>
</div>
