<tr id="<%= dom_id(repasse) %>">
  <td class="text-center">
    <%= repasse.profissional.descricao_completa %>
  </td>

  <td class="text-center">
    <%= render_data_brasil repasse.data %>
  </td>

  <td class="text-center">
    <%= render_dinheiro_centavos repasse.valor %>
  </td>

  <td class="text-center">
    <%= repasse.pagamento_modalidade.modalidade %>
  </td>

  <td class="text-center">
    <% if usuario_atual.financeiro? %>
    <a href="javascript:void(0);" <%== hx_set get: edit_profissional_financeiro_repasse_path(repasse, ajax: true, de: @de, ate: @ate), target: "##{dom_id(repasse)}", swap: "outerHTML" %>>Editar</a>
    <br>
    <a href="javascript:void(0);" <%== hx_set delete: profissional_financeiro_repasse_path(repasse, authenticity_token: form_authenticity_token.to_s), confirm: "Tem certeza?", target: "#tabela-repasses", select: "#tabela-repasses", swap: "outerHTML" %>>Excluir</a>
  <% else %>
    -
  <% end %>
  </td>
</tr>

<% if hx_request? %>
  <%= render "profissionais", profissionais: Profissional.all %>
<% end %>
