<% titulo "Repasses" %>
<h1>Repasses aos profissionais</h1>

<%#== hx_input get: profissional_financeiro_repasses_path, label: "Data inicial", type: :date, name: :de, replace_url: true %>
<%#== hx_input get: profissional_financeiro_repasses_path, label: "Data final", type: :date, name: :ate, replace_url: true %>

<div class="form-g" id="repasses-form">
  <form <%== hx_set get: profissional_financeiro_repasses_path(), replace_url: true, swap: "outerHTML", target: "#tabela-repasses", select: "#tabela-repasses", trigger: "change" %>>
    <label for="de">Data inicial</label>
    <input type="date" name="de" value="<%= params[:de] || Date.today.beginning_of_month %>">

    <label for="para">Data final</label>
    <input type="date" name="ate" value="<%= params[:ate] || Date.today.end_of_month %>">
    <button type="submit">Atualizar</button>
    <button type="reset" <%== hx_set get: profissional_financeiro_repasses_path, replace_url: true %>>Deste mês</button>
    <button type="button" <%== hx_set get: profissional_financeiro_repasses_path(de: Date.today.beginning_of_month - 1.month, ate: (Date.today.beginning_of_month - 1.month).end_of_month), replace_url: true %>>Do mês passado</button>
  </form>
</div>

<%= @repasses.count %>
<%= link_to "CSV", profissional_financeiro_repasses_path(format: :csv, de: @de, ate: @ate) %>

<%= render "tabela-repasses", repasses: @repasses %>
