<% titulo "Clínica" %>
<h1>Clínica</h1>

<div class="grid-2">
  <%= link_to profissionais_path do %>
    <div class="card profissionais profissionais-card">
      <h2 class="icon-user-tie">Profissionais</h2>
      <p>
      Veja os profissionais cadastrados na clínica
      </p>
    </div>
  <% end %>

  <%= link_to atendimento_locais_path do %>
    <div class="card atendimento-locais atendimento-locais-card">
      <h2 class="icon-office">Locais de atendimento</h2>
      <p>
      Veja os locais registrados para atendimentos
      realizados pelos profissionais
      </p>
    </div>
  <% end %>

  <% if usuario_atual&.corpo_clinico? || usuario_atual&.secretaria? %>
    <%= link_to instrumentos_path do %>
      <div class="card instrumentos-card">
        <h2 class="icon-file-empty">Instrumentos</h2>
        <p>Ver os instrumentos que a clínica registrou
        para uso dos profissionais</p>
      </div>
    <% end %>

    <%= link_to estatisticas_path do %>
      <div class="card estatisticas-card">
        <h2 class="icon-chart">Estatísticas</h2>
        <p>Veja as estatísticas da clínica</p>
      </div>
    <% end %>
  <% end %>

  <% if usuario_atual %>
    <%= link_to profissional_folgas_path do %>
      <div class="card profissional-folgas-card">
        <h2 class="icon-lifebuoy">Folgas</h2>
        <p>Visualize as folgas dos profisionais</p>
      </div>
    <% end %>
  <% end %>
</div>
