<div id="<%= dom_id acompanhamento_reajuste %>">
  <p>
    <strong>Acompanhamento:</strong>
    <%= acompanhamento_reajuste.acompanhamento_id %>
  </p>

  <p>
    <strong>Data ajuste:</strong>
    <%= acompanhamento_reajuste.data_ajuste %>
  </p>

  <p>
    <strong>Valor novo:</strong>
    <%= acompanhamento_reajuste.valor_novo %>
  </p>

  <p>
    <strong>Data negociacao:</strong>
    <%= acompanhamento_reajuste.data_negociacao %>
  </p>

  <p>
    <strong>Acompanhamento reajuste motivo:</strong>
    <%= acompanhamento_reajuste.acompanhamento_reajuste_motivo_id %>
  </p>

</div>
