<%= form_with(model: acompanhamento_reajuste) do |form| %>
  <% if acompanhamento_reajuste.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(acompanhamento_reajuste.errors.count, "error") %> prohibited this acompanhamento_reajuste from being saved:</h2>

      <ul>
        <% acompanhamento_reajuste.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :acompanhamento_id, style: "display: block" %>
    <%= form.select :acompanhamento_id, Acompanhamento.por_paciente_em_ordem_alfabetica.map { |a| [a.render_info_para_profissional_alt, a.id] } %>
  </div>

  <div>
    <%= form.label "Data do ajuste", style: "display: block" %>
    <%= form.date_field :data_ajuste %>
  </div>

  <div>
    <%= form.label :valor_negociado, style: "display: block" %>
    <%= form.number_field :valor_novo %>
  </div>

  <div>
    <%= form.label "Data da negociação", style: "display: block" %>
    <%= form.date_field :data_negociacao %>
  </div>

  <div>
    <%= form.label "Motivo do reajuste", style: "display: block" %>
    <%= form.select :acompanhamento_reajuste_motivo_id, AcompanhamentoReajusteMotivo.all.map { |m| [m.motivo.upcase, m.id] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
