<% titulo "Reajustes" %>

<p style="color: green"><%= notice %></p>

<h1>Reajustes financeiros</h1>
<p>Reajustes que os profissionais fazem nos seus acompanhamentos</p>
<p>Total de reajustes do período:
<span id="num_reajustes"><%= @contagem %></span>
</p>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Novo reajuste", new_acompanhamento_reajuste_path, class: 'icon-plus' %>
    </li>
    <li>
      <%= link_to "CSV", acompanhamento_reajustes_path, class: 'icon-table2' %>
    </li>
  </ul>
</nav>

<nav class="navbar navcenter">
  <%= hx_form get: acompanhamento_reajustes_path, target: "#acompanhamento_reajustes", select: "#acompanhamento_reajustes", replace_url: true, trigger: "change", swap: "outerHTML" do %>
    <div>
      <label for="ajuste_de">Ajuste (data inicial)</label>
      <input type="date" name="ajuste_de" id="ajuste_de" value="<%= @ajuste_de %>">
      <label for="ajuste_ate">Ajuste (data final)</label>
      <input type="date" name="ajuste_ate" id="ajuste_ate" value="<%= @ajuste_ate %>">
    </div>

    <div>
      <label for="negociacao_de">Negociação (data inicial)</label>
      <input type="date" name="negociacao_de" id="negociacao_de" value="<%= params[:negociacao_de] %>">
      <label for="negociacao_ate">Negociação (data final)</label>
      <input type="date" name="negociacao_ate" id="negociacao_ate" value="<%= params[:negociacao_ate] %>">
    </div>

    <div>
      <label for="pessoa">Cadastro</label>
      <select name="pessoa" id="pessoa">
        <option value="">Todos</option>
        <% @pessoas.each do |pessoa| %>
          <option value="<%= pessoa.id %>" <%= "selected" unless pessoa.id != params[:pessoa] %>><%= pessoa.nome_completo %> (<%= deixar_no_plural pessoa.acompanhamento_reajustes.count, "reajuste", "reajustes" %>)</option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="profissional">Profissional</label>
      <select name="profissional" id="profissional">
        <option value="">Todos</option>
        <% @profissionais.each do |profissional| %>
          <option value="<%= profissional.id %>" <%= "selected" unless profissional.id != params[:profissional] %>><%= profissional.nome_completo %> (<%= deixar_no_plural profissional.acompanhamento_reajustes.count, "reajuste", "reajustes" %>)</option>
        <% end %>
      </select>
    </div>
  <% end %>
</nav>

<%= render "acompanhamento_reajustes-container", acompanhamento_reajustes: @acompanhamento_reajustes %>
