<div id="<%= dom_id biblioteca_obra %>">
  <p>
    <strong>Titulo:</strong>
    <%= biblioteca_obra.titulo %>
  </p>

  <p>
    <strong>Subtitulo:</strong>
    <%= biblioteca_obra.subtitulo %>
  </p>

  <p>
    <strong>Biblioteca obra tipo:</strong>
    <%= biblioteca_obra.biblioteca_obra_tipo_id %>
  </p>

  <p>
    <strong>Biblioteca editora:</strong>
    <%= biblioteca_obra.biblioteca_editora_id %>
  </p>

  <p>
    <strong>Ordem:</strong>
    <%= biblioteca_obra.ordem %>
  </p>

  <p>
    <strong>Data publicacao:</strong>
    <%= biblioteca_obra.data_publicacao %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= biblioteca_obra.isbn %>
  </p>

  <p>
    <strong>Caminho:</strong>
    <%= biblioteca_obra.caminho %>
  </p>

  <p>
    <strong>Obra virtual:</strong>
    <%= biblioteca_obra.obra_virtual %>
  </p>

  <p>
    <strong>Num paginas:</strong>
    <%= biblioteca_obra.num_paginas %>
  </p>

  <p>
    <strong>Resumo:</strong>
    <%= biblioteca_obra.resumo %>
  </p>

  <p>
    <strong>Edicao:</strong>
    <%= biblioteca_obra.edicao %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= biblioteca_obra.volume %>
  </p>

  <p>
    <strong>Periodico:</strong>
    <%= biblioteca_obra.periodico_id %>
  </p>

</div>
