<p style="color: green"><%= notice %></p>

<%= render @biblioteca_obra %>

<div>
  <%= link_to "Edit this biblioteca obra", edit_biblioteca_obra_path(@biblioteca_obra) %> |
  <%= link_to "Back to biblioteca obras", biblioteca_obras_path %>

  <%= button_to "Destroy this biblioteca obra", @biblioteca_obra, method: :delete %>
</div>
