<% titulo @biblioteca_obra.titulo_completo %>
<h1><%= @biblioteca_obra.titulo_completo %></h1>
<h2>
<% autores_count = @biblioteca_obra.autores.count %>
<% @biblioteca_obra.autores.map { |a| [a.nome_completo, a] }.each_with_index do |autor, id| %>
  <%= link_to autor[0], autor[1] %><% if id != autores_count - 1 %>;<% end %>
<% end %>
</h2>
<hr>

<%= link_to "voltar", biblioteca_path %>

<div class="biblioteca-obra-resumo">
  <%= @biblioteca_obra.resumo || "LOREM IPSUM DOLOR SIT AMET CONSECTETUR" %>
</div>

<div class="biblioteca-obra-informacoes">
  <p><%= @biblioteca_obra.tipo %></p>
  <p><%= @biblioteca_obra.editora.nome %></p>
  <p><%= @biblioteca_obra.data_formatada %></p>
  <p>ISBN: <%= @biblioteca_obra.isbn || "Não informado" %></p>

  <% if @biblioteca_obra.obra_virtual %>
    <%= link_to "Visualizar", @biblioteca_obra.caminho %>
  <% end %>

  <% if @biblioteca_obra.edicao > 0 %>
    <p><%= @biblioteca_obra.edicao %>ª edição</p>
  <% end %>

  <% if @biblioteca_obra.volume > 0 %>
    <p>Volume <%= @biblioteca_obra.volume %></p>
  <% end %>

  <% if @biblioteca_obra.periodico %>
    <p><%= @biblioteca_obra.periodico.nome %></p>
  <% end %>
  <p><strong>Tags:</strong>
  <%= @biblioteca_obra.tags.map { |t| t.nome } %>
  </p>
</div>
