<% curr_id = "tabela-identificacao-laudo-demanda-textarea" %>
<form id="laudo-demanda-edit"
      hx-patch="<%= identificacao_update_laudo_path(laudo) %>"
      hx-target="#identificacao">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea id="<%= curr_id %>" style="width:90%;height:10em;" name="laudo[demanda]" value="<%= laudo.demanda %>" placeholder="Descreva a demanda detalhadamente"><%= laudo.demanda %></textarea>
  <br>
  <button>Ok</button>
  <button hx-get="<%= demanda_laudo_path(laudo) %>" hx-target="#laudo-demanda-edit" hx-swap="outerHTML">Cancelar</button>
  <%== simplemde_gerar curr_id %>
</form>
