<% if atendimento %>
  <%= link_to acompanhamento_path(atendimento.acompanhamento, anchor: dom_id(atendimento)), class: "atendimento-link" do %>
    <div class="atendimento-card atendimento-<%= atendimento.status.parameterize %> <%= if atendimento.reagendado? then "atendimento-reagendado" end %>">
      <p>
      <strong>
        <%= atendimento.acompanhamento.pessoa.nome_chamada_sobrenome %>
        <%# <%= atendimento.pessoa.nome_social&.insert(0, " (")&.insert(-1, ")") %1> %>
      </strong>
      <br />
      <span style="font-size: .9em;"><%= render_hora_brasil atendimento.horario_inicio_verdadeiro %>&ndash;<%= render_hora_brasil atendimento.horario_fim_verdadeiro %></span>
      <br />
      <span style="font-size: .8em;">
        <%= atendimento.profissional.profissional_funcao.abreviado %>
        <%= atendimento.profissional.nome_e_sobrenome %>
      </span>
      <br />
      <span style="font-size:.7em;">(<%= atendimento.atendimento_tipo.tipo.upcase %>)</span>
      </p>
    </div>
  <% end %>

  <%#= render "atendimentos/atendimento-card-edit", atendimento: atendimento %>
<% end %>
