<% if !atendimento.nil? %>
  <% path_ajax = atendimento_path(atendimento, ajax: true, authenticity_token: form_authenticity_token.to_s) %>
  <% usuario = usuario_atual.secretaria? || usuario_atual.profissional == atendimento.profissional %>
  <% id = dom_id(atendimento) %>
  <% @authenticity_token = form_authenticity_token.to_s %>

  <% if usuario %>

    <tr id="<%= id %>">
      <td id="<%= dom_id(atendimento) %>_data">
        <%= render "atendimentos/data_show", atendimento: atendimento %>
      </td>

      <td id="<%= dom_id(atendimento) %>_horario">
        <%= render "atendimentos/horario_show", atendimento: atendimento %>
      </td>

      <td>
        <%= render "atendimentos/modalidade_show", atendimento: atendimento %>
        <%= render "atendimentos/tipo_show", atendimento: atendimento, profissional_funcao: atendimento.profissional.profissional_funcao %>
        <hr>
        <%= render "atendimentos/status_show", atendimento: atendimento %>
        <hr>
        <%= render "atendimentos/local_show", atendimento: atendimento %>
      </td>

      <td>
        <%= render "atendimentos/valor_show", atendimento: atendimento %>
      </td>

      <td id="<%= dom_id(atendimento) %>_anotacoes">
        <%= render "atendimentos/anotacoes_show", atendimento: atendimento %>
      </td>

      <td>
        <%= render "atendimentos/instrumentos", atendimento: atendimento %>
      </td>

      <td>
        <%= render "atendimentos/opcoes", atendimento: atendimento %>
      </td>
    </tr>

  <% else %>

    <tr id="<%= id %>">
      <td>
        <%= render_data_brasil atendimento.data %>
      </td>
      <td>
        <%= "#{render_hora_brasil atendimento.horario}#{atendimento.horario_fim.blank? ? "" : " até #{render_hora_brasil atendimento.horario_fim}"}" %>
      </td>
      <td>
        <%= atendimento.modalidade.upcase %>
      </td>
      <td>
        <%= atendimento.tipo.upcase %>
      </td>
      <td>
        <%= atendimento.status %>
      </td>
      <td>
        <%= markdown_to_html atendimento.anotacoes, "Sem anotações" %>
      </td>
      <td>
        <% if atendimento.instrumentos.empty? %>
          <center>-</center>
        <% else %>
          <ul>
            <% atendimento.instrumentos.each do %>
            <% end %>
          </ul>
        <% end %>
      </td>
      <td>
        <% if atendimento.presenca %>
          <%= link_to "Declaração (markdown)", declaracao_comparecimento_atendimento_path(atendimento, format: "md") %>
        <% else %>
          <center>-</center>
        <% end %>
      </td>
    </tr>


  <% end %>
<% end %>
