<% if !@acompanhamento.nil? %>
  <%= link_to "Voltar", @acompanhamento, class: "icon-previous" %>
<% end %>
<div class="atendimento-form">
  <% if !@acompanhamento.nil? %>
    <div class="grid-2">
  <% end %>
  <%= form_with(model: atendimento, local: true) do |form| %>
    <% if atendimento.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(atendimento.errors.count, "erro") %> não permitiu salvamento:</h2>
        <ul>
          <% atendimento.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- formulário -->

    <% if @acompanhamento.nil? %>
      <div class="field">
        <%= form.label :acompanhamento %>
        <%= form.select :acompanhamento_id, Acompanhamento.order(data_inicio: :desc).map { 
          |acompanhamento| ["#{acompanhamento.pessoa.nome_completo} acompanhado por #{acompanhamento.profissional.nome_completo} desde #{render_data_brasil acompanhamento.data_inicio}", acompanhamento.id] },
        {include_blank: "ESCOLHA ACOMPANHAMENTO"},
        "hx-get" => new_atendimento_path,
        "hx-target" => "#atendimento_tipo",
        "hx-select" => "#atendimento_tipo"
        %>
      </div>
    <% else %>
      <%= form.hidden_field :acompanhamento_id, value: @acompanhamento.id %>
    <% end %>

    <div class="field" id="atendimento_tipo">
      <%= form.label "Tipo de atendimento" %>
      <% funcoes_profissionais = @acompanhamento&.profissional&.profissional_funcao || ProfissionalFuncao.all %>
      <%= form.select :atendimento_tipo_id, AtendimentoTipo.where(profissional_funcao: [funcoes_profissionais, nil].flatten).order(:tipo).map {
        |atendimento_tipo| [atendimento_tipo.tipo.upcase, atendimento_tipo.id] }
      %>
    </div>

    <div class="field">
      <%= form.label "Modalidade de atendimento" %>
      <%= form.select :modalidade_id, AtendimentoModalidade.order(:modalidade).map { |atendimento_modalidade| [atendimento_modalidade.modalidade, atendimento_modalidade.id] } %>
    </div>

    <div class="field">
      <%= form.label :data %>
      <%= form.date_field :data %>
    </div>

    <div class="field">
      <%= form.label :horario, "Horário" %>
      <%= form.time_field :horario %>

      <%= form.label :horario_fim, "Até" %>
      <%= form.time_field :horario_fim %>
    </div>

    <div class="field">
    </div>

    <div class="field">
      <%= form.label "Considerações" %>
      <%= form.text_area :anotacoes %>
    </div>
    <% submit_text = atendimento.id.nil? ? "Criar atendimento" : "Atualizar atendimento" %>
    <%= form.submit submit_text %>
  <% end %>

  <% if !@acompanhamento.nil? %>
      <div>
        <%= render "acompanhamento_horarios/resumo_acompanhamento", acompanhamento: @acompanhamento %>
      </div>
    </div>
  <% end %>
</div>
