<form hx-patch="<%= horario_update_atendimento_path(atendimento) %>" hx-target="#<%= dom_id(atendimento) %>_horario" id="edit_<%= dom_id(atendimento) %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
  <input type="time" name="atendimento[horario]" value="<%= atendimento.horario.strftime("%H:%M:%S") %>">
  <button hx-get="<%= horario_atendimento_path(atendimento) %>">
    Cancelar
  </button>
  <button>
    Ok
  </button>
</form>
