<% if !atendimento %>
  ERRO
<% else %>
  <% usuario = usuario_atual.secretaria? || usuario_atual.profissional == atendimento.profissional %>

  <ul>
  <% if usuario %>
    <li>
      <%= link_to "Visualizar", atendimento_path(atendimento), class: 'icon-eye' %>
    </li>
    <li>
      <%= hx_link "Excluir", atendimento_path(atendimento, authenticity_token: form_authenticity_token.to_s), confirm: "Tem certeza?", class: "icon-bin", verb: "delete", target: "#tabela-caso-resumo", select: "#tabela-caso-resumo" %>
    </li>
  <% end %>

  <% if atendimento.presenca %>
    <li>
      <%= link_to "Declaração", declaracao_comparecimento_atendimento_path(atendimento), class: 'icon-file-empty' %>
      <ul>
        <li>
          <%= link_to "Markdown", declaracao_comparecimento_atendimento_path(atendimento, format: :md), class: "icon-download3" %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to "Modelo de relato (markdown)", modelo_relato_atendimento_path(atendimento, format: :md), class: 'icon-download3' %>
    </li>
  <% end %>
  </ul>
<% end %>
