<% presente = atendimento.presenca || 0 > 0 ? 1 : 0%>
<p style="text-align:center;">
<%= atendimento.status %>
</p>
<form
        id="btn-<%= dom_id(atendimento) %>"
        hx-patch="<%= status_update_atendimento_path(atendimento) %>"
        hx-target="#<%= dom_id(atendimento) %>"
        hx-swap="outerHTML"
  >
  <input type="hidden" value="<%= form_authenticity_token.to_s %>" name="authenticity_token">
  <button name="atendimento[presenca]" value="<%= presente == 0 %>">
  <%= atendimento.presenca? ? "Presente" : "Ausente" %>
  </button>
</form>
