<% atendimento_valor = atendimento.atendimento_valor %>
<% usuario_pode_mudar = usuario_atual.profissional == atendimento.profissional || usuario_atual.financeiro? %>

<% if atendimento_valor.nil? %>
   <% if usuario_pode_mudar %>
      <button <%== hx_set post: create_atendimento_valor_atendimento_path(atendimento, ajax: true, authenticity_token: form_authenticity_token.to_s), swap: "outerHTML", target: "##{dom_id(atendimento)}" %>>Gerar valor de atendimento</button>
    <% else %>
      Não há registro de valor.
    <% end %>
<% else %>
  <% if usuario_pode_mudar %>
    <form <%== hx_set patch: atendimento_path(atendimento, ajax: true, authenticity_token: form_authenticity_token), swap: "outerHTML", target: "##{dom_id(atendimento)}" %>>

      <% valores = atendimento_valor.attributes %>
      <% valores = valores.map { |k,v| [k.to_sym, "#{v.blank? ? 0 : v / 100},#{(v.blank? ? 0 : v % 100).to_s.insert(-1, "00")[..1]}"] }.to_h %>

      <div class="field">
        <label for="atendimento[atendimento_valor_attributes][valor_real]">Valor (R$)</label>
        <input type="text" style="min-width:10em;" value="<%= number_to_currency atendimento_valor.valor_real, unit: "", separator: ",", delimiter: "." %>" name="atendimento[atendimento_valor_attributes][valor_real]" data-type="currency">
      </div>

      <div class="field">
        <label for="atendimento[atendimento_valor_attributes][desconto]">Desconto (R$)</label>
        <input type="text" style="min-width:10em;" value="<%= number_to_currency atendimento_valor.desconto_real, unit: "", separator: ",", delimiter: "." %>" name="atendimento[atendimento_valor_attributes][desconto_real]">
      </div>

      <div class="field">
        <label for="atendimento[atendimento_valor_attributes][taxa_porcentagem_externa]">Taxa externa (%)</label>
        <input type="text" style="min-width:10em;" value="<%= number_to_currency atendimento_valor.taxa_porcentagem_externa_real, unit: "", separator: ",", delimiter: "." %>" name="atendimento[atendimento_valor_attributes][taxa_porcentagem_externa_real]">
        (<%= render_dinheiro_centavos atendimento_valor.taxa_externa %>)
      </div>

      <div class="field">
        <label for="atendimento[atendimento_valor_attributes][taxa_porcentagem_interna]">Taxa interna (%)</label>
        <input type="text" style="min-width:10em;" value="<%= number_to_currency atendimento_valor.taxa_porcentagem_interna_real, unit: "", separator: ",", delimiter: "." %>" name="atendimento[atendimento_valor_attributes][taxa_porcentagem_interna_real]">
        (<%= render_dinheiro_centavos atendimento_valor.taxa_interna %>)
      </div>

      <div class="action">
        <input type="submit" value="Atualizar">
      </div>

    </form>

    <table>
      <tr>
        <td>Taxas</td>
        <td><%= render_dinheiro_centavos atendimento_valor.taxa_externa + atendimento_valor.taxa_interna %></td>
      </tr>
      <tr>
        <td>Líquido</td>
        <td><%= render_dinheiro_centavos atendimento_valor.liquido %></td>
      </tr>
    </table>
<% else %>
  <%= render_dinheiro_centavos atendimento.atendimento_valor.valor %>
<% end %>
<% end %>

<%# <script> %>
<%#   document.querySelectorAll["input[data-type='currency']").forEach(currency_input_validate); %>
<%# </script> %>
