<div class="card">
  <h4 class="icon-user-tie"><%= infantojuvenil_anamnese.profissional.descricao_completa %></h4>
  <p class="icon-calendar"><%= render_data_brasil infantojuvenil_anamnese.data %></p>
  <p class="icon-archive"><%= infantojuvenil_anamnese.acompanhamento_tipo&.tipo&.upcase&.insert(0, "(")&.insert(-1, ")") %></p>
  <%= link_to "Ver", infantojuvenil_anamnese_path(infantojuvenil_anamnese), class: "icon-eye button" %>
  <%= link_to "PDF", infantojuvenil_anamnese_path(infantojuvenil_anamnese, format: :pdf), target: :blank, class: "icon-file-pdf button" %>
  <%= link_to "Markdown", infantojuvenil_anamnese_path(infantojuvenil_anamnese, format: :md), class: "icon-file-empty button" %>
</div>
