<% titulo "Financeiro #{@pessoa.nome_abreviado}" %>

<h1>Financeiro - <%= @pessoa.nome_abreviado %></h1>

<%= render 'navbar', pessoa: @pessoa %>

<table id="tabela-valores">
  <thead>
    <tr>
      <th>Referência</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% periodo_total = @pessoa.atendimentos.minimum(:data)..@pessoa.atendimentos.maximum(:data) %>
      <td>Valor total dos atendimentos</td>
      <td class="dinheiro"><%= render_dinheiro_centavos @pessoa.atendimento_valores.soma_brutos %></td>
    </tr>

    <tr>
      <td>Total de recebimentos</td>
      <td class="dinheiro"><%= render_dinheiro_centavos @pessoa.recebimentos.sum(:valor) %></td>
    </tr>

    <tr>
      <td>Valor a receber até mês passado</td>
      <td class="dinheiro"><%= render_dinheiro_centavos(@pessoa.valor_a_cobrar_ate_mes_passado > 0 ? @pessoa.valor_a_cobrar_ate_mes_passado : 0) %></td>
    </tr>
    <tr>
      <td>Valor a receber</td>
      <td class="dinheiro"><%= render_dinheiro_centavos @pessoa.valor_a_cobrar periodo_total %></td>
    </tr>

    <tr>
      <td>Valor de atendimentos deste mês</td>
      <td class="dinheiro"><%= render_dinheiro_centavos @pessoa.atendimento_valores.soma_brutos %></td>
    </tr>

    <tr>
      <td>Taxa total</td>
      <td class="dinheiro"><%= render_dinheiro_centavos @pessoa.atendimento_valores.soma_taxas %></td>
    </tr>

    <tr>
      <td>Taxa deste mês</td>
      <td class="dinheiro"><%= render_dinheiro_centavos @pessoa.atendimento_valores.soma_taxas %></td>
    </tr>
  </tbody>
</table>

<div class="grid-2">
  <div>
    <h2>
      Valores de atendimentos
    <%= link_to "Ver todos", atendimento_valores_pessoa_path(@pessoa), class: "button", style: "font-size:1rem;" %>
    </h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Horário</th>
          <th>Profissional</th>
          <th>Dados financeiros</th>
        </tr>
      </thead>
      <tbody>
        <% @pessoa.atendimento_valores.order(data: :desc, horario: :desc).first(4).each do |atendimento_valor| %>
          <tr>
            <td><%= render_data_brasil atendimento_valor.data %></td>
            <td><%= render_hora_brasil atendimento_valor.horario %></td>
            <td><%= atendimento_valor.profissional.descricao_completa %></td>
            <td>
              Valor: <%= render_dinheiro_centavos atendimento_valor.valor %>
              <br />
              Desconto: <%= render_dinheiro_centavos atendimento_valor.desconto %>
              <br />
              Taxa interna (clínica): <%= render_dinheiro_centavos atendimento_valor.valor * atendimento_valor.taxa_porcentagem_interna / 10000 %>
              <br />
              Taxa externa (profissional): <%= render_dinheiro_centavos atendimento_valor.valor * atendimento_valor.taxa_porcentagem_externa / 10000 %>
            <br />
            Valor líquido: <%= render_dinheiro_centavos atendimento_valor.valor - (atendimento_valor.valor * atendimento_valor.taxa_porcentagem_interna / 10000) - (atendimento_valor.valor * atendimento_valor.taxa_porcentagem_externa / 10000) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <h2>
      Recebimentos
      <%= link_to "Ver todos", recebimentos_pessoa_path(@pessoa), class: "button", style: "font-size:1rem;" %>
    </h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Pagante</th>
          <th>Profissional</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @pessoa.recebimentos.order(data: :desc).first(4).each do |recebimento| %>
          <tr>
            <td><%= render_data_brasil recebimento.data %></td>
            <td><%= recebimento.pagante.nome_completo %> - CPF <%= recebimento.pagante.render_cpf %></td>
            <td><%= recebimento.profissional.descricao_completa %></td>
            <td><%= render_dinheiro_centavos recebimento.valor %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <h2>
      Reajustes
      <%= link_to "Ver todos", acompanhamento_reajustes_pessoa_path(@pessoa), class: "button", style: "font-size: 1rem;" %>
    </h2>
    <table>
      <thead>
        <tr>
          <th>Acompanhamento</th>
          <th>Data de negociação</th>
          <th>Data de reajuste</th>
          <th>Valor negociado</th>
        </tr>
      </thead>
      <tbody>
        <% @pessoa.acompanhamento_reajustes.each do |acompanhamento_reajuste| %>
          <tr>
            <td><%= acompanhamento_reajuste.acompanhamento.render_info_para_profissional_alt %></td>
            <td><%= render_data_brasil acompanhamento_reajuste.data_negociacao %></td>
            <td><%= render_data_brasil acompanhamento_reajuste.data_ajuste %></td>
            <td><%= render_dinheiro_centavos acompanhamento_reajuste.valor_novo %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
