<%= titulo "Cadastros" %>
<p id="notice"><%= notice %></p>

<h1>Cadastros</h1>
<p>Quantidade de cadastros: <%= Pessoa.all.count %></p>

<%= link_to '+ cadastro', new_pessoa_path %>

<%#= form_with url: pessoas_path, method: :get, local: true, data: { turbo_frame: 'pessoas' } do |form| %>
  <%#= form.text_field :q, value: params[:q], placeholder: "Pesquisar por nome..." %>
  <%##= form.label :sexo %>
  <%##= form.select :sexo, [["Ambos", ''], ["Masculino", false], ["Feminino", true]] %>
  <%#= form.submit "Pesquisar" %>

<%# end %>

<br>

<input name="q"
       type="text"
       placeholder="Pesquisar por nome..."
       hx-get="/cadastros?ajax=true"
       hx-target="#cadastros-container"
       hx-trigger="keyup delay:500ms changed"
>
<div id="query-name-field">
</div>
<%= render "pessoas/pessoas-container", pessoas: @pessoas %>

<br>
