<%= titulo "Cadastros" %>
<p id="notice"><%= notice %></p>

<h1>Cadastros</h1>
<p>Quantidade de cadastros:
<span id="num_cadastros"><%= @contagem %></span>
</p>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to '+ cadastro', new_pessoa_path %>
    </li>
  </ul>
</nav>

<br>

<nav class="navbar">
  <%= hx_form get: pessoas_path, target: "#cadastros-container", trigger: "change", replace_url: true, trigger: "keyup delay:500ms changed, change" do %>
    <div>
      <label for="nome">Nome</label>
      <input name="nome" type="text" placeholder="Pesquisar por nome..." style="width:70%;margin:1em;">
    </diV>

    <div>
      <label for="sexo">Sexo</label>
      <select name="sexo" id="sexo">
        <option value="">AMBOS</option>
        <option value="masculino" <%= "selected" unless params[:sexo] != "masculino" %>>MASCULINO</option>
        <option value="feminino" <%= "selected" unless params[:sexo] != "feminino" %>>FEMININO</option>
      </select>
    </div>

    <br>
    <div>
      <label for="profissionais">Pacientes ou profissionais?</label>
      <select name="profissionais" id="profissionais">
        <option value="">AMBOS</option>
        <option value="true">PROFISSIONAIS</option>
        <option value="false">PACIENTES</option>
      </select>
    </div>

    <br>
    <div>
      <label for="pais">País</label>
      <select name="pais" id="pais">
        <option value="">TODOS</option>
      <% Pessoa.group(:pais).count.keys.each do |pais| %>
        <option value="<%= pais.id %>" <%= "selected" unless params[:pais] != pais.id %>><%= pais.nome %></option>
      <% end %>
      </select>
    </div>

    <div>
      <label for="endereco_cidade">Cidade</label>
      <input type="text" name="endereco_cidade" id="endereco_cidade" value="<%= params[:endereco_cidade] %>" placeholder="Cidade...">
    </div>
    <div>
      <label for="endereco_logradouro">Logradouro</label>
      <input type="text" name="endereco_logradouro" id="endereco_logradouro" value="<%= params[:endereco_logradouro] %>" placeholder="Logradouro...">
    </div>
    <div>
      <label for="endereco_bairro">Bairro</label>
      <input type="text" name="endereco_bairro" id="endereco_bairro" value="<%= params[:endereco_bairro] %>" placeholder="Bairro...">
    </div>
  <% end %>
</nav>

<br>

<%= render "pessoas/pessoas-container", pessoas: @pessoas %>

<br>
