<% titulo "Recebimentos de #{@pessoa.nome_abreviado}" %>

<%= link_to "Voltar", @pessoa %>
<h1>Recebimentos de <%= @pessoa.nome_completo %></h1>
<p>
<%= @recebimentos.count %> recebimentos no período.
</p>

<form action="<%= recebimentos_pessoa_path(@pessoa) %>" method="get">
  <label for="recebimentos_de">De</label>
  <input type="date" value="<%= @de %>" name="de" id="recebimentos_de">
  <label for="recebimentos_ate">Até</label>
  <input type="date" value="<%= @ate %>" name="ate" id="recebimentos_ate">
  <button>Atualizar</button>
</form>

<%= link_to "CSV", recebimentos_pessoa_path(@pessoa, de: @de, ate: @ate, format: :csv) %>
|
<%= link_to "Recibos (markdown)", recebimentos_pessoa_path(@pessoa, de: @de, ate: @ate, format: :zip) %>

<table>
  <caption>Informações do cadastro</caption>
  <thead>
    <tr>
      <th>Nome</th>
      <td><%= @pessoa.nome_completo %></td>
    </tr>
    <tr>
      <th>Nacionalidade</th>
      <td><%= @pessoa.nascimento_pais.nil? ? "Sem informação" : @pessoa.nascimento_pais.nome %></td>
    </tr>
    <tr>
      <th>CPF</th>
      <td><%= @pessoa.render_cpf %></td>
    </tr>
    <tr>
      <th>Data de nascimento</th>
      <td><%= render_data_brasil @pessoa.data_nascimento %> (<%= @pessoa.render_idade %>)</td>
    </tr>
    <tr>
      <th>E-mail principal</th>
      <td><%= mail_to @pessoa.email %></td>
    </tr>
    <tr>
      <th>Telefone principal</th>
      <td>
        <% if @pessoa.render_fone_link %>
          <%= phone_to @pessoa.render_fone_link, @pessoa.render_fone %>
          <br>
          <%= link_to "Whatsapp", "https://wa.me/#{@pessoa.render_fone_link[1..]}", target: :blank %>
          |
          <%= link_to "Telegram", "https://t.me/#{@pessoa.render_fone_link}", target: :blank %>
        <% else %>
          Sem informação
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Endereço</th>
      <td>
        <%= @pessoa.render_endereco %>
        |
        <%= @pessoa.estado %>,
        <%= @pessoa.pais.nome %>
      </td>
    </tr>
  </thead>
</table>

<%= render "recebimentos-tabela", recebimentos: @recebimentos %>

