<% titulo "Recebimentos de #{@pessoa.nome_abreviado}" %>

<h1>Recebimentos de <%= @pessoa.nome_completo %></h1>
<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Cadastro", @pessoa, class: 'icon-previous' %>
    </li>
    <li>
      <%= link_to "Financeiro", financeiro_pessoa_path(@pessoa), class: 'icon-coin-dollar' %>
    </li>
    <li>
      <%= link_to "Adicionar", new_recebimento_pessoa_path(@pessoa), class: 'icon-plus' %>
    </li>
  </ul>
</nav>
<p>
<%= deixar_no_plural @recebimentos.count, 'recebimento', 'recebimentos' %> no período.
</p>

<form action="<%= recebimentos_pessoa_path(@pessoa) %>" method="get">
  <label for="recebimentos_de">De</label>
  <input type="date" value="<%= @de %>" name="de" id="recebimentos_de">
  <label for="recebimentos_ate">Até</label>
  <input type="date" value="<%= @ate %>" name="ate" id="recebimentos_ate">
  <button>Atualizar</button>
</form>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "CSV", recebimentos_pessoa_path(@pessoa, de: @de, ate: @ate, format: :csv), class: 'icon-table2' %>
    </li>

    <li>
      <%= link_to "Excel", recebimentos_pessoa_path(@pessoa, de: @de, ate: @ate, format: :xlsx), class: "icon-file-excel" %>
    </li>

    <li>
      <%= link_to "Recibos (markdown)", recebimentos_pessoa_path(@pessoa, de: @de, ate: @ate, format: :zip), class: 'icon-file-zip' %>
    </li>
  </ul>
</nav>
<br><br>

<table>
  <caption>Informações do cadastro</caption>
  <thead>
    <tr>
      <th>Nome</th>
      <td><%= @pessoa.nome_completo %></td>
    </tr>
    <tr>
      <th>Nacionalidade</th>
      <td><%= @pessoa.nascimento_pais.nil? ? "Sem informação" : @pessoa.nascimento_pais.nome %></td>
    </tr>
    <tr>
      <th>CPF</th>
      <td><%= @pessoa.render_cpf %></td>
    </tr>
    <tr>
      <th>Data de nascimento</th>
      <td><%= render_data_brasil @pessoa.data_nascimento %> (<%= @pessoa.render_idade %>)</td>
    </tr>
    <tr>
      <th>E-mail principal</th>
      <td><%= mail_to @pessoa.email %></td>
    </tr>
    <tr>
      <th>Telefone principal</th>
      <td>
        <% if @pessoa.render_fone_link %>
          <%= phone_to @pessoa.render_fone_link, @pessoa.render_fone %>
          <br>
          <%= link_to "Whatsapp", "https://wa.me/#{@pessoa.render_fone_link[1..]}", target: :blank %>
          |
          <%= link_to "Telegram", "https://t.me/#{@pessoa.render_fone_link}", target: :blank %>
        <% else %>
          Sem informação
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Endereço</th>
      <td>
        <%= @pessoa.endereco_completo %>
      </td>
    </tr>
  </thead>
</table>

<%= render "recebimentos-tabela", recebimentos: @recebimentos %>
