<% titulo @pessoa.nome_abreviado %>
<p id="notice"><%= notice %></p>

<% pro = @pessoa.profissional %>

<div class="pessoa-container">

  <h1>
    <%= @pessoa.pronome_tratamento %>
    <%= @pessoa.nome_completo %> <%= @pessoa.render_sexo_sigla %>
    <% if !@pessoa.imagem_perfil.nil? %>
      <img class="pessoa-profile-img" style="position:relative;" src="<%= @pessoa.imagem_perfil %>">
    <% end %>
  </h1>

  <%= render 'navbar', pessoa: @pessoa %>

  <div class="grid-2">
    <div class="documento">
      <h2>Breve biografia</h2>
      <%== markdown_to_html @pessoa.bio %>
    </div>

    <div class="pessoa-info documento">
      <p class="icon-location">
      Natural de:
      <%= [@pessoa.nascimento_cidade, @pessoa.nascimento_estado, @pessoa.nascimento_pais&.nome].compact.join(', ') %>
      </p>
      <p class="icon-profile">
      CPF <%= @pessoa.render_cpf %>
      </p>

      <!-- informações de contato -->
      <div class="contato">
        <p class="icon-mail">
        <%= mail_to @pessoa.email %>
        </p>
        <% if @pessoa.tem_telefone? %>
          <p class="icon-phone">
          <%= phone_to @pessoa.render_fone_link, @pessoa.render_fone %>
          <% if @pessoa.usa_whatsapp? %>
            <%= link_to "", @pessoa.render_whatsapp_link, target: :_blank, class: "icon-whatsapp" %>
          <% end %>
          <% if @pessoa.usa_telegram? %>
            <%= link_to "", @pessoa.render_telegram_link, target: :blank, class: "icon-telegram" %>
          <% end %>
        <% end %>
      </div>

      <!-- dados pessoais -->
      <div class="dados-pessoais">
        <p class="icon-cake">
        <% if @pessoa.data_nascimento != nil %>
          <%= render_data_brasil @pessoa.data_nascimento %> (<%= @pessoa.render_idade %>)
        <% else %>
          SEM INFORMAÇÃO
        <% end %>
        </p>
        <p class="icon-library">
        <%= @pessoa.instrucao_grau&.grau&.upcase || "Sem informação".upcase %>
        </p>
        <p class="icon-heart">
        <%= @pessoa.estado_civil.upcase %>
        </p>
        <p class="icon-user-tie">
        <%= @pessoa.profissao&.upcase || "Sem informação".upcase %>
        </p>
      </div>

      <!-- dados de endereço -->
      <p class="endereco icon-location">
      <%= @pessoa.endereco_completo_com_cep %>
      </p>
      <div id="pessoa-parentes" class="pessoa-parentes" style="text-align:justify;">
        <%= render "pessoas/parentes", pessoa: @pessoa %>
      </div>

      <%= render "pessoas/medicacao", pessoa: @pessoa %>
    </div>
  </div>

  <!-- se for profissional -->
  <% if !pro.nil? %>
    <hr>
    <div class="profissional">
      <p>
      <h2><%= pro.descricao_completa %></h2>
      (<%= pro.atendimentos.realizados.count %> atendimentos realizados)
      </p>
      <%= link_to "Editar", edit_profissional_path, profissional: pro %>
    </div>
    <hr>
  <% end %>

</div>

<hr>
<div class="acompanhamentos">
  <!-- se é profissional -->
  <% if pro != nil %>
    <h3>Acompanhamentos</h3>
    <%= render 'profissionais/acompanhamentos-lista', profissional: pro %>
  <% end %>

  <!-- se é usuário -->
  <% if !@pessoa.acompanhamentos.empty? %>
    <div class="pessoa-acompanhamentos">
      <h3>Acompanhamentos</h3>
      <div class="grid-4">
        <% @pessoa.acompanhamentos.order(data_inicio: :desc).first(3).each do |a| %>
          <%= render 'acompanhamentos/card', acompanhamento: a %>
        <% end %>

        <%= link_to acompanhamentos_pessoa_path(@pessoa), class: "card", style: "display:grid;align-content:center;" do %>
          <div>
            <h2 style="text-align:center;">Ver todos</h2>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- se é responsável -->
  <% if !@pessoa.acompanhamentos_responsavel.empty? %>
    <div class="pessoa-acompanhamentos-responsavel">
      <h3>Acompanhamentos pelos quais responde</h3>
      <div class="grid-3">
        <% @pessoa.acompanhamentos_responsavel.order(data_inicio: :desc).each do |a| %>
          <%= render 'acompanhamentos/card', acompanhamento: a %>
          <%# <%= link_to a do %1><li><%= a.render_info_para_pessoa %1></li><% end %1> %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- se tiver anamneses mostrar aqui -->
<% if !@pessoa.infantojuvenil_anamneses.empty? %>
  <div class="pessoa-infantojuvenil-anamneses">
    <h3>Anamneses infantojuvenis</h3>
    <ul>
      <% @pessoa.infantojuvenil_anamneses.each do |anamnese| %>
        <%= link_to anamnese do %>
          <li>
            <%= render_data_brasil anamnese.atendimento.data %> - 
            <%= anamnese.profissional.descricao_completa %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- se tiver algum laudo -->
<% if !@pessoa.laudos.empty? %>
  <div id="<%= dom_id(@pessoa) %>_laudos">
    <h3>Laudos</h3>
    <div class="laudos-container grid-3">
      <% @pessoa.laudos.each do |laudo| %>
        <%= render 'laudos/card', laudo: laudo %>
      <% end %>
    </div>
  </div>
<% end %>

<!-- se tiver devolutivas -->
<% if !@pessoa.devolutivas.empty? %>
  <h3>Devolutivas</h3>
  <div class="grid-3">
    <% @pessoa.devolutivas.each do |devolutiva| %>
      <%= render 'pessoa_devolutivas/card', devolutiva: devolutiva %>
    <% end %>
  </div>
<% end %>

<!-- se for usuário mostrar dados dos atendimentos -->
<% if !@pessoa.atendimentos.empty? %>
  <% n = 5 %>
  <%= render "resumo-ultimos-n-atendimentos", pessoa: @pessoa, n: n %>
<% end %>

