<div id="acompanhamentos-container">
  <div class="acompanhamentos-container">
    <% acompanhamentos.each do |a| %>
      <%= render "acompanhamento-card", acompanhamento: a %>
    <% end %>
  </div>

  <div id="replace" style="text-align:center;margin:auto;">
    <% if @pagy %>
      <button <%= hx_set get: acompanhamentos_path(@params.merge(page: @pagy.page - 1)), swap: "outerHTML", target: "#acompanhamentos-container", replace_url: true %> <%== "disabled" unless @pagy.page > 1 %>>
        < Página anterior
      </button>
      <button <%= hx_set get: acompanhamentos_path(@params.merge(page: @pagy.page + 1)), swap: "outerHTML", target: "#acompanhamentos-container", replace_url: true %> <%= "disabled" unless @pagy.page < @pagy.pages %>>
        Próxima página >
      </button>
    <% end %>
  </div>
</div>
