<div id="<%= dom_id(acompanhamento) %>_dados">
  <% if @usuario_acompanhamento %>
    <%= hx_form do %>
    <div class="field">
      <label for="acompanhamento-tipo">Tipo de acompanhamento</label>
      <% curr_id = "acompanhamento-tipo" %>
      <select id=<%= curr_id %> name="acompanhamento[acompanhamento_tipo_id]" <%== hx_set patch: @caminho, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>
        <% AcompanhamentoTipo.all.each do |tipo| %>
          <option value="<%= tipo.id %>" <%= if tipo.id == @acompanhamento.acompanhamento_tipo_id then "selected" end %>><%= tipo.tipo.upcase %></option>
          <% end %>
      </select>
    </div>

    <div class="field">
      <label for="acompanhamento[motivo]">Motivo do acompanhamento</label>
      <input type="text" id="acompanhamento[motivo]" name="acompanhamento[motivo]" value="<%= @acompanhamento.motivo %>" placeholder="Descreva o motivo do acompanhamento" width="50" hx-patch="<%= acompanhamento_path(@acompanhamento, authenticity_token: form_authenticity_token.to_s) %>">
    </div>

    <div class="field">
      <label for="acompanhamento[hipotese_diagnostica]">Hipótese diagnóstica</label>
      <input type="text" name="acompanhamento[hipotese_diagnostica]" id="acompanhamento[hipotese_diagnostica]" value="<%= @acompanhamento.hipotese_diagnostica %>" placeholder="Hipótese diagnóstica" hx-patch="<%= acompanhamento_path(@acompanhamento, authenticity_token: form_authenticity_token.to_s) %>">
    </div>

    <div class="field">
      <label for="acompanhamento[objetivo]">Objetivo</label>
      <input type="text" name="acompanhamento[objetivo]" id="acompanhamento[objetivo]" value="<%= @acompanhamento.objetivo %>" placeholder="Objetivo" hx-patch="<%= acompanhamento_path(@acompanhamento, authenticity_token: form_authenticity_token.to_s) %>">
    </div>

    <div class="field">
      <label for="acompanhamento[prognostico]">Prognóstico</label>
      <input type="text" name="acompanhamento[prognostico]" id="acompanhamento[prognostico]" value="<%= @acompanhamento.prognostico %>" placeholder="Prognóstico" hx-patch="<%= acompanhamento_path(@acompanhamento, authenticity_token: form_authenticity_token.to_s) %>">
    </div>

    <div class="field">
      <label>Status</label>
      <% curr_id = "acompanhamento-status" %>
      <select id="<%= curr_id %>" name="acompanhamento[finalizacao_motivo_id]"
        <%== hx_set patch: @caminho, swap: "outerHTML", target: "##{curr_id}", select: "##{curr_id}" %>>
        <option value="" <%= if @acompanhamento.finalizacao_motivo_id.nil? then "selected" end %>>Em andamento</option>
          <% AcompanhamentoFinalizacaoMotivo.all.each do |motivo| %>
            <option value="<%= motivo.id %>" <%= if @acompanhamento.finalizacao_motivo_id == motivo.id then "selected" end %>> Finalizado por <%= motivo.motivo.downcase %></option>
            <% end %>
      </select>
      <% if @acompanhamento.finalizado? %>
        Declaração de finalização:
        <%= link_to "[PDF]", declaracao_finalizacao_acompanhamento_path(@acompanhamento, format: :pdf), class: "icon-file-pdf" %>
        <%= link_to "[Markdown]", declaracao_finalizacao_acompanhamento_path(@acompanhamento, format: :md), class: "icon-file-empty" %>
      <% end %>
    </div>

    <div class="field">
      <label for="acompanhamento[suspenso]">Suspenso</label>
      <%= hx_select patch: @caminho, name: "acompanhamento[suspenso]", value: @acompanhamento.suspenso, options: [["Não", 0], ["Sim", 1]] %>
    </div>

    <% end %>
  <% else %>
    <table>
      <caption>Dados do acompanhamento</caption>
      <thead>
      </thead>
      <tbody>
        <tr>
          <th width="30%">Tipo de acompanhamento</th>
          <td><%= @acompanhamento.tipo.upcase %></td>
        </tr>

        <tr>
          <th>Motivo</th>
          <td><%= @acompanhamento.motivo %></td>
        </tr>

        <tr>
          <th>Status</th>
          <td><%= @acompanhamento.status %></td>
        </tr>

        <tr>
          <th>Plataforma</th>
          <td>
            <%= @acompanhamento.atendimento_plataforma.nome %>
            <%= if @acompanhamento.atendimento_plataforma.site then link_to "", @acompanhamento.atendimento_plataforma.site, target: :blank, class: 'icon-compass2' end %>
            </td>
        </tr>

        <tr>
          <th>Nº de atendimentos</th>
          <td><%= pluralize(@acompanhamento.atendimentos.count, 'atendimento', 'atendimentos') %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <h3>
    Plataforma: <%= @acompanhamento.atendimento_plataforma.nome %>
  <%= if @acompanhamento.atendimento_plataforma.site then link_to "", @acompanhamento.atendimento_plataforma.site, target: :blank, class: 'icon-compass2' end %>
    </h3>

    <p>Valor da sessão: <%= render_dinheiro_centavos @acompanhamento.valor_sessao %></p>
</div>
