<% if acompanhamento != nil %>
  <table class="tabela" id="tabela-caso-resumo">
    <caption>
      Informações do acompanhamento<br />
      <!--span style="font-size:.7em;"><%#= link_to "Baixar", { controller: :acompanhamentos, action: :caso_detalhes, id: acompanhamento.id, format: :pdf }, { target: :blank } %>
    </span>-->
    <span style="font-size:.7em;">
      <%= link_to "Baixar prontuário (Markdown)", { controller: :acompanhamentos, action: :caso_detalhes, id: acompanhamento.id, format: :md }, { style: "color:pink;" } %>
    </span>
    </caption>
    <thead>
      <tr>
        <th>Data do atendimento</th>
        <th>Horário do atendimento</th>
        <th>Modalidade de atendimento</th>
        <th>Tipo de atendimento</th>
        <th>Status</th>
        <th width="30%">Anotações do profissional</th>
        <th>Instrumentos usados</th>
        <% if @acompanhamento.profissional_id == usuario_atual.profissional_id || usuario_atual.secretaria? %>
          <th>Opções</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% acompanhamento.atendimentos.order(data: :desc, horario: :desc).each do |a| %>
      <tr>
        <td id="<%= dom_id(a) %>_data"><%= render "atendimentos/data_show", atendimento: a %></td>
        <td id="<%= dom_id(a) %>_horario"><%= render "atendimentos/horario_show", atendimento: a %></td>
        <td><%= a.modalidade.upcase %></td>
        <td><%= a.tipo.upcase %></td>
        <td id="<%= dom_id(a) %>_status">
          <%= render "atendimentos/status_show", atendimento: a %>
        </td>
        <td id="<%= dom_id(a) %>_anotacoes">
        <%= render "atendimentos/anotacoes_show", atendimento: a %>
        </td>
        <td><%= render "atendimentos/instrumentos_aplicados_show", atendimento: a %></td>
        <% if usuario_atual.secretaria? || usuario_atual.profissional == a.profissional %>
          <td id="<%= dom_id(a) %>_opcoes" hx-swap-oob="true">
            <%= link_to "Visualizar", a %><br>
            <%#= link_to "Excluir", atendimento_path(a), method: :delete, data: {confirm: "Tem certeza?"} %>
            <a hx-confirm="Tem certeza?" hx-delete="<%= atendimento_path(a, authenticity_token: form_authenticity_token.to_s, ajax: true) %>", hx-target="#caso-resumo">Excluir</a>
            <% if a.presenca %><br>
              <%= link_to "Declaração (markdown)", declaracao_comparecimento_atendimento_path(a, format: :md) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
