<nav id = "<%= dom_id(@acompanhamento) %>_navbar"class="navbar navcenter" style="z-index:9999999999;" hx-swap-oob="true">
  <ul>
    <% if params[:action] != "show" %>
      <li>
        <%= link_to "Acompanhamento", acompanhamento_path(@acompanhamento), class: "icon-previous" %>
      </li>
    <% end %>
    <% if @usuario_acompanhamento %>
      <li>
        <%= link_to "Editar", edit_acompanhamento_path(@acompanhamento), class: 'icon-quill' %>
      </li>

    <li>
      <%= link_to "Declaração", declaracao_acompanhamento_path(@acompanhamento), class: 'icon-file-text2' %>
      <ul>
        <li>
          <%= link_to "Markdown", declaracao_acompanhamento_path(@acompanhamento, format: :md) %>
        </li>
        <li>
          <%= link_to "PDF", declaracao_acompanhamento_path(@acompanhamento, format: :pdf), target: :blank %>
        </li>

        <li>
          <%= link_to "PDF (detalhada)", declaracao_detalhada_acompanhamento_path(@acompanhamento, format: :pdf), target: :blank %>
        </li>
      </ul>
    </li>

      <li>
        <%= link_to "Contrato", contrato_acompanhamento_path(@acompanhamento), class: 'icon-drawer' %>
      </li>
    <% end %>

    <li>
      <%= link_to "Prontuário", prontuario_acompanhamento_path(@acompanhamento), class: 'icon-profile' %>
      <ul>
        <li>
          <%= link_to "Markdown", prontuario_acompanhamento_path(@acompanhamento, format: :md) %>
        </li>
        <li>
          <%= link_to "PDF", prontuario_acompanhamento_path(@acompanhamento, format: :pdf), target: :blank %>
        </li>
        <li>
          <%= link_to "PDF (compacto)", prontuario_acompanhamento_path(@acompanhamento, format: :pdf, compacto: true), target: :blank %>
        </li>
        <li>
          <%= link_to "PDF (presença)", prontuario_acompanhamento_path(@acompanhamento, format: :pdf, presenca: true), target: :blank %>
        </li>

        <li>
          <%= link_to "CSV", prontuario_acompanhamento_path(@acompanhamento, format: :csv), class: "icon-table" %>
        </li>
      </ul>
    </li>

    <% if usuario_atual.financeiro? || usuario_atual.profissional == @acompanhamento.profissional %>
      <li>
        <%= link_to "Financeiro", financeiro_acompanhamento_path(@acompanhamento), class: 'icon-coin-dollar' %>
        <ul>
          <li>
            <%= link_to "Recebimentos", recebimentos_acompanhamento_path(@acompanhamento) %>
          </li>
          <li>
            <%= link_to "Reajustes", acompanhamento_reajustes_acompanhamento_path(@acompanhamento) %>
          </li>
          <li>
            <%= link_to "Valores de atendimentos", atendimento_valores_acompanhamento_path(@acompanhamento) %>
          </li>
        </ul>
      </li>
    <% end %>

    <li>
      <%= link_to "Instrumentos", instrumentos_acompanhamento_path(@acompanhamento), class: "icon-file-empty" %>
    </li>

    <% if @acompanhamento.em_andamento? && @usuario_acompanhamento %>
      <li>
        <%= link_to "Novo atendimento", new_atendimento_acompanhamento_path(@acompanhamento), class: "icon-plus" %>
        <ul>
          <li>
            <%= button_to "Gerar atendimento para a próxima semana", new_atendimento_proxima_semana_acompanhamento_path(@acompanhamento), class: 'icon-plus' %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
