<% titulo 'Declaração de acompanhamento' %>
<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to 'Acompanhamento', @acompanhamento, class: 'icon-previous' %>
    </li>
    <li>
      <%= link_to "Baixar", 'javascript:void(0);', class: 'icon-download3' %>
      <ul>
        <li>
          <%= link_to "Markdown", declaracao_acompanhamento_path(@acompanhamento, format: :md) %>
        </li>
        <%= link_to "PDF", declaracao_acompanhamento_path(@acompanhamento, format: :pdf), target: :blank %>
      </ul>
    </li>
  </ul>
</nav>
<div class="documento">
  <h1>Declaração</h1>
  <% primeira_data = @acompanhamento.primeiro_atendimento.data %>
  <% os_meses = t('date.month_names') %>

  <% if @acompanhamento.acompanhamento_finalizacao_motivo.nil? %>
    <% if @acompanhamento.pessoa_responsavel.nil? # sem responsável e em andamento%>
      Declaro para fins de comprovação que
      <%= @acompanhamento.paciente.nome_completo %>
      está sendo submetid<%= @acompanhamento.paciente.no_feminino? ? 'a' : 'o' %> a
      <%= @acompanhamento.tipo.downcase %> sob meus cuidados profissionais desde
      <%= os_meses[primeira_data.month].downcase %> de <%= primeira_data.year %>.
    <% else # com responsável e em andamento %>
      Declaro para fins de comprovação que
      <%= @acompanhamento.paciente.nome_completo %>
      está sendo submetid<%= @acompanhamento.paciente.no_feminino? ? 'a' : 'o' %> a
      <%= @acompanhamento.tipo.downcase %> sob meus cuidados profissionais desde
      <%= os_meses[primeira_data.month].downcase %> de <%= primeira_data.year %>
      com autorização de
      <%= @acompanhamento.pessoa_responsavel.nome_completo %>.
    <% end %>
  <% else %>
    <% ultima_data = @acompanhamento.ultimo_atendimento.data %>
    <% ultima_igual_primeira = ultima_data.month == primeira_data.month && ultima_data.year == primeira_data.year %>
    <% if @acompanhamento.pessoa_responsavel.nil? # sem responsável e finalizado %>
      Declaro para fins de comprovação que
      <%= @acompanhamento.paciente.nome_completo %>
      esteve em acompanhamento em
      <%= @acompanhamento.tipo.downcase %>
      sob meus cuidadados profissionais
      <% if ultima_igual_primeira %>
        em <%= os_meses[primeira_data.month].downcase %> de <%= primeira_data.year %>.
      <% else %>
        de <%= os_meses[primeira_data.month].downcase %> de <%= primeira_data.year %>
        a
        <%= os_meses[ultima_data.month].downcase %> de <%= ultima_data.year %>.
      <% end %>
    <% else # com responsável e finalizado %>
      Declaro para fins de comprovação que
      <%= @acompanhamento.paciente.nome_completo %>
      esteve em acompanhamento em
      <%= @acompanhamento.tipo.downcase %>
      sob meus cuidados profissionais
      <% if ultima_igual_primeira %>
        em <%= os_meses[primeira_data.month].downcase %> de <%= primeira_data.year %>
      <% else %>
        de <%= os_meses[primeira_data.month].downcase %> de <%= primeira_data.year %>
        até <%= os_meses[primeira_data.month].downcase %> de <%= primeira_data.year %>.
      <% end %>
      com autorização de
      <%= @acompanhamento.pessoa_responsavel.nome_completo %>.
    <% end %>
  <% end %>

  <%== '<br>' * 8 %>

  <hr>
  <p style="text-align:center;">
  <%= @acompanhamento.profissional.descricao_completa.gsub(" - ", "<br>").html_safe %>
  </p>
</div>
