<% titulo "Instrumentos aplicados - #{@acompanhamento.tipo.upcase} #{@acompanhamento.pessoa.nome_abreviado}" %>

<h1 id="main-title"><%= @acompanhamento.render_info_para_profissional %></h1>
<%= render "navbar", acompanhamento: @acompanhamento %>

<h1>Instrumentos aplicados</h1>
<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "PDF", instrumentos_acompanhamento_path(@acompanhamento, format: :pdf), class: "icon-file-pdf", target: :blank %>
    </li>
    <li>
      <%= link_to "Markdown", instrumentos_acompanhamento_path(@acompanhamento, format: :md), class: "icon-file-empty" %>
    </li>
      <li>
        <%= link_to "CSV", instrumentos_acompanhamento_path(@acompanhamento, format: :csv), class: "icon-table" %>
      </li>
  </ul>
</nav>
<div class="grid-2">
  <div class="y-overflow">
    <% @instrumento_relatos.each do |instrumento_relato| %>
      <ul>
        <li>
          <%= hx_link "#{instrumento_relato.instrumento.sigla || instrumento_relato.instrumento.nome} (#{render_data_brasil instrumento_relato.atendimento.data_inicio_verdadeira})", instrumento_relato_acompanhamento_path(instrumento_relato_id: instrumento_relato.id), target: "#instrumento_relato" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div id="instrumento_relato" class="y-overflow">
  </div>
</div>
