<% titulo "Prontuário em #{@acompanhamento.tipo}" %>
<nav class="navbar">
  <ul>
    <li>
      <%= link_to 'voltar', acompanhamento_path(@acompanhamento), class: "icon-previous" %>
    </li>

    <li>
      <%= link_to "Baixar", "javascript:void(0);", class: 'icon-download3' %>
      <ul>
        <li>
          <%= link_to "Markdown", prontuario_acompanhamento_path(@acompanhamento, format: :md) %>
        </li>

        <li>
          <%= link_to "PDF", prontuario_acompanhamento_path(@acompanhamento, format: :pdf), target: :blank, class: 'icon-file-pdf' %>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="documento">
  <h1>Prontuário <%= @acompanhamento.profissional.profissional_funcao.adjetivo_masc %></h1>

  <p>
  <b>Nome do paciente</b>:
  <%= @acompanhamento.pessoa.nome_completo.upcase %>
  </p>

  <p>
  <b>Data de nascimento</b>:
  <%= render_data_brasil @acompanhamento.pessoa.data_nascimento %>
  </p>

  <p>
  <b>Idade</b>:
  <%= @acompanhamento.pessoa.render_idade.upcase %>
  </p>

  <p>
  <b>Sexo</b>:
  <%= @acompanhamento.pessoa.render_sexo.upcase %>
  </p>

  <p>
  <b>Estado Civil</b>:
  <%= @acompanhamento.pessoa.estado_civil.upcase %>
  </p>

  <p>
  <b>Grau de instrução</b>:
  <%= @acompanhamento.pessoa.grau_de_instrucao&.upcase %>
  </p>

  <p>
  <b>Profissão</b>:
  <%= @acompanhamento.pessoa.profissao&.upcase || @acompanhamento.pessoa.profissional&.funcao&.upcase || "Não informada" %>
  </p>

  <p>
  <b>Fone</b>:
  <%= phone_to @acompanhamento.pessoa.render_fone_link, @acompanhamento.pessoa.render_fone %>
  <% if @acompanhamento.pessoa.usa_whatsapp? %>
    <%= link_to "", @acompanhamento.pessoa.render_whatsapp_link, class: "icon-whatsapp" %>
  <% end %>
  <% if @acompanhamento.pessoa.usa_telegram? %>
    <%= link_to "", @acompanhamento.pessoa.render_telegram_link, class: "icon-telegram" %>
  <% end %>

  <p>
  <b>E-mail</b>:
  <% if @acompanhamento.pessoa.email == "nao@informado.com" %>
    Não informado
  <% else %>
    <%= mail_to @acompanhamento.pessoa.email %>
  <% end %>
  </p>

  <p>
  <b>Contato(s) para emergência</b>:
  <% if @acompanhamento.pessoa.parentescos.count == 0%>
    INSERIR CONTATO PARA EMERGÊNCIA
  <% else %>
    <%# <% contatos = @acompanhamento.pessoa.pessoa_parentesco_juncoes.map { |p| "#{p.parente.render_fone.blank? ? "" : "#{p.parente.render_fone} - #{p.parente.nome_completo.upcase} (#{p.parentesco.parentesco.upcase})"}"} %1> %>
    <% contatos = @acompanhamento.pessoa.parentescos_registrados.parentes.map { |parente| "#{link_to parente.parente.nome_completo.upcase, pessoa_path(parente.parente)}: #{link_to parente.parente.render_fone, 'tel:' + parente.parente.render_fone_link}" unless parente.parente.render_fone.empty? } %>
    <%= contatos.join(" | ").html_safe %>
  <% end %>
  </p>

  <p>
  <b>RG</b>:
  <%= @acompanhamento.pessoa.render_rg %>
  </p>

  <p>
  <b>CPF</b>:
  <%= @acompanhamento.pessoa.render_cpf %>
  </p>

  <p>
  <b>Endereço</b>:
  <%= @acompanhamento.pessoa.render_endereco %>
  <%= if @acompanhamento.pessoa.endereco_cidade then "| #{@acompanhamento.pessoa.endereco_cidade}" end %>
    <%= if @acompanhamento.pessoa.endereco_estado then "- #{@acompanhamento.pessoa.endereco_estado}" end %>
      <%= if @acompanhamento.pessoa.pais then "/ #{@acompanhamento.pessoa.pais.nome.upcase}" end %>
    </p>

    <p>
    <b>Toma medicação</b>:
    <%= @acompanhamento.pessoa.pessoa_medicacoes.map(&:medicacao).to_sentence(last_word_connector: ' e ') %>
    </p>

    <% if @acompanhamento.atendimentos.count > 0 %>
      <h2>Registros dos atendimentos</h2>

      <table>
        <tbody>
          <% @acompanhamento.atendimentos.em_ordem.each_with_index do |atendimento, index| %>
            <tr id="<%= dom_id(atendimento) %>">
              <th colspan="100%" style="font-size:1.25em;">
                Sessão <%= index + 1 %>
              <% if usuario_atual.secretaria? || usuario_atual.profissional == atendimento.profissional %>
                <%= link_to "", acompanhamento_path(atendimento.acompanhamento, anchor: dom_id(atendimento)), class: "icon-compass2" %>
              <% end %>
              </th>
            </tr>
            <tr>
              <th style="text-align:right;">Data</th>
              <td><%= render_data_brasil atendimento.data_inicio_verdadeira %></td>
            </tr>
            <tr>
              <th style="text-align:right;">Horário</th>
              <td><%= render_hora_brasil atendimento.horario_inicio_verdadeiro %></td>
            </tr>
            <tr>
              <th style="text-align:right;">Status</th>
              <td><%= atendimento.status %></td>
            </tr>
            <tr>
              <th style="text-align:right;">Atividade</th>
              <td><%= atendimento.tipo.upcase %></td>
            </tr>
            <tr>
              <th style="text-align:right;">Anotações</th>
              <td>
                <%== markdown_to_html atendimento.anotacoes %>
            </tr>
            <tr>
              <th style="text-align:right;">Instrumentos usados</th>
              <td>
                <%= atendimento.instrumentos.map(&:nome).join(", ") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
</div>
