<%= titulo "#{@acompanhamento.tipo(titulo: true)}: #{@acompanhamento.pessoa.nome_completo}"%>
<% @usuario_acompanhamento = usuario_atual == @acompanhamento.profissional.usuario %>
<% @caminho = acompanhamento_path(@params.except(:acompanhamento).merge authenticity_token: form_authenticity_token.to_s) %>

<%= link_to "Voltar", acompanhamentos_path %>
<% p = @acompanhamento.pessoa %>
<% r = @acompanhamento.pessoa_responsavel %>
<% pro = @acompanhamento.profissional.pessoa %>
<%= link_to p, class: "pessoa" do %><h1 class="icon-user"><%= p.nome_abreviado %> <%= p.render_sexo_sigla %> </h1><% end %>
<%= render_data_brasil p.data_nascimento %>
-
<%= p.render_idade %> <%= p.data_nascimento.nil? ? "" : p.idade_anos.to_i < 18 ? "(infantojuvenil)" : "(adulto)" %>

<p>Início em
<% if @usuario_acompanhamento %>
  <%# <input type="date" name="acompanhamento[data_inicio]" value="<%= @acompanhamento.data_inicio %1>" hx-patch="<%= acompanhamento_path(@acompanhamento, authenticity_token: form_authenticity_token.to_s) %1>"> %>
<% else %>
  <%= render_data_brasil @acompanhamento.data_inicio %>
<% end %>
<%= render_data_brasil @acompanhamento.data_inicio || @acompanhamento.primeiro_atendimento&.data %>
</p>

<% if !r.nil? %>
  <%= link_to r, class: "pessoa" do %>
    <h2 class="icon-eye">
      <%= r.nome_abreviado %> <%= r.render_sexo_sigla %>
      <% if !p.pessoa_parentesco_juncoes.find_by(parente_id: r.id).nil? %>
        <%= p.pessoa_parentesco_juncoes.find_by(parente_id: r.id).parentesco.parentesco.upcase %>
      <% end %>
    </h2>
  <% end %>
<% end %>

<%= link_to @acompanhamento.profissional, class: "profissional" do %>
  <h2 class="icon-user-tie">
    <%= pro.nome_abreviado %>
    <span style="font-size:.5em;font-weight:normal;">
      <%= @acompanhamento.profissional.documento %>
    </span>
  </h2>
<% end %>

<% if p.infantojuvenil_anamneses.count > 0 %>
    <h3>
      <%= pluralize p.infantojuvenil_anamneses.count, "Anamnese infantojuvenil", "Anamneses infantojuvenis" %>
    </h3>
    <div class="grid-3">
      <% p.infantojuvenil_anamneses.each do |anamnese| %>
        <%= render "pessoas/infantojuvenil_anamnese_card", infantojuvenil_anamnese: anamnese %>
      <% end %>
    </div>
<% end %>

<%= render "navbar", acompanhamento: @acompanhamento, usuario_acompanhamento: @usuario_acompanhamento %>

<%== "<br>" * 3 %>
<div class="grid-2">
  <div id="acompanhamento-horarios">
    <%= render "acompanhamento_horarios/resumo_acompanhamento", acompanhamento: @acompanhamento %>
  </div>

  <%= render "acompanhamento_dados_show", acompanhamento: @acompanhamento, caminho: @caminho %>
</div>

<%= render "caso-resumo", acompanhamento: @acompanhamento, atendimentos: @atendimentos, contagem_atendimentos: @contagem_atendimentos, contagem_atendimentos_realizados: @contagem_atendimentos_realizados, contagem_atendimentos_futuros: @contagem_atendimentos_futuros %>
