<%= titulo "#{@acompanhamento.tipo(titulo: true)}: #{@acompanhamento.pessoa.nome_completo}"%>
<% usuario = usuario_atual == @acompanhamento.profissional.usuario %>
<% caminho = acompanhamento_path(@acompanhamento, ajax: true, authenticity_token: form_authenticity_token.to_s) %>

<%= link_to "Voltar", acompanhamentos_path %>
<% p = @acompanhamento.pessoa %>
<% r = @acompanhamento.pessoa_responsavel %>
<% pro = @acompanhamento.profissional.pessoa %>
<%= link_to p, class: "pessoa" do %><h1><%= p.nome_abreviado %> <%= p.render_sexo_sigla %> </h1><% end %>
<%= render_data_brasil p.data_nascimento %>
-
<%= p.render_idade %> <%= p.data_nascimento.nil? ? "" : p.idade_anos.to_i < 18 ? "(infantojuvenil)" : "(adulto)" %>
<% if p.infantojuvenil_anamneses.count > 0 %>
  <h3>
    <%= pluralize p.infantojuvenil_anamneses.count, "Anamnese infantojuvenil", "Anamneses infantojuvenis" %>
  </h3>
  <ul>
    <% p.infantojuvenil_anamneses.each do |anamnese| %>
      <%= link_to anamnese, class: "anamnese-infantojuvenil" do %>
        <li>
          <%= render_data_brasil anamnese.atendimento.data %>
          - por
          <%= anamnese.profissional.descricao_completa %>
          (<%= anamnese.acompanhamento.tipo.upcase %>)
        </li>
      <% end %>
      [<%= link_to "Markdown", infantojuvenil_anamnese_path(anamnese, format: :md) %>]
    <% end %>
  </ul>
<% end %>
<% if !r.nil? %>
  <%= link_to r, class: "pessoa" do %>
    <h2
        ><%= r.nome_abreviado %> <%= r.render_sexo_sigla %>
      <% if !p.pessoa_parentesco_juncoes.find_by(parente_id: r.id).nil? %>
        <%= p.pessoa_parentesco_juncoes.find_by(parente_id: r.id).parentesco.parentesco.upcase %>
      <% end %>
    </h2>
  <% end %>
<% end %>

<%= link_to @acompanhamento.profissional, class: "profissional" do %>
  <h2>
    <%= pro.nome_abreviado %>
    <span style="font-size:.5em;font-weight:normal;">
      <%= @acompanhamento.profissional.documento %>
    </span>
  </h2>
<% end %>

<div id="acompanhamento-horarios">
<%= render "acompanhamento_horarios/resumo_acompanhamento", acompanhamento: @acompanhamento %>
</div>

<h2>
  <% if usuario %>
    <label for="acompanhamento-tipo">Tipo de acompanhamento</label>
    <% curr_id = "acompanhamento-tipo" %>
    <select id=<%= curr_id %> name="acompanhamento[acompanhamento_tipo_id]" <%== hx_set patch: caminho, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>
      <% AcompanhamentoTipo.all.each do |tipo| %>
        <option value="<%= tipo.id %>" <%= if tipo.id == @acompanhamento.acompanhamento_tipo_id then "selected" end %>><%= tipo.tipo.upcase %></option>
      <% end %>
    </select>
  <% else %>
    <%= @acompanhamento.tipo.upcase %>
  <% end %>
</h2>

<h3>
  Motivo do acompanhamento:
  <% if usuario %>
    <input type="text" name ="acompanhamento[motivo]" value="<%= @acompanhamento.motivo %>" placeholder="Descreva o motivo do acompanhamento" width="50" hx-patch="<%= acompanhamento_path(@acompanhamento, ajax: true, authenticity_token: form_authenticity_token.to_s) %>">
  <% else %>
  <%= @acompanhamento.motivo %>
  <% end %>
</h3>

<p>Início em
<% if usuario %>
  <input type="date" name="acompanhamento[data_inicio]" value="<%= @acompanhamento.data_inicio %>" hx-patch="<%= acompanhamento_path(@acompanhamento, ajax: true, authenticity_token: form_authenticity_token.to_s) %>">
<% else %>
<%= render_data_brasil @acompanhamento.data_inicio %>
<% end %>
</p>

<% if usuario %>
  <label>Status</label>
  <% curr_id = "acompanhamento-status" %>
  <select id=<%= curr_id %> name="acompanhamento[finalizacao_motivo_id]"
    <%== hx_set patch: caminho, swap: "outerHTML", target: "##{curr_id}", select: "##{curr_id}" %>>
    <option value="" <%= if @acompanhamento.finalizacao_motivo_id.nil? then "selected" end %>>Em andamento</option>
    <% AcompanhamentoFinalizacaoMotivo.all.each do |motivo| %>
      <option value="<%= motivo.id %>" <%= if @acompanhamento.finalizacao_motivo_id == motivo.id then "selected" end %>> Finalizado por <%= motivo.motivo.downcase %></option>
    <% end %>
  </select>
  <label>Data da finalização</label>
  <input type="date" name="acompanhamento[data_final]" value="<%= @acompanhamento.data_final %>" hx-patch="<%= acompanhamento_path(@acompanhamento, ajax: true, authenticity_token: form_authenticity_token.to_s) %>">
<% else %>
<p><%= @acompanhamento.data_final ? (render_data_brasil @acompanhamento.data_final) : "Em andamento" %><%= @acompanhamento.acompanhamento_finalizacao_motivo ? " (finalização por #{@acompanhamento.acompanhamento_finalizacao_motivo.motivo})" : "" %></p>
<% end %>
<p id="atendimentos-contagem">
<%= pluralize(@acompanhamento.atendimentos.count, "atendimento", "atendimentos") %>
</p>

<% if usuario_atual.secretaria? || usuario_atual.profissional == @acompanhamento.profissional %>
  <%= link_to "+ Atendimento", new_atendimento_path, data: { "turbo_frame" => "modal" }%>
  <% if @acompanhamento.em_andamento? %>
    <%= button_to "Adicionar atendimento para próxima semana", acompanhamento_new_atendimento_proxima_semana_path(@acompanhamento) %>
    <%= link_to "Declaração (markdown)", declaracao_acompanhamento_path(@acompanhamento, format: :md) %>
  <% end %>
<% end %>

<p>Valor da sessão: <%= render_dinheiro_centavos @acompanhamento.valor_atual %></p>

<%= render "caso-resumo", acompanhamento: @acompanhamento %>
