<% titulo "Valores de atendimentos" %>
<h1>Valores de atendimentos</h1>

<nav class="navbar navcenter">
  <form <%= hx_set get: atendimento_valores_path, target: "#tabela-valores", replace_url: true, trigger: "change" %>>
    <label for="de">De</label>
    <input type="date" name="de" id="de" value="<%= @de %>">
    <label for="ate">Até</label>
    <input type="date" name="ate" id="ate" value="<%= @ate %>">

    <br>
    <label for="profissional">Profissional</label>
    <select id="profissional" name="profissional">
      <option value="">TODOS</option>
      <% Profissional.all.each do |profissional| %>
        <option value="<%= profissional.id %>" <%= "selected" unless profissional.id != params[:profissional] %>><%= profissional.descricao_completa %></option>
      <% end %>
    </select>

    <br>
    <label for="pessoa">Paciente</label>
    <input type="text" value="<%= params[:pessoa] %>" name="pessoa" id="pessoa">

    <br>
    <label for="responsavel">Responsável</label>
    <input type="text" value="<%= params[:pessoa_responavel] %>" name="responsavel" id="responsavel">
  </form>
</nav>

<nav class="navbar navcenter" id="formatos-download">
  <ul>
    <li>
      <%= link_to "CSV", atendimento_valores_path(@params.merge(format: :csv)), class: 'icon-table2' %>
    </li>
    <li>
      <%= link_to "Excel", atendimento_valores_path(@params.merge(format: :xlsx)), class: 'icon-file-excel' %>
    </li>
  </ul>
</nav>
<%== "<br>" * 2 %>

<div id="tabela-valores">
<%= render "tabela", atendimento_valores: @atendimento_valores %>
</div>
