<div id="<%= dom_id atendimento_plataforma %>">
  <p>
    <strong>Nome:</strong>
    <%= atendimento_plataforma.nome %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= atendimento_plataforma.site %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= atendimento_plataforma.descricao %>
  </p>

  <p>
    <strong>Taxa fixa:</strong>
    <%= atendimento_plataforma.taxa_fixa %>
  </p>

  <p>
    <strong>Taxa atendimento:</strong>
    <%= atendimento_plataforma.taxa_atendimento %>
  </p>

</div>
