<div id="<%= dom_id biblioteca_autor %>">
  <p>
    <strong>Nome:</strong>
    <%= biblioteca_autor.nome %>
  </p>

  <p>
    <strong>Nome do meio:</strong>
    <%= biblioteca_autor.nome_do_meio %>
  </p>

  <p>
    <strong>Sobrenome:</strong>
    <%= biblioteca_autor.sobrenome %>
  </p>

  <p>
    <strong>Ordem:</strong>
    <%= biblioteca_autor.ordem %>
  </p>

  <p>
    <strong>Feminino:</strong>
    <%= biblioteca_autor.feminino %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= biblioteca_autor.link %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= biblioteca_autor.bio %>
  </p>

</div>
