<div class="documento" style="width:45em;margin:auto;">
  <nav class="navbar navcenter">
    <ul>
      <li>
        <%= link_to "Baixar", "javascript:void(0);", class: 'icon-download3' %>
        <ul>
          <li>
            <%= link_to "Markdown", laudo_path(@laudo, format: :md), { target: :blank } %>
          </li>
          <li>
            <%= link_to "PDF", laudo_path(@laudo, format: :pdf), { target: :blank} %>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to "Acompanhar", laudo.acompanhamento, class: 'icon-compass2' %>
      </li>
    </ul>
  </nav>

  <h2>Identificação</h2>

  <table>
    <tr>
      <th width="15%">
        Profissional
      </th>
      <td>
        <%= link_to laudo.profissional.descricao_completa, laudo.profissional, class: 'icon-user-tie' %>
      </td>
    </tr>

    <tr>
      <th>
        Paciente
      </th>
      <td>
        <%= link_to laudo.paciente.nome_completo, laudo.paciente, class: 'icon-user' %>
      </td>
    </tr>

    <tr>
      <th>
        Sexo
      </th>
      <td>
        <%= laudo.pessoa.render_sexo %>
      </td>
    </tr>

    <tr>
      <th>
        Data
      </th>
      <td>
        <%= render_data_brasil laudo.data_inicial %>
        a
        <%= render_data_brasil laudo.data_final %>
        (<%= laudo.dias_de_avaliacao %> dias)
      </td>
    </tr>

    <tr>
      <th>
        Idade
      </th>
      <td>
        <%= laudo.pessoa.render_idade %>
      </td>
    </tr>

    <tr>
      <th>
        Interessado
      </th>
      <td>
        <%= laudo.interessado|| laudo.pessoa.nome_completo %>
      </td>
    </tr>

    <tr>
      <th>
        Finalidade da avaliação
      </th>
      <td>
        <%= laudo.finalidade %>
      </td>
    </tr>

    <tr>
      <th>
        Nº de sessões
      </th>
      <td>
        <%= laudo.numero_de_sessoes %>
      </td>
    </tr>
  </table>

  <%== markdown_to_html laudo.texto_completo %>
</div>
