<% titulo "Laudos" %>
<h1>Laudos</h1>
<p>Selecione o laudo para visualizar</p>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "adicionar", new_laudo_path, class: 'icon-plus' %>
    </li>
  </ul>
</nav>

<nav class="navbar navcenter">
  <%= hx_form get: laudos_path, target: "#laudos-container", swap: "outerHTML", replace_url: true, select: "#laudos-container", trigger: "change" do %>
    <label for="periodo_avaliacao">Período de avaliação</label>
    <input type="date" value="<%= params[:de]&.to_date %>" name="de">
    a
    <input type="date" value="<%= params[:ate]&.to_date %>" name="ate">

    <div>
      <label for="status">Status</label>
      <select name="status" id="status">
        <option value="">Todos</option>
        <option value="fechado">Fechado</option>
        <option value="aberto">Aberto</option>
      </select>
    </div>
    <div>
      <label for="pessoa">Paciente</label>
      <select id="pessoa" name="pessoa">
        <option value="">TODOS</option>
        <% @laudos_totais.map(&:pessoa).each do |pessoa| %>
          <option value="<%= pessoa.id %>" <%= "selected" unless pessoa.id != params[:pessoa] %>><%= pessoa.nome_completo %></option>
        <% end %>
      </select>
    </div>
  <% end %>
</nav>

<br>

<div id="laudos-container">
<div class="grid-3">
  <% @laudos.each do |laudo| %>
    <%= render "card", laudo: laudo %>
  <% end %>
</div>

<div id="replace">
  <% if @pagy && @pagy.page < @pagy.pages %>
    <button <%= hx_set get: laudos_path(@params.merge(page: @pagy.page + 1)), swap: "outerHTML", target: "#replace", select: "#laudos-container" %>>
      Carregar mais
    </button>
  <% end %>
</div>
</div>
