<h1>Laudos</h1>
<p>Selecione o laudo para visualizar</p>

<ul>
  <% @laudos.each do |laudo| %>
    <li class="<%= laudo.fechado? ? "laudo-fechado" : "laudo-aberto" %>">
      <%= link_to laudo do %>
        <strong><%= laudo.paciente.nome_abreviado %></strong>
        -
        <%= laudo.profissional.descricao_completa %>
        (<%= render_data_brasil laudo.data_avaliacao %>)
        -
        <%= laudo.fechado? ? "fechado" : "para edição" %>
      <% end %>
    </li>
  <% end %>
</ul>
