<% titulo "Laudo" %>

<div id="<%= dom_id(@laudo) %>">
  <div>
    <form <%== hx_set patch: laudo_path(@laudo, ajax: true), target: "##{dom_id(@laudo)}", swap: "outerHTML", select: "##{dom_id(@laudo)}" %> >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
      <button name="laudo[fechado]" value="<%= !@laudo.fechado? ? 1 : 0 %>">
        <%= @laudo.fechado? ? "Permitir edição" : "Fechar edição" %>
      </button>
    </form>

    <nav class="navbar">
      <ul>
        <li>
          <%= link_to "Laudos", laudos_path, class: 'icon-previous' %>
        </li>
      </ul>
    </nav>

    <p>
    <% if @laudo.fechado? %>
      <h1 style="text-align:center;">
        Laudo - <%= @laudo.render_titulo %>
    </h1>
  <% else %>
    <%= form_for(@laudo, html: {'hx-patch' => identificacao_update_laudo_path(@laudo), 'hx-trigger' => "change", 'hx-target' => "#identificacao"}) do |form| %>
      <%= form.select :acompanhamento_id, Acompanhamento.do_profissional(usuario_atual.profissional).order(:data_inicio).map { |acompanhamento| [acompanhamento.render_info_para_profissional, acompanhamento.id] } %>
    <% end %>
  <% end %>
    </p>
  </div>

  <div>
    <% if @laudo.fechado? %>
      <%= render "laudo_fechado", laudo: @laudo %>
    <% else %>

      <table class="tabela-laudo">
        <caption><%= @laudo.finalidade %> por <%= @laudo.profissional.nome_abreviado %> - <%= @laudo.profissional.funcao %> <%= @laudo.profissional.documento %></caption>
        <thead id="identificacao">
          <%= render 'laudos/tabela-identificacao', laudo: @laudo %>
        </thead>
        <tbody id="informacoes">
          <%= render 'laudos/tabela-informacoes', laudo: @laudo %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
