<% titulo "Laudo" %>
<h1>Ver laudo</h1>
<%= link_to "editar", edit_laudo_path(@laudo) %>
<%= link_to "download markdown", laudo_path(@laudo, format: :md), { target: :blank } %>

  <h2>Escolha o caso</h2>
  <p>
    <%= form_for(@laudo, html: {'hx-patch' => identificacao_update_laudo_path(@laudo), 'hx-trigger' => "change", 'hx-target' => "#identificacao"}) do |form| %>
      <%= form.select :acompanhamento_id, Acompanhamento.do_profissional(usuario_atual.profissional).order(:data_inicio).map { |acompanhamento| [acompanhamento.render_info_para_profissional, acompanhamento.id] } %>
    <% end %>
  </p>
</tr>
<table class="tabela-laudo">
  <caption><%= @laudo.finalidade %> por <%= @laudo.profissional.nome_abreviado %> - <%= @laudo.profissional.funcao %> <%= @laudo.profissional.documento %></caption>
  <thead id="identificacao">
    <%= render 'laudos/tabela-identificacao', laudo: @laudo %>
  </thead>
  <tbody id="informacoes">
    <%= render 'laudos/tabela-informacoes', laudo: @laudo %>
  </tbody>
</table>
