<% titulo "Documentos" %>
<h1>Documentos</h1>

<div class="fancy-link-list">
  <%= link_to "Laudos", laudos_path %>
  <%= link_to "Devolutivas", devolutivas_path %>
  <%= link_to "Anamneses infantojuvenis", infantojuvenil_anamneses_path %>
  <%= link_to "Modelos de contrato", profissional_contrato_modelos_path %>
  <%= link_to "Gerar documento avulso", gerar_documento_path %>
</div>
