<% cl = "tabela-devolutiva" %>
<% if !devolutiva.id.nil? %>
<% caminho = pessoa_devolutiva_path(devolutiva, ajax: true, authenticity_token: form_authenticity_token.to_s) %>
<% caminho_limpo = pessoa_devolutiva_path(devolutiva, ajax: true) %>
<% caminho_show = pessoa_devolutiva_path(devolutiva) %>
<table>
  <caption>Devolutiva</caption>
  <tbody>
    <tr>
      <th width="20%">Paciente</th>
      <% curr_id = "#{cl}-paciente" %>
      <td id="<%= curr_id %>">
        <form <%== hx_set patch: caminho_limpo, select: "##{curr_id}", target: "##{curr_id}", swap: "outerHTML" %>>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
          <select name="pessoa_devolutiva[pessoa_id]">
            <% Pessoa.ordem_alfabetica.each do |pessoa| %>
              <option <%= if devolutiva.pessoa_id == pessoa.id then "selected" end %> value="<%= pessoa.id %>">
                <%= pessoa.nome_completo %>
                -
                <%= pessoa.render_idade %>
              </option>
            <% end %>
          </select>
          <button>Confirmar</button>
          <button <%== hx_set get: caminho_show, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>Cancelar</button>
        </form>
      </td>
    </tr>

    <tr>
      <th width="20%">Interessado(a)</th>
      <% curr_id = "#{cl}-responsavel" %>
      <td id="<%= curr_id %>">
        <form <%== hx_set patch: caminho_limpo, select: "##{curr_id}", target: "##{curr_id}", swap: "outerHTML" %>>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
          <select name="pessoa_devolutiva[pessoa_interessada_id]">
            <% Pessoa.ordem_alfabetica.each do |pessoa| %>
              <option <%= if devolutiva.pessoa_interessada_id == pessoa.id then "selected" end %> value="<%= pessoa.id %>">
                <%= pessoa.nome_completo %>
                -
                <%= pessoa.render_idade %>
              </option>
            <% end %>
          </select>
          <button>Confirmar</button>
          <button <%== hx_set get: caminho_show, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>Cancelar</button>
        </form>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-profissional" %>
      <th>Profissional</th>
      <td id="<%= curr_id %>">
        <form <%== hx_set patch: caminho_limpo, select: "##{curr_id}", target: "##{curr_id}", swap: "outerHTML" %>>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
          <select name="pessoa_devolutiva[pessoa_responsavel_id]">
            <% Profissional.ordem_alfabetica.each do |profissional| %>
              <option <%= if devolutiva.profissional_id == profissional.id then "selected" end %> value="<%= profissional.id %>">
                <%= profissional.descricao_completa %>
              </option>
            <% end %>
          </select>
          <button>Confirmar</button>
          <button <%== hx_set get: caminho_show, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>Cancelar</button>
        </form>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-data-devolutiva" %>
      <th>Data</th>
      <td id="<%= curr_id %>">
        <input type="date" name="pessoa_devolutiva[data]" value="<%= devolutiva.data %>" <%== hx_set patch: caminho, select: "##{curr_id}", target: "##{curr_id}", swap: "outerHTML", trigger: "change delay:500ms" %>>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-pontos-abordar" %>
      <th>Pontos a abordar</th>
      <td id="<%= curr_id %>">
        <form <%== hx_set patch: caminho, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>
          <textarea id="<%= curr_id %>-textarea" placeholder="Descreva..." name="pessoa_devolutiva[pontos_a_abordar]" cols="50" rows="10"><%= devolutiva.pontos_a_abordar %></textarea>
          <br>
          <button>Confirmar</button>
          <button <%== hx_set get: caminho_show, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>Cancelar</button>
          <%== simplemde_gerar "#{curr_id}-textarea" %>
        </form>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-feedback-responsavel" %>
      <th>Feedback do responsável</th>
      <td id="<%= curr_id %>">
        <form <%== hx_set patch: caminho, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>
          <textarea placeholder="Descreva..." name="pessoa_devolutiva[feedback_responsavel]" cols="50" rows="10" id="<%= "#{curr_id}-textarea" %>"><%= devolutiva.feedback_responsavel %></textarea>
          <br>
          <button>Confirmar</button>
          <button <%== hx_set get: caminho_show, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>Cancelar</button>
          <%== simplemde_gerar "#{curr_id}-textarea" %>
        </form>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-orientacoes-profissional" %>
      <th>Orientações</th>
      <td id="<%= curr_id %>">
        <form <%== hx_set patch: caminho, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>
          <textarea placeholder="Descreva..." id="<%= curr_id %>-textarea" name="pessoa_devolutiva[orientacoes_profissional]" cols="50" rows="10"><%= devolutiva.orientacoes_profissional %></textarea>
          <br>
          <button>Confirmar</button>
          <button <%== hx_set get: caminho_show, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>Cancelar</button>
          <%== simplemde_gerar "#{curr_id}-textarea" %>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<% else %>
  <%= render "form-antigo", devolutiva: devolutiva %>
<% end %>

