<table>
  <caption>Devolutiva</caption>
  <tbody>
    <tr>
      <th>Paciente</th>
      <td><%= devolutiva.paciente.nome_completo %></td>
    </tr>

    <tr>
      <th>Idade do paciente</th>
      <td><%= devolutiva.paciente.render_idade(devolutiva.data) %></td>
    </tr>

    <tr>
      <th>Responsável</th>
      <td><%= devolutiva.responsavel.nome_completo %></td>
    </tr>

    <tr>
      <th>Profissional</th>
      <td><%= devolutiva.profissional.descricao_completa %></td>
    </tr>

    <tr>
      <th>Data</th>
      <td><%= render_data_brasil devolutiva.data %></td>
    </tr>

    <tr>
      <th>Feedback do responsável</th>
      <td><%== markdown_to_html devolutiva.feedback_responsavel %></td>
    </tr>

    <tr>
      <th>Orientações</th>
      <td><%== markdown_to_html devolutiva.orientacoes_profissional %></td>
    </tr>
  </tbody>
</table>

