<% cl = "tabela-devolutiva" %>
<% caminho_edit = edit_pessoa_devolutiva_path(devolutiva) %>
<% caminho_patch = pessoa_devolutiva_path(devolutiva, ajax: true, authenticity_token: form_authenticity_token.to_s) %>
<% usuario = usuario_atual == devolutiva.profissional.usuario %>
<table>
  <caption>Devolutiva</caption>
  <tbody>
    <tr>
      <% curr_id = "#{cl}-paciente" %>
      <th width="20%">Paciente</th>
      <td id="<%= curr_id %>">
        <%= link_to devolutiva.paciente.nome_completo, pessoa_path(devolutiva.paciente) %>
        <button <%== hx_set get: caminho_edit, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>alterar</button>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-idade-paciente" %>
      <th>Idade do paciente</th>
      <td id="<%= curr_id %>" <%== hx_set swap_oob: true %>>
        <%= devolutiva.paciente.render_idade(devolutiva.data) %>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-responsavel" %>
      <th>Interessado(a)</th>
      <td id="<%= curr_id %>">
        <%= link_to pessoa_path(devolutiva.responsavel) do %>
          <%= devolutiva.responsavel.nome_completo %>
          <%= devolutiva.paciente.pessoa_parentesco_juncoes.find_by(parente: devolutiva.responsavel).try { |p| "(#{p.parentesco.parentesco.upcase})" } %>
        <% end %>
        <button <%== hx_set get: caminho_edit, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>alterar</button>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-profissional" %>
      <th>Profissional</th>
      <td id="<%= curr_id %>">
        <%= link_to devolutiva.profissional.descricao_completa, profissional_path(devolutiva.profissional) %>
        <button <%== hx_set get: caminho_edit, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>alterar</button>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-data-devolutiva" %>
      <th>Data</th>
      <td id="<%= curr_id %>">
        <% if usuario %>
          <input type="date" name="pessoa_devolutiva[data]" value="<%= devolutiva.data %>" <%== hx_set patch: caminho_patch, select: "##{curr_id}", target: "##{curr_id}", swap: "outerHTML", trigger: "change delay:500ms" %>>
        <% else %>
          <%= render_data_brasil devolutiva.data %>
        <% end %>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-pontos-abordar" %>
      <th>Pontos a abordar</th>
      <td id="<%= curr_id %>">
        <%== markdown_to_html(devolutiva.pontos_a_abordar).gsub(/{%\s*(paciente|pessoa|cliente)\s*%}/, devolutiva.paciente.nome).gsub(/{%\s*(responsavel|responsável|interessado|entrevistado)\s*%}/, devolutiva.responsavel.nome) %>
        <button <%== hx_set get: caminho_edit, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>alterar</button>
      </td>
    </tr>

    <tr>
      <% curr_id = "#{cl}-feedback-responsavel" %>
      <th>Feedback do responsável</th>
      <td id="<%= curr_id %>">
        <%== markdown_to_html devolutiva.substituir_template_por_dados(:feedback_responsavel) %>
        <button <%== hx_set get: caminho_edit, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>alterar</button>
      </td>
    </tr>

    <tr>
    <% curr_id = "#{cl}-orientacoes-profissional" %>
    <th>Orientações</th>
    <td id="<%= curr_id %>">
      <%== markdown_to_html devolutiva.substituir_template_por_dados(:orientacoes_profissional) %>
    <button <%== hx_set get: caminho_edit, target: "##{curr_id}", select: "##{curr_id}", swap: "outerHTML" %>>alterar</button>
    </td>
    </tr>
  </tbody>
</table>

