<div id="<%= dom_id atendimento_local %>">
  <p>
    <strong>Atendimento local tipo:</strong>
    <%= atendimento_local.atendimento_local_tipo_id %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= atendimento_local.descricao %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= atendimento_local.pais_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= atendimento_local.estado %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= atendimento_local.cidade %>
  </p>

  <p>
    <strong>Endereco cep:</strong>
    <%= atendimento_local.endereco_cep %>
  </p>

  <p>
    <strong>Endereco logradouro:</strong>
    <%= atendimento_local.endereco_logradouro %>
  </p>

  <p>
    <strong>Endereco numero:</strong>
    <%= atendimento_local.endereco_numero %>
  </p>

  <p>
    <strong>Endereco complemento:</strong>
    <%= atendimento_local.endereco_complemento %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= atendimento_local.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= atendimento_local.longitude %>
  </p>
</div>
