<div id="<%= dom_id atendimento_local %>" class="card">
  <h2><%= atendimento_local.descricao %></h2>
  <h3 class="icon-location">
    <%= atendimento_local.endereco_completo %>
  </h3>
  <%= atendimento_local.endereco_cep&.to_s&.insert(0, 'CEP: ') || '' %>

  <%= link_to "Ver no mapa", atendimento_local.geolink_por_coordenadas || "https://openstreetmap.org/search?query=#{sanitize atendimento_local.endereco_completo}", class: 'icon-location2', target: :blank %>
  <%= link_to "Atendimentos no local", atendimentos_atendimento_local_path(atendimento_local), class: 'icon-drawer' %>
  <% if usuario_atual&.secretaria? %>
    <%= link_to "Visualizar", atendimento_local, class: 'icon-location' %>
  <% end %>
</div>
