<p style="color: green"><%= notice %></p>

<%= render @acompanhamento_finalizacao_motivo %>

<div>
  <%= link_to "Edit this acompanhamento finalizacao motivo", edit_acompanhamento_finalizacao_motivo_path(@acompanhamento_finalizacao_motivo) %> |
  <%= link_to "Back to acompanhamento finalizacao motivos", acompanhamento_finalizacao_motivos_path %>

  <%= button_to "Destroy this acompanhamento finalizacao motivo", @acompanhamento_finalizacao_motivo, method: :delete %>
</div>
