<div id="<%= dom_id pessoa_medicacao %>">
  <p>
    <strong>Pessoa:</strong>
    <%= pessoa_medicacao.pessoa_id %>
  </p>

  <p>
    <strong>Medicacao:</strong>
    <%= pessoa_medicacao.medicacao %>
  </p>

  <p>
    <strong>Dose:</strong>
    <%= pessoa_medicacao.dose %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= pessoa_medicacao.motivo %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= pessoa_medicacao.data_inicio %>
  </p>

  <p>
    <strong>Data final:</strong>
    <%= pessoa_medicacao.data_final %>
  </p>

</div>
