<div id="<%= dom_id neuropsicologico_adulto_anamnese %>">
  <p>
    <strong>Atendimento:</strong>
    <%= neuropsicologico_adulto_anamnese.atendimento_id %>
  </p>

  <p>
    <strong>Escolaridade anos:</strong>
    <%= neuropsicologico_adulto_anamnese.escolaridade_anos %>
  </p>

  <p>
    <strong>Historico profissional:</strong>
    <%= neuropsicologico_adulto_anamnese.historico_profissional %>
  </p>

  <p>
    <strong>Aspectos psicoemocionais:</strong>
    <%= neuropsicologico_adulto_anamnese.aspectos_psicoemocionais %>
  </p>

  <p>
    <strong>Historico ocupacional:</strong>
    <%= neuropsicologico_adulto_anamnese.historico_ocupacional %>
  </p>

  <p>
    <strong>Historico medico:</strong>
    <%= neuropsicologico_adulto_anamnese.historico_medico %>
  </p>

  <p>
    <strong>Aspectos psicossociais:</strong>
    <%= neuropsicologico_adulto_anamnese.aspectos_psicossociais %>
  </p>

  <p>
    <strong>Antecedentes familiares:</strong>
    <%= neuropsicologico_adulto_anamnese.antecedentes_familiares %>
  </p>

  <p>
    <strong>Comorbidades:</strong>
    <%= neuropsicologico_adulto_anamnese.comorbidades %>
  </p>

  <p>
    <strong>Desenvolvimento neuropsicomotor:</strong>
    <%= neuropsicologico_adulto_anamnese.desenvolvimento_neuropsicomotor %>
  </p>

  <p>
    <strong>Medicacoes em uso:</strong>
    <%= neuropsicologico_adulto_anamnese.medicacoes_em_uso %>
  </p>

  <p>
    <strong>Uso drogas ilicitas:</strong>
    <%= neuropsicologico_adulto_anamnese.uso_drogas_ilicitas %>
  </p>

  <p>
    <strong>Autonomia atividades:</strong>
    <%= neuropsicologico_adulto_anamnese.autonomia_atividades %>
  </p>

  <p>
    <strong>Alimentacao:</strong>
    <%= neuropsicologico_adulto_anamnese.alimentacao %>
  </p>

  <p>
    <strong>Sono:</strong>
    <%= neuropsicologico_adulto_anamnese.sono %>
  </p>

  <p>
    <strong>Habilidades afetadas:</strong>
    <%= neuropsicologico_adulto_anamnese.habilidades_afetadas %>
  </p>

  <p>
    <strong>Quem encaminhou:</strong>
    <%= neuropsicologico_adulto_anamnese.quem_encaminhou %>
  </p>

  <p>
    <strong>Motivo encaminhamento:</strong>
    <%= neuropsicologico_adulto_anamnese.motivo_encaminhamento %>
  </p>

  <p>
    <strong>Diagnostico preliminar:</strong>
    <%= neuropsicologico_adulto_anamnese.diagnostico_preliminar %>
  </p>

  <p>
    <strong>Plano tratamento:</strong>
    <%= neuropsicologico_adulto_anamnese.plano_tratamento %>
  </p>

  <p>
    <strong>Prognostico:</strong>
    <%= neuropsicologico_adulto_anamnese.prognostico %>
  </p>

</div>
