<p style="color: green"><%= notice %></p>

<%= render @neuropsicologico_adulto_anamnese %>

<div>
  <%= link_to "Edit this neuropsicologico adulto anamnese", edit_neuropsicologico_adulto_anamnese_path(@neuropsicologico_adulto_anamnese) %> |
  <%= link_to "Back to neuropsicologico adulto anamneses", neuropsicologico_adulto_anamneses_path %>

  <%= button_to "Destroy this neuropsicologico adulto anamnese", @neuropsicologico_adulto_anamnese, method: :delete %>
</div>
