<% titulo "Financeiro" %>

<h1>Financeiro</h1>
<%= render "navbar" %>
<!-- tabela de profissionais e o quanto ganham no mês -->
<div class="grid-2">
  <div class="financeiro-tabelas">
    <%= render "tabela-resumo", profissionais: @profissionais, acompanhamentos: @acompanhamentos %>
    <br />
    <% if !app_config.clinica_recebimentos_diretos %>
      <%= render "tabela-repasses", profissionais: @profissionais, acompanhamentos: @acompanhamentos %>
      <br />
    <% end %>
    <% if usuario_atual.financeiro? %>
      <%= render "tabela-gastos" %>
    <% end %>
  </div>

  <div class="<%= app_config.clinica_recebimentos_diretos ? "grid-2" : "grid-3" %>">
    <div class="card">
      <h2>Últimos Recebimentos</h2>
      <div class="recebimentos-container">
        <% @recebimentos.each do |recebimento| %>
          <div class="card card-destaque">
            <span class="icon-calendar"><%= render_data_brasil recebimento.data %></span>
            <br>
            <span class="icon-user"><%= recebimento.pagante.nome_completo %></span>
            <br>
            <span class="icon-coin-dollar"><%= render_dinheiro_centavos recebimento.valor %></span>
            <br>
            <span class="icon-tag"><%= recebimento.modalidade || "Meio desconhecido" %></span>
          </div>
        <% end %>
        <div class="text-center">
          <%= link_to "ver mais", recebimentos_path, class: "button" %>
        </div>
      </div>
    </div>

    <div class="card">
      <h2>Últimos atendimentos</h2>
      <div class="atendimento-valores-container">
        <% @atendimento_valores.each do |atendimento_valor| %>
          <div class="card card-destaque">
            <span class="icon-calendar"><%= render_data_brasil atendimento_valor.data %>
            <%= render_hora_brasil atendimento_valor.horario %></span>
            <br>
            <span class="icon-user"><%= atendimento_valor.pessoa.nome_abreviado %></span>
            <br>
            <span class="icon-coin-dollar"><%= render_dinheiro_centavos atendimento_valor.valor %></span>
            <br>
            <span class="icon-archive"><%= atendimento_valor.atendimento.tipo.upcase %></span>
          </div>
        <% end %>
        <div class="text-center">
          <%= link_to "mais...", atendimento_valores_path, class: "button full-width" %>
        </div>
      </div>
    </div>

    <% if !app_config.clinica_recebimentos_diretos %>
      <div class="card">
        <h2>Últimos repasses</h2>
        <% @profissional_financeiro_repasses.each do |repasse| %>
          <div class="card card-destaque">
            <span class="icon-calendar"><%= render_data_brasil repasse.data %></span>
            <br>
            <span class="icon-tie"><%= repasse.profissional.nome_abreviado %>
            <%= repasse.profissional.documento %></span>
            <br>
            <span class="icon-coin-dollar"><%= render_dinheiro_centavos repasse.valor %></span>
          </div>
        <% end %>
        <div class="text-center">
          <%= link_to "ver mais", profissional_financeiro_repasses_path, class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
