<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Gerais", estatisticas_path, class: "icon-cabinet" %>
    </li>
    <li>
      <%= link_to "Clínica", clinica_estatisticas_path, class: "icon-office" %>
    </li>
    <li>
      <%= link_to "Acompanhamentos", acompanhamentos_estatisticas_path, class: "icon-profile" %>
    </li>
    <li>
      <%= link_to "Atendimentos", atendimentos_estatisticas_path, class: "icon-drawer" %>
    </li>
    <li>
      <%= link_to "Profissionais", profissionais_estatisticas_path, class: "icon-user-tie" %>
    </li>
    <li>
      <%= link_to "Pacientes", pacientes_estatisticas_path, class: "icon-user" %>
    </li>
    <li>
      <%= link_to "Instrumentos", instrumentos_estatisticas_path, class: "icon-file-empty" %>
    </li>
    <li>
      <%= link_to "Financeiro", financeiro_estatisticas_path, class: "icon-coin-dollar" %>
    </li>
  </ul>
</nav>
