<% titulo "Estatísticas" %>

<h1>Estatísticas</h1>

<%= render "navbar" %>

<div id="estatisticas-gerais" class="text-center">
  <h2>Estatísticas gerais</h2>
  <div class="grid-3">
    <div class="card">
      <h2>Atendimentos</h2>

      <% contagem_atendimentos_totais = Atendimento.count %>
      <b><%= contagem_atendimentos_totais %></b> <%= contagem_atendimentos_totais != 1 ? "atendimentos registrados" : "atendimento registrado" %>

      <br>
      <% contagem_atendimentos_passados = Atendimento.passados.count %>
      <b><%= contagem_atendimentos_passados %></b> <%= contagem_atendimentos_passados != 1 ? "atendimentos" : "atendimento" %> no passado

      <br>
      <% contagem_atendimentos_realizados = Atendimento.realizados.count %>
      <% contagem_atendimentos_nao_realizados = Atendimento.nao_realizados.passados.count %>
      <b><%= contagem_atendimentos_realizados %></b> <%= contagem_atendimentos_realizados != 1 ? "atendimentos realizados" : "atendimento realizado" %>,
      <b><%= contagem_atendimentos_nao_realizados %></b> <%= contagem_atendimentos_nao_realizados != 1 ? "atendimentos não realizados" : "atendimento não realizado" %>

      <br>
      <% contagem_atendimentos_futuros = Atendimento.futuros.count %>
      <b><%= contagem_atendimentos_futuros %></b> <%= contagem_atendimentos_futuros != 1 ? "atendimentos futuros" : "atendimento futuro" %>
      <br>

      <% contagem_atendimentos_de_hoje = Atendimento.de_hoje.count %>
      <b><%= contagem_atendimentos_de_hoje %></b> <%= contagem_atendimentos_de_hoje != 1 ? "atendimentos" : "atendimento" %> hoje
    </div>

    <div class="card">
      <h2>Acompanhamentos</h2>
      <% contagem_acompanhamentos_gerais = Acompanhamento.count %>
      <b><%= contagem_acompanhamentos_gerais %></b> <%= contagem_acompanhamentos_gerais != 1 ? "acompanhamentos registrados" : "acompanhamento registrado" %>

      <br>
      <% contagem_acompanhamentos_em_andamento = Acompanhamento.em_andamento.count %>
      <b><%= contagem_acompanhamentos_em_andamento %></b> <%= contagem_acompanhamentos_em_andamento != 1 ? "acompanhamentos" : "acompanhamento" %> em andamento

      <br>
      <% contagem_acompanhamentos_finalizados = Acompanhamento.finalizados.count %>
      <b><%= contagem_acompanhamentos_finalizados %></b> <%= contagem_acompanhamentos_finalizados != 1 ? "acompanhamentos finalizados" : "acompanhamento finalizado" %>
    </div>

    <div class="card">
      <h2>Clínica</h2>
      <b><%= contagem_profissionais = Profissional.count %></b> <%= contagem_profissionais == 1 ? "profissional" : "profissionais" %>
      <br>
      <b><%= contagem_locais = AtendimentoLocal.count %></b> <%= contagem_locais == 1 ? "local" : "locais" %> de atendimento
      <br>
      <b><%= contagem_laudos = Laudo.count %></b> <%= contagem_laudos == 1 ? "laudo" : "laudos" %>
      <br>
      <b><%= contagem_devolutivas = PessoaDevolutiva.count %></b> <%= contagem_devolutivas == 1 ? "devolutiva" : "devolutivas" %>
      <br>
      <b><%= contagem_anamneses = InfantojuvenilAnamnese.count + AdultoAnamnese.count %></b> <%= contagem_anamneses == 1 ? "anamnese" : "anamneses" %>
    </diV>
  </div>
</div>

<div id="estatisticas-atendimentos">
  <h2>Atendimentos <%= render_data_brasil params[:atendimentos_desde] %> a <%= render_data_brasil params[:atendimentos_ate] %></h2>

  <form <%= hx_set get: estatisticas_path, select: "#estatisticas-atendimentos", target: "#estatisticas-atendimentos", swap: "outerHTML" %>>
    <input type="date" value="<%= params[:atendimentos_desde] %>" name="atendimentos_desde">
    <input type="date" value="<%= params[:atendimentos_ate] %>" name="atendimentos_ate">
    <input type="submit" value="Atualizar">
  </form>
  <div class="text-center">
  <%= link_to "Baixar CSV", atendimentos_path(format: :csv, ate: params[:atendimentos_ate], de: params[:atendimentos_desde]), class: "button icon-table2" %>
  </div>

  <%= line_chart @atendimentos.group(:data).count.map { |k,v| [render_data_brasil(k), v] }, title: "Atendimentos #{render_data_brasil params[:atendimentos_desde]} a #{render_data_brasil params[:atendimentos_ate]}", xtitle: "Data", ytitle: "Nº de atendimentos", download: {filename: "lapidar_estatisticas_atendimentos_#{params[:atendimentos_desde]}_#{params[:atendimentos_ate]}", background: "#FFFFFF"} %>

  <div id="estatisticas-atendimentos-tipos">
    <h3>Tipos de atendimento realizados</h3>
    <%= bar_chart @atendimentos.contagem_por_tipo.map { |a| [a.first.tipo.upcase, a.last] }, title: "Tipos de atendimentos realizados entre #{render_data_brasil params[:atendimentos_desde]} e #{render_data_brasil params[:atendimentos_ate]}", download: "miau" %>
  </div>

  <div id="estatisticas-atendimentos-profissionais">
    <h3>Atendimentos por profissional</h3>
    <%= bar_chart @atendimentos.contagem_por_profissional.map { |k,v| [k.descricao_completa, v] } %>
  </div>

  
</div>

<div id="estatisticas-acompanhamentos">
  <h2>Estatísticas dos acompanhamentos</h2>
  <div class="text-center">
    <%= link_to "Baixar CSV", acompanhamentos_path(format: :csv), class: "icon-table2 button" %>
  </div>

  <div>
    <h3>Profissionais</h3>
    <%= bar_chart @acompanhamentos.contagem_por_profissional.map { |a| [a.first.descricao_completa, a.last] } %>
  </div>

  <div>
    <h3>Status</h3>
    <%= bar_chart @acompanhamentos.contagem_por_status.map { |a| [a.first&.motivo&.insert(0, "finalizados por ")&.upcase || "Em andamento".upcase, a.last] } %>

    <div>
      <p>
      <strong>Suspensos</strong>:
      <%= @acompanhamentos.suspensos.count %>
      </p>
    </div>
  </div>

  <div>
    <h3>Acompanhamentos por tipo</h3>
    <%= bar_chart @acompanhamentos.contagem_por_tipo.map { |a| [a.first&.tipo&.upcase, a.last] } %>
  </div>
</div>

<div id="estatisticas-financeiro">
  <h2>Financeiro</h2>

  <form <%= hx_set get: estatisticas_path, select: "#estatisticas-financeiro", target: "#estatisticas-financeiro", swap: "outerHTML" %>>
    <input type="date" value="<%= params[:financeiro_desde] %>" name="financeiro_desde">
    <input type="date" value="<%= params[:financeiro_ate] %>" name="financeiro_ate">
    <input type="submit" value="Atualizar">
  </form>

  <h3>
    Recebimentos
    <%= link_to "Baixar CSV", recebimentos_path(format: :csv, ate: params[:financeiro_ate], de: params[:financeiro_desde]), class: "button icon-table2" %>
  </h3>
  
  Total: <b><%= render_dinheiro_centavos @recebimentos.sum(:valor) %></b>
  <%= line_chart @recebimentos.group(:data).sum("valor / 100.0").map { |k,v| [render_data_brasil(k), v] }, prefix: "R$ ", thousands: ".", decimal: ",", round: 2, zeros: true, title: "Recebimentos #{render_data_brasil params[:financeiro_desde]} a #{render_data_brasil params[:financeiro_ate]}", xtitle: "Data", ytitle: "Total em R$" %>

  <% if !app_config.clinica_recebimentos_diretos %>
    <h3>Repasses aos profissionais</h3>
    Total: <b><%= render_dinheiro_centavos @repasses.sum(:valor) %></b>
    <%= bar_chart @repasses.group(:profissional).sum("valor / 100.0").map { |r| [r[0].descricao_completa, r.last] }, prefix: "R$ ", thousands: ".", decimal: ",", round: 2, zeros: true %>
  <% end %>

  <h3>
    Valores de atendimentos
    <%= link_to "Baixar CSV", atendimento_valores_path(format: :csv, ate: params[:financeiro_ate], de: params[:financeiro_desde]), class: "button icon-table2" %>
  </h3>
  Total: <b><%= render_dinheiro_centavos @atendimento_valores.sum(:valor) %>
  <%= line_chart @atendimento_valores.group(:data).sum("valor / 100.0").map { |k,v| [render_data_brasil(k.to_date), v] }, prefix: "R$ ", thousands: ".", decimal: ",", round: 2, zeros: true %>
</div>

<div id="estatisticas-cadastros">
  <h2>Cadastros</h2>

  <div class="text-center">
    <%= link_to "Baixar CSV", pessoas_path(format: :csv), class: "button icon-table2" %>
  </div>

  <div class="grid-2">
    <div>
      <h3>Quantidade cadastrada por sexo</h3>
      <%= bar_chart Pessoa.contagem_por_sexo.map { |k,v| [k ? :feminino : :masculino, v] } %>
    </div>

    <div>
      <h3>Acompanhamentos por sexo</h3>
      <%= bar_chart Pessoa.joins(:acompanhamentos).contagem_por_sexo.map { |k,v| [k ? :feminino : :masculino, v] } %>
    </div>

    <div>
      <h3>Acompanhamentos em andamento por sexo</h3>
      <%= bar_chart Pessoa.joins(:acompanhamentos).where(acompanhamentos: { finalizacao_motivo_id: nil }).contagem_por_sexo.map { |k,v| [k ? :feminino : :masculino, v] } %>
    </div>
  </div>
</div>
