<% titulo "Estatísticas: Pacientes" %>
<h1>Estatísticas: Pacientes</h1>
<%= render "navbar" %>

<nav class="navbar navcenter">
  <ul>
    <li>
      <%= link_to "Baixar CSV", pessoas_path(format: :csv), class: "icon-download3" %>
      <ul>
        <li>
          <%= link_to "Todos", pessoas_path(format: :csv), class: "icon-table2" %>
        </li>
        <li>
          <%= link_to "Do sexo masculino", pessoas_path(format: :csv, sexo: :masculino), class: "icon-table2" %>
        </li>
        <li>
          <%= link_to "Do sexo feminino", pessoas_path(format: :csv, sexo: :feminino), class: "icon-table2" %>
        </li>
        <li>
          <%= link_to "Pacientes", pessoas_path(format: :csv, pacientes: true), class: "icon-table2" %>
        </li>
        <li>
          <%= link_to "Profissionais", pessoas_path(format: :csv, profissionais: true), class: "icon-table2" %>
        </li>
        <li>
          <%= link_to "Não profissionais (pacientes e não pacientes)", pessoas_path(format: :csv, profissionais: false), class: "icon-table2" %>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="grid-3">
  <div class="card">
    <h2>Cadastros</h2>
    <ul>
      <li>
        <%= deixar_no_plural Pessoa.count, "pessoa cadastrada", "pessoas cadastradas" %>
      </li>
      <li>
        <%= Pessoa.homens.count %> do sexo masculino
      </li>
      <li>
        <%= Pessoa.mulheres.count %> do sexo feminino
      </li>
      <li>
        <%= deixar_no_plural @profissionais.count, "profissional cadastrado", "profissionais cadastrados" %>
      </li>
      <li>
        <%= @nao_profissionais.count %> cadastros de não profissionais
      </li>
      <li>
        <%= @pacientes.count %> cadastros de pacientes
      </li>
    </ul>
  </div>

  <div class="card">
    <h2>Acompanhados</h2>
    <ul>
      <li>
        <%= deixar_no_plural Pessoa.joins(:acompanhamentos).distinct.count, "pessoa", "pessoas" %> com acompanhamento registrado
      </li>
      <li>
        <%= @pacientes.where(acompanhamentos: Acompanhamento.em_andamento).distinct.count %> com acompanhamento em andamento
      </li>
      <li>
        <%= @pacientes.where(acompanhamentos: Acompanhamento.finalizados).distinct.count %> com acompanhamento finalizado
      </li>
    </ul>
  </div>

  <div class="card">
    <h2>Pacientes por local</h2>
    <ul>
      <% @pacientes.group(:pais).count.each do |pais, v| %>
        <li>
          <%= pais.nome %>: <%= v %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="grid-2">
  <%= bar_chart Pessoa.contagem_por_sexo.map { |k,v| [k ? "Feminino" : "Masculino", v] }, title: "Cadastros por sexo", ytitle: "Sexo", xtitle: "Nº de cadastros" %>

  <%= bar_chart Pessoa.contagem_por_pais.map { |pais, v| [pais.nome, v] }, title: "Cadastros por país de residência", ytitle: "País", xtitle: "Nº de cadastros" %>

</div>

<%= column_chart Pessoa.group(:endereco_estado, :pais_id).count.map { |local,v| ["#{local[0] || "S.I."} - #{Pais.find(local[1]).nome}", v] }, title: "Cadastros por estado de residência", ytitle: "Estado - País", xtitle: "Nº de cadastros" %>

<%= column_chart Pessoa.group(:endereco_cidade, :endereco_estado).count.map { |cidade_estado, v| [cidade_estado.map { |v| v || "S.I."}.join("/") || "Sem cidade registrada", v] }, title: "Cadastros por cidade de residência", ytitle: "Cidade/Estado", xtitle: "Nº de cadastros" %>
