<% titulo "Ajuda" %>
<div class="texto-ajuda" style="text-align:justify;">
  <h1 id="main-title">Ajuda</h1>

  <nav class="navbar navcenter">
    <ul>
      <li>
        <%= link_to "Markdown", ajuda_path(format: :md) %>
      </li>
      <li>
        <%= link_to "PDF", ajuda_path(format: :pdf), target: :blank %>
      </li>
    </ul>
  </nav>

  <p>Olá, <%= usuario_atual.profissional.funcao.downcase %> <%= usuario_atual.nome_completo %>!</p>
  <p>
  Esta é a página de ajuda para te familiarizar com a
  aplicação e o que pode ser feito com ela.
  </p>

  <!-- renderizado de parcial em Markdown -->

  <%#= render "application/ajuda-texto" %>

  <%== Kramdown::Document.new(@texto).to_html %>
</div>
