<% content_for titulo "" %>
<h1 style="font-size:3em;text-align:center;"><%= Rails.application.config.app_name || Rails.application.class_module_name %></h1>

<% if @database_exists && Usuario.count > 0 %>
  <!-- atendimentos de hoje -->
  <%= render "atendimentos-hoje-tabela", atendimentos: @atendimentos_hoje %>

  <% if !usuario_atual.nil? %>
    <% if !@reajustes_futuros.empty? %>
      <div id="profissional-reajustes">
        <h2>Reajustes futuros</h2>
        <div class="grid-6">
          <% @reajustes_futuros.each do |reajuste| %>
            <%= render 'acompanhamento_reajustes/card', acompanhamento_reajuste: reajuste %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if Pessoa.aniversariantes.count > 0 %>
      <!-- aniversariantes -->
      <div class="aniversariantes">
        <h2 class="icon-cake">Aniversariantes de hoje!</h2>
        <ul class="lista-aniversariantes">
          <% Pessoa.aniversariantes.each do |aniversariante| %>
            <li>
              <%= aniversariante.nome_abreviado %> - <%= aniversariante.render_idade %>
              <% if aniversariante.usa_whatsapp? %>
                <%= link_to "Mandar Whatsapp", "https://wa.me/#{aniversariante.render_fone_link}", class: "icon-whatsapp", alt: :whatsapp %>
              <% end %>
              <% if aniversariante.usa_telegram? %>
                <%= link_to "Mandar telegram", "https://t.me/#{aniversariante.render_fone_link[1..]}", class: "icon-telegram", alt: :telegram %>
              <% end %>
              <% if aniversariante.email != "nao@informado.com" %>
                <%= mail_to aniversariante.email, "Enviar e-mail", class: "icon-mail", alt: :email %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <!-- calendário semanal? -->
    <div id="atendimento-informacoes-semana">
      <h2><%= @start_date.to_date.year %> - Semana <%= @start_date.to_date.strftime("%U") %></h2>
      <h3><%= @atendimentos.count %> atendimento(s) nesta semana</h3>
      <p>
      <% atendidos = @atendimentos.where(presenca: true).count %>
      <% nao_atendidos = @atendimentos.ate_hoje.nao_realizados.ate_agora.count %>
      <% futuros = @atendimentos.where(data: [Date.today..]).count %>
      <%= atendidos %> <%= 'realizados'.pluralize(atendidos) %>,
      <%= nao_atendidos %> <%= 'não realizado'.pluralize(nao_atendidos) %>,
      <%= futuros %> <%= 'futuro'.pluralize(futuros) %>.
      </p>
    </div>

    <input type="week" hx-post="?start_date=" hx-target="#calendario-atendimentos-semana" hx-swap="outerHTML" hx-replace-url="true" name="start_date">

    <%= link_to "+ atendimento", new_atendimento_path %>

    <%= render "calendario-atendimentos-semana", events: @atendimentos %>
  <% else %>
    <%= render "index-padrao" %>
  <% end %>
<% else %>
  <div id="configurar-aplicacao">
    <p>
    Olá!
    Parece que esta é a primeira vez que o sistema está rodando.
    Teremos que preparar algumas configurações para podermos continuar.
    </p>
    <p>
    Para continuar clique no botão abaixo.
    </p>
    <button <%== hx_set get: configurar_path(p: :pessoa), target: "#configurar-aplicacao" %>>
      Configurar
    </button>
  </div>
<% end %>
